<div class="wrapper">
    <div class="header">
        <h3> Neue Preisreihe hinzufügen </h3>
        <button ion-button clear class="close-button" (click)="closeClicked$.emit()">
            Schliessen
            <pef-icon name="close_screen"></pef-icon>
        </button>
    </div>
    <div class="content">
        <div class="search-row">
            <pef-search-input (valueChanges)="searchString$.emit($event)"></pef-search-input>
            <div class="search-summary"><span class="label">Anzahl Ergebisse:</span>&nbsp;<span class="number">{{ numberOfEp$ | async }}</span></div>
        </div>
        <!--<div pef-perfect-scrollbar class="scroll-container" [enabled]="true">-->
            <!--<ion-item *ngFor="let warenkorbItem of (warenkorb$ | async)" class="{{ 'warenkorb-item-row tiefencode-' + warenkorbItem.tiefencode + ' ' + (warenkorbItem.type == 'LEAF' ? 'leaf' : 'branch') }}" (click)="warenkorbItemClicked$.emit(warenkorbItem)" [attr.tappable]="warenkorbItem.type == 'LEAF' ? null : true">-->
        <ion-content>
            <ion-list [virtualScroll]="warenkorbUiItems$ | async" [approxItemHeight]="'50px'">
                <ion-item
                    *virtualItem="let warenkorbUiItem"
                    class="{{ 'warenkorb-item-row tiefencode-' + warenkorbUiItem.depth + ' ' + (warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF' ? 'leaf' : 'branch') }}"
                    (click)="warenkorbItemClicked$.emit(warenkorbUiItem)"
                    [attr.tappable]="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF' ? null : true">
                    <span class="icon">
                        <pef-icon *ngIf="iconMap[warenkorbUiItem.warenkorbInfo.warenkorbItem.gliederungspositionsnummer]" [name]="iconMap[warenkorbUiItem.warenkorbInfo.warenkorbItem.gliederungspositionsnummer]"></pef-icon>
                    </span>
                    <span class="gliederungspositionsnummer">{{ warenkorbUiItem.warenkorbInfo.warenkorbItem.gliederungspositionsnummer }}<div *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF'">&nbsp;</div></span>

                    <span *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'BRANCH'" class="positionsbezeichnung">{{ warenkorbUiItem.warenkorbInfo.warenkorbItem.positionsbezeichnung | pefPropertyTranslate }}</span>
                    <button *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'BRANCH'" ion-button color="mercury" class="ep-expand-button" (click)="warenkorbItemEpExpand$.emit(warenkorbUiItem)" [disabled]="warenkorbUiItem.filteredLeafCount == 0">{{ warenkorbUiItem.filteredLeafCount }} EP</button>
                    <pef-icon class="open-close" *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'BRANCH'" [name]="warenkorbUiItem.isExpanded ? 'dropdown_close' : 'dropdown_open'"></pef-icon>

                    <div class="leaf-description" *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF'">
                        <div class="leaf-positionsbezeichnung">{{ (warenkorbUiItem.warenkorbInfo.warenkorbItem.positionsbezeichnung | pefPropertyTranslate) || '&ndash;' }}</div>
                        <div class="leaf-beispiele">{{ (warenkorbUiItem.warenkorbInfo.warenkorbItem.beispiele | pefPropertyTranslate) || '&ndash;' }}</div>
                    </div>
                    <div class="count-status" *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF'">
                        ({{ warenkorbUiItem.preismeldungCount }}/{{ warenkorbUiItem.warenkorbInfo.warenkorbItem.anzahlPreiseProPMS }})
                    </div>
                    <button ion-button icon-only *ngIf="warenkorbUiItem.warenkorbInfo.warenkorbItem.type == 'LEAF'" class="add-button" (click)="selectWarenkorbItem$.emit(warenkorbUiItem)">
                        <pef-icon name="add"></pef-icon>
                    </button>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</div>
