@import "../../../../../styles/imports.scss";

preismeldung-info-popover-left {
    &.hidden {
        visibility: hidden;
    }

    .info-toggle.active {
        background-color: $surfie-green;
        fill: white;
    }

    .info-popover {
        display: none;
        flex-direction: column;
        box-shadow: $whiteframe-shadow-2dp;
        position: absolute;
        background-color: white;
        z-index: 100;
        width: 100%;
        @include set-margin-top(0.25);
        z-index: 0;
        @include set-padding(1, 1, 1, 1);
    }
}
