@import '../../theme/imports.scss';

:host {
    background-color: $trout;
    display: flex;
    flex: 1;

    .wrapper {
        padding: 1.5em 2em;
        color: $white;
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2em;

        ion-button {
            color: $white;
            font-size: 14px;
        }

        h1 {
            font-size: 22px;
        }
    }

    .preiserheber-content {
        width: 100%;
        max-width: 1200px;
    }

    .actions {
        margin-top: 1rem;
    }

    ion-row {
        column-gap: 4rem;
    }

    ion-col {
        padding: 0;
    }

    select {
        margin-top: 8px;
        margin-bottom: 24px;
        max-width: 470px;
    }

    ion-label {
        display: block;
        font-size: 16px;
        margin-left: 7px;
    }

    ::ng-deep ion-input {
        margin-bottom: 24px;
        max-width: 470px;
        .label-text-wrapper {
            font-size: 16px;
            -webkit-transform: none !important;
            transform: none !important;
            padding: 0 7px;
            margin-bottom: 8px;
        }

        .native-wrapper {
            padding: 7px;
        }
    }
}
