<div class="page-wrapper">
    <ion-content class="page-content">
        <div class="content">
            <div class="preiserheber-list-container container">
                <div class="header">
                    <div class="title">
                        <h1 class="large">{{'label.pe.titel' | translate}}</h1>
                        <div class="count">({{ (preiserhebers$ | async)?.length || 0 }})</div>
                    </div>
                    <div class="buttons" *ngIf="hasWritePermission$ | async">
                        <ion-button
                            type="button"
                            class="danger"
                            (click)="deleteClicked$.emit($event)"
                            [disabled]="!(isEditing$ | async)!"
                            >{{'label.aktionen.loeschen' | translate}}</ion-button
                        >
                        <ion-button
                            type="button"
                            end
                            (click)="createPreiserheber$.emit($event)"
                            [disabled]="isEditing$ | async"
                            >{{'label.aktionen.erstellen' | translate}}</ion-button
                        >
                    </div>
                </div>
                <preiserheber-list
                    [list]="preiserhebers$ | async"
                    [current]="currentPreiserheber$ | async"
                    (selected)="selectPreiserheber$.emit($event)"></preiserheber-list>
            </div>
            <div class="preiserheber-detail-container container">
                <preiserheber-detail
                    *ngIf="(isEditing$ | async)"
                    [preiserheber]="currentPreiserheber$ | async"
                    [languages]="languages$ | async"
                    [erhebungsregionen]="erhebungsregionen$ | async"
                    [hasWritePermission]="hasWritePermission$ | async"
                    (save)="savePreiserheber$.emit($event)"
                    (cancel)="cancelPreiserheber$.emit($event)"
                    (update)="updatePreiserheber$.emit($event)"
                    (resetPassword)="resetPassword$.emit($event)"></preiserheber-detail>
            </div>
            <div class="preiserheber-preiszuweisung-container container">
                <preiserheber-preiszuweisung
                    [class.hidden]="
                        !((isEditing$ | async) && !(isCreating$ | async)! && (preiszuweisungIsInitialized$ | async))
                    "
                    [preiszuweisungen]="preiszuweisungen$ | async"
                    [preismeldestellen]="preismeldestellen$ | async"
                    [current]="currentPreiszuweisung$ | async"
                    [hasWritePermission]="hasWritePermission$ | async"
                    (save)="savePreiserheber$.emit()"
                    (assign)="assignPreismeldestelle$.emit($event)"
                    (unassign)="unassignPreismeldestelle$.emit($event)"></preiserheber-preiszuweisung>
            </div>
        </div>
    </ion-content>
</div>
