<form [formGroup]="form">
    <ion-list>
        <ion-list-header>
            Preismeldestellen zu Preiserheber
        </ion-list-header>
        <ion-item>
            <ion-label>Preiserheber</ion-label>
            <ion-select formControlName="preiserheber">
                <ion-option *ngFor="let preiserheber of preiserhebers$ | async" [value]="preiserheber">{{preiserheber.firstName}} {{preiserheber.surname}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Preismeldestellen</ion-label>
            <ion-select formControlName="preismeldestellen" multiple="true">
                <ion-option *ngFor="let preismeldestelle of selectablePreismeldestellen$ | async" [value]="preismeldestelle">{{preismeldestelle.pmsNummer}} {{preismeldestelle.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <button ion-button type="button" (click)="assignClicked$.emit($event)">Zuweisen</button>
        </ion-item>
        <ion-row *ngIf="peAssigned$ | async">
            <ion-col><span ion-text color="primary">Preiserheber erfolgreich zugeteilt</span></ion-col>
        </ion-row>
    </ion-list>
</form>
