ion-row {
    flex: 0 0 auto;
}

.zuweisung-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    .pef-advanced-item-flex-container {
        flex: 1 1 0;
    }

    .pef-advanced-item-flex-container {
        display: flex;
        flex-direction: row;

        pef-virtual-scroll {
            flex: 1;
        }
        .actions {
            @include set-margin(4, 0.25, 0, 0.25);
            flex: 0;
        }
    }
}
