preiserheber-preiszuweisung {

    ion-grid.grid {
        padding: 0;

        ion-row {
            padding-bottom: 0;

            ion-col {
                h2 {
                    margin: 0;
                }
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    .zuweisung-list {
        display: flex;
        flex: 1;
        flex-direction: row;
        .pef-advanced-item-flex-container {
            flex: 1 1 0;
        }

        .pef-advanced-item-flex-container {
            display: flex;
            flex-direction: row;

            ion-content {
                flex: 1;
            }
            .actions {
                @include set-margin(4, 0.25, 0, 0.25);
                flex: 0;
            }
        }
    }
}
