@import '../../theme/imports.scss';

:host {
    padding: 2em;
    background-color: white;

    ion-item.item.md {
        padding-left: 0;
        border-bottom: 2px solid $hit-gray;
    }

    ion-label {
        font-weight: 300;
    }

    button {
        float: right;
    }

    .header {
        display: flex;
        h3 {
            flex: 1;
        }
    }

    .actions {
        @include set-margin-top(1);
        display: flex;
        justify-content: space-between;

        a {
            flex: 0;
            white-space: nowrap;
            align-self: center;

            pef-icon {
                margin: -0.5em 0;
            }
        }
    }
}
