@import "../../../../theme/imports.scss";

preismeldung-toolbar {
    display: flex;
    flex-direction: column;
    background-color: $java;

    .preismeldung-buttons {
        display: flex;
        flex-direction: column;
    }

    .button-md.pef-tab-button {
        fill: white;
        color: white;
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-bottom: 4px solid white;
        border-radius: initial;
        margin: 0;
        height: auto;
        padding: 16px 0;
        &[disabled] {
            opacity: 1;
            background-color: #73CCD9;
            fill: $mercury;
            &.selected {
                background-color: $surfie-green;
            }
        }
        &:hover:not(.disable-hover) {
            opacity: 1;
            background-color: $blue-chill;
        }
        // &[disabled].pef-tab-button {
        //     opacity: 1;
        //     background-color: $blue-chill;
        // }
   }

    button[icon-only].pef-toolbar-button {
        height: 64px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        .pef-inner {
            display: flex;
            border-radius: 2px;
            background-color: $scooter;
            width: 36px;
            height: 36px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            justify-content: center;
            align-items: center;
        }
        &:hover:not(.disable-hover) {
            background: transparent;
            .pef-inner {
                background-color: $blue-chill;
            }
        }
        // &[disabled] {
        //     opacity: 1;
        //     .pef-inner {
        //         background-color: $blue-chill;
        //     }
        // }
    }

    .pef-tab-button + .button[icon-only].pef-toolbar-button {
        margin-top: 24px;
    }
}
