<ion-content>
    <form [formGroup]="form" [class.form-show-validation-hints]="showValidationHints$ | async" novalidate>
        <div class="header">
            <div class="header-line">
                <div class="product-heading">
                    {{ (preismeldung$ | async)?.warenkorbPosition.gliederungspositionsnummer }} {{ (preismeldung$ | async)?.warenkorbPosition.positionsbezeichnung | pefPropertyTranslate }}
                </div>
                <ion-item class="pef-item on-dark">
                    <ion-label> Artikelnummer </ion-label>
                    <ion-input
                        type="text"
                        formControlName="artikelnummer"></ion-input>
                </ion-item>
                <div class="right-column price-count-status" [ngClass]="{ 'ok': (preismeldung$ | async)?.priceCountStatus.ok, 'not-ok': !(preismeldung$ | async)?.priceCountStatus.ok }">
                    <span>{{ (preismeldung$ | async)?.priceCountStatus.numActivePrices }}/{{ (preismeldung$ | async)?.priceCountStatus.anzahlPreiseProPMS }}</span>
                </div>
            </div>
            <div class="header-line">
                <ion-item class="pef-item on-dark">
                    <ion-label> Artikeltext * </ion-label>
                    <ion-input
                        type="text"
                        formControlName="artikeltext"
                        [class.validation-error]="true"></ion-input>
                </ion-item>
                <div class="right-column">
                    <button ion-button icon-only class="pef-icon-secondary duplicate" (click)="duplicatePreismeldung$.emit()" [disabled]="(preismeldung$ | async)?.isModified">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <g fill="none" fill-rule="evenodd" transform="translate(6 5)">
                                <polygon class="background-plus" points="6 6 0 6 0 8 6 8 6 14 8 14 8 8 14 8 14 6 8 6 8 0 6 0"/>
                                <polygon class="foreground-plus" points="6 6 0 6 0 8 6 8 6 14 8 14 8 8 14 8 14 6 8 6 8 0 6 0" transform="translate(5 5)"/>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-detail-body">
            <div class="columns product-detail-row row-1">
                <div class="last-period">
                    <h5 class="large">Vorperiode</h5>
                    <preismeldung-info-popover
                        [class.hidden]="!(preismeldung$ | async)?.refPreismeldung || !(preismeldung$ | async)?.refPreismeldung.aktion"
                        [preismeldung]="preismeldung$ | async"
                        [forceClose]="distinctPreismeldung$ | async"
                        [extraWidth]="window.document.getElementById('last-period-middle-section').offsetWidth + 'px'"></preismeldung-info-popover>
                </div>
                <div class="middle-section" id="last-period-middle-section"></div>
                <div class="current-period">
                    <h5 class="large">Aktuelle Periode</h5>
                </div>
            </div>
            <div class="columns product-detail-row row-2">
                <div class="last-period" *ngIf="!(preismeldung$ | async)?.refPreismeldung">
                    Nicht zutreffend.
                </div>
                <div class="last-period" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
                    <div class="data-input-area">
                        <h6>{{ 'heading_artikel' | translate }}</h6>
                        <div class="last-period-price">
                            <div class="number">{{ (preismeldung$ | async)?.refPreismeldung.preis | pefFormatNumber: priceNumberFormattingOptions }}</div>
                            <div class="unit">CHF</div>
                        </div>
                        <div class="last-period-quantity">
                            <div class="number">{{ (preismeldung$ | async)?.refPreismeldung.menge | pefFormatNumber: mengeNumberFormattingOptions  }}</div>
                            <div class="unit">{{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}</div>
                        </div>
                        <div class="last-period-bottom-row">
                            <ion-list radio-group>
                                <ion-item>
                                    <ion-label>Aktion</ion-label>
                                    <ion-radio value="aktion" [disabled]="true" [checked]="(preismeldung$ | async).refPreismeldung.aktion"></ion-radio>
                                </ion-item>
                            </ion-list>
                            <div class="code">{{ formatFehlendePreiseR((preismeldung$ | async)?.refPreismeldung.fehlendePreiseR) }}</div>
                        </div>
                    </div>
                    <div class="box-container" *ngIf="showVPArtikelNeu$ | async">
                        <div class="box" [innerHTML]="formatPercentageChange((preismeldung$ | async)?.preismeldung.percentageVPNeuerArtikelToVPAlterArtikel)"></div>
                        <div class="arrow down"></div>
                    </div>
                </div>
                <div class="middle-section">
                    <div class="box-container" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
                        <div class="box" >
                            <div class="percentage-wrapper">
                                <div [innerHTML]="formatPercentageChange((preismeldung$ | async)?.preismeldung.percentageDPToVP)"></div>
                                <pef-floating-icon [icon-name]="(showPercentageWarning$ | async) ? 'warning' : ''"></pef-floating-icon>
                            </div>
                        </div>
                        <div class="arrow right"></div>
                    </div>
                </div>
                <div class="current-period">
                    <div class="data-input-area">
                        <h6 [innerHTML]="currentPeriodHeading$ | async | translate"></h6>
                        <ion-list>
                            <ion-item class="pef-item" [class.ng-invalid]="createInvalidObservableFor('preis') | async">
                                <ion-label class="currency-label">CHF</ion-label>
                                <ion-input #preis
                                    type="number"
                                    min="0.00" step="0.01"
                                    pef-highlight-on-focus
                                    pef-disable-input-number-behaviour
                                    pef-disable-input-negative-number
                                    [class.ng-invalid]="createInvalidObservableFor('preis') | async"
                                    [readonly]="preisAndMengeDisabled$ | async"
                                    (blur)="preisChanged$.emit(preis.value)"
                                    [value]="(preisCurrentValue$ | async)?.value"></ion-input>
                            </ion-item>
                            <div class="unit-item-wrapper">
                                <ion-item class="pef-item" [class.ng-invalid]="createInvalidObservableFor('menge') | async">
                                    <ion-input #menge
                                        type="number"
                                        step="any"
                                        pef-highlight-on-focus
                                        pef-disable-input-number-behaviour
                                        pef-disable-input-negative-number
                                        [class.ng-invalid]="createInvalidObservableFor('menge') | async"
                                        [readonly]="preisAndMengeDisabled$ | async"
                                        (blur)="mengeChanged$.emit(menge.value)"
                                        [value]="form.value.menge"></ion-input>
                                </ion-item>
                                <div class="unit-button-wrapper">
                                    <button class="unit-button" ion-button color="mercury" (click)="applyUnitQuickEqual$.emit()" [disabled]="preisAndMengeDisabled$ | async">{{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}</button>
                                </div>
                            </div>
                        </ion-list>
                        <div class="current-period-aktion-row">
                            <ion-list radio-group class="reduction-radio-group-list">
                                <ion-item>
                                    <ion-label>Aktion</ion-label>
                                    <ion-radio [checked]="form.value.aktion" (click)="toggleAktion$.emit()" [disabled]="preisAndMengeDisabled$ | async"></ion-radio>
                                </ion-item>
                            </ion-list>
                            <div class="code">{{ formatFehlendePreiseR((preismeldung$ | async)?.preismeldung.fehlendePreiseR) }}</div>
                        </div>
                        <bearbeitungs-type formControlName="bearbeitungscode" (change)="changeBearbeitungscode$.emit($event)" [codeListType]="codeListType$ | async" [nichtEmpfohleneBc]="(distinctPreismeldung$ | async)?.warenkorbPosition.nichtEmpfohleneBc"></bearbeitungs-type>
                    </div>
                </div>
            </div>
            <div class="columns product-detail-row row-3">
                <div class="last-period">
                    <div class="data-input-area" *ngIf="showVPArtikelNeu$ | async">
                        <h6 [innerHTML]="'heading_artikel-neu' | translate"></h6>
                        <ion-list>
                            <ion-item class="pef-item" [class.ng-invalid]="createInvalidObservableFor('preisVPNormalNeuerArtikel') | async">
                                <ion-label>CHF</ion-label>
                                <ion-input #preisVPNormalNeuerArtikel
                                    type="number"
                                    min="0.00" step="0.01"
                                    pef-highlight-on-focus
                                    pef-disable-input-number-behaviour
                                    pef-disable-input-negative-number
                                    [class.ng-invalid]="createInvalidObservableFor('preisVPNormalNeuerArtikel') | async"
                                    (blur)="preisVPNormalNeuerArtikelChanged$.emit(preisVPNormalNeuerArtikel.value)"
                                    [value]="(preisVPNormalNeuerArtikelCurrentValue$ | async)?.value"></ion-input>
                            </ion-item>
                            <div class="unit-item-wrapper">
                                <ion-item class="pef-item" [class.ng-invalid]="createInvalidObservableFor('mengeVPNormalNeuerArtikel') | async">
                                    <ion-input #mengeVPNormalNeuerArtikel
                                        type="number"
                                        step="any"
                                        pef-highlight-on-focus
                                        pef-disable-input-number-behaviour
                                        pef-disable-input-negative-number
                                        [class.ng-invalid]="createInvalidObservableFor('mengeVPNormalNeuerArtikel') | async"
                                        (blur)="mengeVPNormalNeuerArtikelChanged$.emit(mengeVPNormalNeuerArtikel.value)"
                                        [value]="form.value.mengeVPNormalNeuerArtikel"></ion-input>
                                </ion-item>
                                <div class="unit-button-wrapper">
                                    <button class="unit-button" ion-button color="mercury" (click)="applyUnitQuickEqualVP$.emit()" [disabled]="preisAndMengeDisabled$ | async">{{ (preismeldung$ | async).warenkorbPosition.standardeinheit | pefPropertyTranslate }}</button>
                                </div>
                            </div>
                        </ion-list>
                    </div>
                </div>
                <div class="middle-section">
                    <div class="middle-section-container-wrapper">
                        <div class="box-container" *ngIf="showVPArtikelNeu$ | async">
                            <div class="arrow up-right"></div>
                            <div class="box" [innerHTML]="formatPercentageChange((preismeldung$ | async)?.preismeldung.percentageDPToVPNeuerArtikel)"></div>
                        </div>
                    </div>
                </div>
                <div class="current-period">
                    <button ion-button color="java" class="save-button" [class.with-top-margin]="!(showChainedReplacementFields$ | async)" (click)="attemptSave$.emit($event)">Erfassung speichern</button>
                </div>
            </div>
            <div class="columns product-detail-row row-4">
                <div class="last-period"></div>
                <div class="middle-section"></div>
                <div class="current-period">
                    <button ion-button color="primary" class="save-button" [class.with-top-margin]="!(showChainedReplacementFields$ | async)" (click)="attemptSave$.emit($event)">Erfassung speichern</button>
                </div>
            </div>
        </div>
    </form>
</ion-content>
