<header pef-menu></header>
<div class="page-wrapper">
    <div class="page-content">
        <div class="region-list-container container">
            <div class="header">
                <h1 class="large">Regionen</h1>
                <button *ngIf="!(isEditing$ | async)" ion-button type="button" end (click)="createRegion$.emit($event)">Erstellen</button>
            </div>
            <region-list
                [list]="regionen$ | async"
                [current]="currentRegion$ | async"
                (selected)="selectRegion$.emit($event)"></region-list>
        </div>
        <div class="region-detail-container container">
            <region-detail *ngIf="isEditing$ | async"
                [region]="currentRegion$ | async"
                (save)="saveRegion$.emit($event)"
                (cancel)="cancelRegion$.emit($event)"
                (update)="updateRegion$.emit($event)"></region-detail>
        </div>
    </div>
</div>
