@import '../../../../theme/imports.scss';

:host {
    display: flex;
    flex-direction: column;
    background-color: $mercury;
    @include set-padding(0.625, 0.5, 0.625, 0.5);

    .preismeldung-list-flex-container {
        flex: 1;
        background-color: $mercury;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .is-dragging,
    .is-moving {
        :not(.selected) ion-item {
            opacity: 0.6;
        }

        :not(.selected).dragable-to-item {
            ion-item {
                opacity: 1;
            }
        }
        .moving {
            ion-item {
                background-color: $foam;
            }
            &.selected {
                ion-item {
                    background-color: $scooter;
                }
            }
        }
    }

    ion-item {
        --inner-padding-end: 0;
        background-color: #{$white};
    }

    ion-button.icon-only {
        --box-shadow: none;
        --border-radius: 2px;
    }

    .preismeldung-list-filter {
        display: flex;
        gap: 1.2em;
        align-items: center;
        @include set-margin-bottom(0.8);
        .pms-search {
            flex: 1;
        }

        ion-button {
            margin-top: 0;
            min-width: 36px;
            margin: 0;
        }

        pef-search-input {
            ::ng-deep ion-input {
                height: 48px;
                margin-bottom: 0;
            }
        }
    }

    .preismeldung-list-check-filter {
        @include set-margin-bottom(1.2);
        .filter-actions {
            display: flex;
            flex-wrap: wrap;
            gap: 1.2em;
            div {
                min-width: 36px;

                ion-button {
                    margin: 0 !important;
                    width: 100%;
                }
            }
        }

        .name-and-completed-count {
            @include set-padding-top(1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .pms-name {
        display: flex;
        gap: 0.3em;
    }

    // .adv-preismeldung-item-draggable is defined in global reorder.scss

    .preismeldung-list-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include set-padding(1, 0.5, 0, 0);

        ion-button {
            min-width: 36px;
            margin: 0;
        }

        @media (max-width: 800px) {
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 1.2rem;
        }
    }

    .preismeldung-list-functions {
        display: flex;
        gap: 1.2rem;
        align-items: center;

        @media (max-width: 800px) {
            gap: 0.8rem;
        }
    }

    .preismeldung-list-arrows {
        display: flex;
        gap: 2rem;
        ion-button {
            // min-width: 50px;
            // min-height: 50px;
            margin: 0;
        }
        @media (max-width: 800px) {
            gap: 0.8rem;
        }
    }

    .record {
        fill: $alizarin-crimson;
    }
}
