<preismeldung-readonly-header [preismeldung]="preismeldung$ | async" [preismeldestelle]="preismeldestelle$ | async" [isAdminApp]="isAdminApp$ | async"></preismeldung-readonly-header>

<ion-content pef-perfect-virtualscroll-scrollbar [enabled]="isDesktop$ | async">
    <form [formGroup]="form">
        <div class="detail-tab-bottom-part">
            <h3 class="large">{{ 'heading_preismeldung-attributes' | translate }}</h3>
            <ion-list>
                <ion-item class="pef-item" *ngFor="let att of (preismeldung$ | async)?.warenkorbPosition.productMerkmale; let i = index">
                    <ion-label>{{ att | pefPropertyTranslate }}</ion-label>
                    <ion-input type="text" [formControlName]="'attribute_' + i" (blur)="fieldEdited$.emit()"></ion-input>
                </ion-item>
            </ion-list>
        </div>
    </form>
</ion-content>
