form.stacked-form {
    .item-md.pef-item {
        .input-wrapper {
            height: auto;
        }

        &.item-checkbox {
            margin-top: 1em;

            ion-checkbox {
                margin-right: 0.3em;
            }
            ion-checkbox + .item-inner ion-label {
                font-weight: 500;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 1em;
                color: $outer-space;
            }
        }
    }

    select {
        border: none;
    }

    ion-input, ion-textarea, .pef-select {
        background-color: $white;
        border-bottom: 2px solid $hit-gray;
        padding-left: 8px;
        padding-right: 8px;
    }

    .pef-select {
        flex: 1;
        align-self: stretch;
    }
}

form {
    &.show-validation-hint ion-item.ng-invalid .input-wrapper {
        ion-label {
            color: $flamingo !important;
        }
        ion-input {
            border-bottom: 2px solid $flamingo;
        }
    }

    button[color='blue-chill'].button.button-md:hover:not(.disable-hover) {
        background-color: $surfie-green;
    }
}
