@import '../../../../theme/imports.scss';

:host {
    .pef-label {
        background-color: transparent;
        padding-left: 8px;
        min-height: auto;
        ion-label {
            font-weight: 500;
            color: $oslo-gray;
            line-height: 1.75em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .pef-search {
        height: 3em;
        border-radius: 2px;
        .item-inner {
            border-bottom-width: 0;
            box-shadow: none;
        }
        & > .item-inner {
            flex: 0 1 auto;
        }
        button.button-clear {
            background-color: transparent;
        }

        .filter {
            flex: 1;
            min-width: 0;
            margin-right: 0;

            .tags span {
                background-color: $blue-chill;
                color: $white;
                padding: 0 0.2em;
                margin-right: 0.1em;
            }
            ion-input.input-md {
                margin: 0;
                input {
                    margin: 0;
                    margin-top: 2px;
                }
            }
        }
    }

    .single-tag {
        flex: 1;
        display: flex;
        align-items: center;
        .tag-label {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text-input-clear-icon {
            position: relative;
            flex: 0 0 auto;
            display: block;
            padding: 0;
            width: 3em;
            background-position-x: 0.8em;
            background-position-y: 1px;
        }
    }

    .tags {
        ion-item {
            padding: 0;
            height: auto;
            min-height: auto;
            background-color: transparent;
            margin: 0.25em 0;
            &:first-child {
                margin-top: 0.5em;
            }

            ion-label {
                margin: 0;
                font-size: 1em;
                height: 100%;

                .tag {
                    height: 100%;
                    border-radius: 2px;
                    font-size: 0.75em;
                    padding: 8px 0;
                    background-color: $oslo-gray;
                    color: $white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .remove {
                    padding-left: 0.5em;
                    cursor: pointer;
                }
            }
        }
    }

    .dropdown-container {
        position: relative;

        .suggestions {
            position: absolute;
            top: 1px;
            z-index: 9999;
            width: 100%;
            height: 20em;

            ion-list {
                background-color: $white;

                ion-item {
                    margin: 0;
                }

                .pef-advanced-item {
                    min-height: 2em;
                    height: 2em;
                    color: $black;

                    ion-label .pef-item-title {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
