<ion-item class="pef-label" *ngIf="!!label">
    <ion-label>{{ label }}</ion-label>
</ion-item>
<ion-item class="pef-search">
    <div item-left class="filter">
        <ion-input
            *ngIf="multi || (!multi && !(selectedSuggestions$ | async)?.length)"
            item-left
            type="text"
            clearInput
            [attr.autofocus]="setFocus$ | async"
            [formControl]="filterText"
            (keydown)="keydown$.emit($event)"
            (focus)="inputFocus$.emit(true)"
        ></ion-input>
        <ng-container *ngIf="!multi">
            <div class="single-tag input-md" *ngFor="let suggestion of (selectedSuggestions$ | async)">
                <div class="tag-label" tabindex="0" #singleTag (keydown)="submitSingleTag$.emit($event)">
                    {{ suggestion.shortLabel || suggestion.label }}
                </div>
                <ion-button
                    class="text-input-clear-icon"
                    fill="clear"
                    type="button"
                    (click)="removeSuggestion$.emit(suggestion)"
                ></ion-button>
            </div>
        </ng-container>
    </div>
</ion-item>
<div class="dropdown-container">
    <!-- <ion-content pef-perfect-virtualscroll-scrollbar enabled="true" class="suggestions" [class.hidden]="(filteredSuggestions$ | async).length === 0"> -->
    <ion-content class="suggestions" [class.hidden]="(filteredSuggestions$ | async).length === 0">
        <ion-virtual-scroll [items]="filteredSuggestions$ | async" approxItemHeight="32px">
            <ion-item
                class="pef-advanced-item"
                *virtualItem="let suggestion; let i = index"
                (click)="selectSuggestion$.emit(suggestion)"
                tappable
                [class.selected]="(selectedIndex$ | async) === i"
            >
                <div class="pef-item-title">
                    {{ suggestion.label }}
                </div>
            </ion-item>
        </ion-virtual-scroll>
    </ion-content>
</div>
<div *ngIf="multi" class="tags">
    <ion-item *ngFor="let suggestion of (selectedSuggestions$ | async)">
        <div class="tag">
            <span class="remove" (click)="removeSuggestion$.emit(suggestion)">✖</span>
            {{ suggestion.shortLabel || suggestion.label }}
        </div>
    </ion-item>
</div>
