<div class="item-input">
    <ion-input
        *ngIf="multi || (!multi && !(selectedSuggestions$ | async)?.length); else notMulti"
        labelPlacement="stacked"
        label="{{ label ? label : '' }}"
        type="text"
        clearInput
        [attr.autofocus]="setFocus$ | async"
        [formControl]="filterText"
        (keydown)="keydown$.emit($event)"
        (focus)="inputFocus$.emit(true)"></ion-input>
    <ng-template #notMulti>
        <div class="single-tag input-md" *ngFor="let suggestion of (selectedSuggestions$ | async)">
            <div class="tag-label" tabindex="0" #singleTag (keydown)="submitSingleTag$.emit($event)">
                {{ suggestion.shortLabel || suggestion.label }}
            </div>
            <ion-button
                class="text-input-clear-icon"
                fill="clear"
                type="button"
                (click)="removeSuggestion$.emit(suggestion)"></ion-button>
        </div>
    </ng-template>
</div>
<div class="dropdown-container">
    <div
        class="suggestions"
        [hidden]="(filteredSuggestions$ | async).length === 0"
        (pefOnClickOutside)="onClickedOutside$.emit($event)">
        <div class="scroll-wrapper" #scrollWrapper>
            <cdk-virtual-scroll-viewport itemSize="32" minBufferPx="300" maxBufferPx="500" class="virtual-scroll">
                <ion-item
                    class="pef-advanced-item"
                    *cdkVirtualFor="let suggestion of filteredSuggestions$ | async; let i = index"
                    (click)="selectSuggestion$.emit(suggestion)"
                    lines="none"
                    [class.selected]="(selectedIndex$ | async) === i">
                    <div class="pef-item-description">
                        <span class="text">{{ suggestion.label }}</span>
                    </div>
                </ion-item>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <div *ngIf="multi" class="tags">
        <ion-item *ngFor="let suggestion of (selectedSuggestions$ | async)">
            <div class="tag">
                <button class="remove" type="button" (click)="removeSuggestion$.emit(suggestion)">
                    <pef-icon name="close_screen"></pef-icon>
                </button>
                {{ suggestion.shortLabel || suggestion.label }}
            </div>
        </ion-item>
    </div>
</div>
