<div class="page-wrapper">
    <ion-content class="page-content">
        <div class="settings-container container">
            <div class="subcontent">
                <div class="header"><h1 class="large">Einstellungen</h1></div>
                <form
                    [formGroup]="form"
                    class="stacked-form compact-list"
                    [class.form-show-validation-hints]="showValidationHints$ | async"
                    (submit)="saveClicked$.emit($event)"
                >
                    <h1 class="large">Serververbindung</h1>
                    <ion-list no-lines>
                        <ion-item class="pef-item" formGroupName="serverConnection">
                            <ion-label position="stacked">URL</ion-label>
                            <ion-input
                                type="text"
                                formControlName="url"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                        <ion-item class="pef-item" formGroupName="general">
                            <ion-label position="stacked">Erhebungsorgannummer</ion-label>
                            <ion-input
                                type="text"
                                formControlName="erhebungsorgannummer"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                    </ion-list>
                    <h1 class="large">Transfereinstellungen (Sedex)</h1>
                    <ion-list formGroupName="transportRequestSettings" no-lines>
                        <ion-item class="pef-item">
                            <ion-label position="stacked">Sender ID</ion-label>
                            <ion-input
                                type="text"
                                formControlName="senderId"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                        <ion-item class="pef-item">
                            <ion-label position="stacked">Recipient ID</ion-label>
                            <ion-input
                                type="text"
                                formControlName="recipientId"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-list formGroupName="export" no-lines>
                        <ion-item class="pef-item">
                            <ion-label position="stacked">Exportpfad (Sedex-Daten)</ion-label>
                            <ion-input
                                type="text"
                                formControlName="targetPath"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button type="submit" color="blue-chill" id="save" [disabled]="!(isModified$ | async)">
                        Speichern
                    </ion-button>
                    <ion-button type="button" (click)="cancelClicked$.emit($event)">Abbrechen</ion-button>
                    <h1 class="large"><pef-icon name="warning"></pef-icon>Datenbank Backup/Recovery (CouchDB)</h1>
                    <ng-container *ngxLet="(dangerConfirmed$ | async); let dangerConfirmed">
                        <ion-button
                            [class.not-shown]="dangerConfirmed"
                            [disabled]="!(canConnectToDatabase$ | async)"
                            type="button"
                            color="danger"
                            (click)="dangerConfirmedClicked$.emit()"
                        >
                            Datenbank Verwaltung anzeigen
                        </ion-button>
                        <div [class.not-shown]="!dangerConfirmed">
                            <ion-button type="button" color="blue-chill" (click)="exportDbs$.emit($event)">
                                Export
                            </ion-button>
                            <ion-button type="button" (click)="file.click()">
                                Import
                                <input
                                    #file
                                    class="file-select-btn"
                                    type="file"
                                    (change)="importFileSelected$.emit($event)"
                                    [value]="(resetInput$ | async)?.value"
                                    required
                                />
                            </ion-button>
                        </div>
                        <ion-text *ngIf="(dbsExported$ | async); let dbsExported" color="primary">
                            <pre>{{ dbsExported }}</pre>
                        </ion-text>
                        <ion-text *ngIf="(dbsImported$ | async); let dbsImported" color="primary">
                            <pre>{{ dbsImported }}</pre>
                        </ion-text>
                    </ng-container>
                </form>
            </div>
            <div class="about-app">
                <div class="about-box">
                    <h2>LIK PreisAdmin {{ version }}</h2>
                    <span>Autor: <a href="https://lambda-it.ch/">Lambda IT GmbH</a> </span>
                </div>
            </div>
        </div>
    </ion-content>
</div>
