<div class="page-wrapper">
    <ion-content class="page-content">
        <div class="settings-container container">
            <div class="subcontent">
                <form
                    [formGroup]="form"
                    class="stacked-form compact-list main-form"
                    [class.form-show-validation-hints]="showValidationHints$ | async"
                    (submit)="saveClicked$.emit($event)"
                >
                    <h1 class="large">Serververbindung</h1>
                    <ion-list no-lines>
                        <ion-item class="pef-item" formGroupName="serverConnection">
                            <ion-label position="stacked">URL</ion-label>
                            <ion-input
                                type="text"
                                formControlName="url"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                        <ion-item class="pef-item" formGroupName="general">
                            <ion-label position="stacked">Erhebungsorgannummer</ion-label>
                            <ion-input
                                type="text"
                                formControlName="erhebungsorgannummer"
                                (keyup.enter)="saveClicked$.emit()"
                            ></ion-input>
                        </ion-item>
                    </ion-list>
                    <div class="actions">
                        <ion-button type="submit" color="blue-chill" id="save" [disabled]="!(isModified$ | async)">
                            Speichern
                        </ion-button>
                        <ion-button
                            type="button"
                            (click)="cancelClicked$.emit($event)"
                            [disabled]="!(isModified$ | async)"
                        >
                            Abbrechen
                        </ion-button>
                    </div>
                </form>
                <ng-container *ngIf="sedexForm$ | async; let sedexForm">
                    <ng-container *ngIf="isLoggedIn$ |async; else: login">
                        <form
                            [formGroup]="sedexForm"
                            class="stacked-form compact-list"
                            (submit)="saveSedexClicked$.emit($event)"
                        >
                            <h1 class="large">Transfereinstellungen (Sedex)</h1>
                            <ion-list formGroupName="transportRequestSettings" no-lines>
                                <ion-item class="pef-item">
                                    <ion-label position="stacked">Sender ID</ion-label>
                                    <ion-input
                                        type="text"
                                        formControlName="senderId"
                                        (keyup.enter)="saveClicked$.emit()"
                                    ></ion-input>
                                </ion-item>
                                <ion-item class="pef-item">
                                    <ion-label position="stacked">Recipient ID</ion-label>
                                    <ion-input
                                        type="text"
                                        formControlName="recipientId"
                                        (keyup.enter)="saveClicked$.emit()"
                                    ></ion-input>
                                </ion-item>
                            </ion-list>
                            <ion-list formGroupName="export" no-lines>
                                <ion-item class="pef-item">
                                    <ion-label position="stacked">Exportpfad (Sedex-Daten)</ion-label>
                                    <ion-input
                                        type="text"
                                        formControlName="targetPath"
                                        (keyup.enter)="saveClicked$.emit()"
                                    ></ion-input>
                                </ion-item>
                            </ion-list>
                            <div class="actions">
                                <ion-button
                                    type="submit"
                                    color="blue-chill"
                                    id="save"
                                    [disabled]="!(canConnectToDatabase$ | async)"
                                >
                                    Speichern
                                </ion-button>
                                <ion-button
                                    type="button"
                                    (click)="cancelSedexClicked$.emit($event)"
                                    [disabled]="!(canConnectToDatabase$ | async)"
                                >
                                    Abbrechen
                                </ion-button>
                            </div>
                        </form>
                    </ng-container>
                    <ng-template #login>
                        <ion-button
                            [disabled]="!(canConnectToDatabase$ | async)"
                            type="button"
                            class="login-button"
                            (click)="loginClicked$.emit()"
                        >
                            Erweiterte Sedex Einstellungen
                        </ion-button>
                    </ng-template>
                </ng-container>
                <h1 class="large danger-section"><pef-icon name="warning"></pef-icon>Datenbank (CouchDB)</h1>
                <ng-container *ngxLet="(dangerConfirmed$ | async); let dangerConfirmed">
                    <ion-button
                        [class.not-shown]="dangerConfirmed"
                        [disabled]="!(canConnectToDatabase$ | async)"
                        type="button"
                        class="confirm-danger"
                        color="danger"
                        (click)="dangerConfirmedClicked$.emit()"
                    >
                        Datenbank Verwaltung anzeigen
                    </ion-button>
                    <div [class.not-shown]="!dangerConfirmed">
                        <form
                            *ngIf="compatibilityForm$ | async; let compatibilityForm"
                            [formGroup]="compatibilityForm"
                            [class.form-show-validation-hints]="showCompatibilityValidationHints$ | async"
                            class="stacked-form compact-list"
                            (submit)="saveCompatibilityClicked$.emit($event)"
                        >
                            <h1 class="large">Kompatibilität (Preiserfasser-App)</h1>
                            <ion-list no-lines>
                                <ion-item class="pef-item">
                                    <ion-label position="stacked">Mindestversion</ion-label>
                                    <ion-input
                                        type="text"
                                        formControlName="minVersion"
                                        (keyup.enter)="saveCompatibilityClicked$.emit()"
                                    ></ion-input>
                                    <ion-text>Muss im Format a.b.c sein, z.B. 2.2.9</ion-text>
                                </ion-item>
                            </ion-list>
                            <div class="actions">
                                <ion-button
                                    type="submit"
                                    color="blue-chill"
                                    id="save"
                                    [disabled]="!compatibilityForm.dirty"
                                >
                                    Speichern
                                </ion-button>
                                <ion-button
                                    type="button"
                                    (click)="cancelCompatibilityClicked$.emit($event)"
                                    [disabled]="!compatibilityForm.dirty"
                                >
                                    Abbrechen
                                </ion-button>
                            </div>
                        </form>
                        <div class="actions">
                            <h1 class="large">
                                Import/Export der definierten Preiserheber und PMS-Zuordnungen (.json-Format)
                            </h1>
                            <ion-button type="button" color="blue-chill" (click)="exportDbs$.emit($event)">
                                Export
                            </ion-button>
                            <ion-button type="button" (click)="file.click()">
                                Import
                                <input
                                    #file
                                    class="file-select-btn"
                                    type="file"
                                    (change)="importFileSelected$.emit($event)"
                                    [value]="(resetInput$ | async)?.value"
                                    required
                                />
                            </ion-button>
                        </div>
                        <ion-text *ngIf="(dbsExported$ | async); let dbsExported" color="primary">
                            <pre>{{ dbsExported }}</pre>
                        </ion-text>
                        <ion-text *ngIf="(dbsImported$ | async); let dbsImported" color="primary">
                            <pre>{{ dbsImported }}</pre>
                        </ion-text>
                    </div>
                </ng-container>
            </div>
            <div class="about-app">
                <div class="about-box">
                    <h2>LIK PreisAdmin {{ version }}</h2>
                    <span>Autor: <a href="https://lambda-it.ch/">Lambda IT GmbH</a> </span>
                </div>
            </div>
        </div>
    </ion-content>
</div>
