# Editors
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
*.sublime-project
*.sublime-workspace

# Angular
coverage/
dist/
www/

# Dependency directories
node_modules
npm-debug.log*

# BFS
bfs_apk_release_key.keystore

# OS
.DS_Store
Thumbs.db
$RECYCLE.BIN/
UserInterfaceState.xcuserstate

# Others
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
tmp/
temp/
