@import "./shadows.scss";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$pef-app-max-width: 1920px;

// grey
$wild-sand: #f5f5f5;
$mercury: #eaeaea;
$alto: #e0e0e0;
$hit-gray: #adb5bd;
$oslo-gray: #868e96;
$trout: #495057;
$outer-space: #343a40;
$shark: #212529;

// blue
$foam: #e3fafc;
$scooter: #3bc9db;
$java: #15aabf;
$blue-chill: #0c8599;
$surfie-green: #0b7285;

// yellow
$egg-white: #fff3bf;
$bright-sun: #ffd43b;

// red
$flamingo: #f03e3e;
$alizarin-crimson: #e03131;

// green:
$sulu: #c0eb75;
$emerald: #51cf66;
$sea-green: #2f9e44;

// $warning: $lightning-yellow;
// $success: $chateau-green;

$white: #ffffff;
$black: #000000;

$text-color:        $black;
$background-color:  $white;

$font-size-base: 1.6rem;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: $java,
  secondary: $scooter,

  wild-sand: $wild-sand,
  mercury: $mercury,
  foam: $foam,
  scooter: $scooter,
  java: $java,
  blue-chill: $blue-chill,
  surfie-green: $surfie-green,

  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white:      #fff
);

$sqrt2: 1.41421356237;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$list-md-text-color: $outer-space;

$text-input-md-show-valid-highlight: false;
$text-input-md-show-invalid-highlight: false;

$radio-md-disabled-opacity: 1;

$popover-md-box-shadow: $whiteframe-shadow-2dp;

$toolbar-md-title-font-size: 1em;
