@import "../../../../theme/imports.scss";

preismeldung-info-popover {
    &.hidden {
        visibility: hidden;
    }

    .info-toggle {
        margin-right: 0;
        &.active {
            fill: white;
            background-color: $surfie-green;
        }
    }

    .info-popover {
        display: none;
        box-shadow: $whiteframe-shadow-2dp;
        position: absolute;
        background-color: white;
        z-index: 100;
        width: 100%;
        @include set-padding(1, 1, 1, 1);
    }

    .info-popover-table {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .info-popover-row {
        display: table-row;
    }

    .info-popover-cell {
        display: table-cell;
        border-bottom: 2px solid $alto;
        line-height: 1.5em;
        padding: 5px 0;

        &.heading {
            width: 60%;
        }

        &.value {
            width: 40%;
            font-weight: 500;
        }
    }

    .info-popover-row:last-of-type {
        .info-popover-cell {
            border-bottom-width: 0;
        }
    }



}
