<button ion-button icon-only color="wild-sand" class="info-toggle" [class.active]="popoverActive$ | async" (click)="buttonClicked$.emit()">
    <pef-icon name="price_tag_info"></pef-icon>
</button>
<div class="info-popover"
    *ngIf="!!(preismeldung$ | async)?.refPreismeldung"
    [style.display]="(popoverActive$ | async) ? 'flex' : 'none'"
    [style.left]="sanitizer.bypassSecurityTrustStyle(popoverLeft$ | async)"
    [style.maxHeight]="sanitizer.bypassSecurityTrustStyle(popoverMaxHeight$ | async)"
    [style.width]="sanitizer.bypassSecurityTrustStyle(popoverWidth$ | async)">
    <div class="info-popover-table-container">
        <div class="info-popover-table">
            <div class="info-popover-row">
                <div class="info-popover-cell heading">
                    Preis vor Reduktion
                </div>
                <div class="info-popover-cell value">
                    <span class="number">
                        {{ (preismeldung$ | async)?.refPreismeldung.preisVorReduktion | pefFormatNumber: numberFormattingOptions }}
                    </span>
                    <span class="label">CHF</span>
                </div>
            </div>
            <div class="info-popover-row">
                <div class="info-popover-cell heading">
                    Menge vor Reduktion
                </div>
                <div class="info-popover-cell value">
                    <span class="number">{{ (preismeldung$ | async)?.refPreismeldung.mengeVorReduktion }}</span>
                    <span class="label">{{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="comparison-container" [style.minWidth]="'calc(' + extraWidth + ' - 32px)'">
        <div class="box-container">
            <div class="box" [innerHTML]="formatPercentageChange((preismeldung$ | async)?.preismeldung.percentageDPToVPVorReduktion)"></div>
            <div class="arrow right"></div>
        </div>
    </div>
</div>
