<div class="container-wrapper" *ngIf="reportData">
    <div class="container">
        <div *ngIf="reportData">
            <table class="report-table">
                <thead>
                    <tr>
                        <th>LIK-Monatsbericht</th>
                        <th>Regionale Preiserhebung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Erhebungsmonat</td>
                        <td>{{reportData.zeitpunkt.erhebungsmonat}}</td>
                    </tr>
                    <tr>
                        <td>Erstellungsdatum</td>
                        <td>{{reportData.zeitpunkt.erstellungsdatum}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Preismeldungen insgesamt</th>
                        <th>#Preise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total erhalten</td>
                        <td class="number">{{reportData.preismeldungen.total | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Total erfasst</td>
                        <td class="number">{{reportData.preismeldungen.erfasst | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Neue Preisreihen</td>
                        <td class="number">{{reportData.preismeldungen.new | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Erhebungsart Abrechnung
                        </th>
                        <th>#Preise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Internet zentral</td>
                        <td class="number">{{reportData.erhebungsart.internetZentral | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Normalerhebung</td>
                        <td class="number">{{reportData.erhebungsart.normalerhebung | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Bearbeitungscode</th>
                        <th>#Preise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Standardbuchung</td>
                        <td class="number">{{reportData.bearbeitungsCode['99'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>0 - Preisreihe beendet</td>
                        <td class="number">{{reportData.bearbeitungsCode['0'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>1 - Direktersatz</td>
                        <td class="number">{{reportData.bearbeitungsCode['1'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>2 - Neuer Preis mit VP</td>
                        <td class="number">{{reportData.bearbeitungsCode['2'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>3 - Neuer Preis ohne VP</td>
                        <td class="number">{{reportData.bearbeitungsCode['3'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>7 - Ersatz mit VP</td>
                        <td class="number">{{reportData.bearbeitungsCode['7'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>R - fehlender Artikel</td>
                        <td class="number">{{reportData.bearbeitungsCode['101'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>S - fehlender Saisonartikel</td>
                        <td class="number">{{reportData.bearbeitungsCode['44'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>A - Aktionspreis</td>
                        <td class="number">{{reportData.bearbeitungsCode['Aktion'] | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Preisentwicklungen</th>
                        <th>#Preise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(=) stabile Preise</td>
                        <td class="number">{{reportData.preisentwicklungen.stabil | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>(+) gestiegene Preise</td>
                        <td class="number">{{reportData.preisentwicklungen.gestiegen | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>(+) Aktionsende</td>
                        <td class="number">{{reportData.preisentwicklungen.aktionsende | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>(-) gesunkene Preise</td>
                        <td class="number">{{reportData.preisentwicklungen.gesunken | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>(-) Aktion/Ausverkauf</td>
                        <td class="number">{{reportData.preisentwicklungen.aktionAusverkauf | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Erhebungsart</th>
                        <th>#Preise</th>
                        <th>#PMS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tablet vor Ort</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.tablet | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.tablet | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.telefon | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.telefon | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>eMail</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.email | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.email | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Papierformular vor Ort</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.papierlisteVorOrt | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.papierlisteVorOrt | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Papierformular durch PMS</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.papierlisteAbgegeben | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.papierlisteAbgegeben | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Internet</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.internet | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.internet | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td class="number">{{reportData.erhebungsartDetailPm.total | pefFormatNumber:numberFormatOptions}}</td>
                        <td class="number">{{reportData.erhebungsartDetailPms.total | pefFormatNumber:numberFormatOptions}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
