@import "../../styles/variables.scss";

button[pef-toggle-button] {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    &.toggled-on {
        color: white;
        fill: white;
        background-color: $surfie-green;
    }
}
