@import "../../../../theme/imports.scss";

bearbeitungs-type {
    display: block;

    .code-button {
        font-size: 1em;
        line-height: 1.25em;
        height: auto;
        width: 100%;
        @include set-padding(0.5, 1, 0.5, 1);
        .button-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
        }
        .description {
            @include crop-text();
            text-align: left;
            flex: 0 0 100%;
            max-width: 100%;
            font-weight: 400;
            color: $trout;
        }
        .code-name {
            @include crop-text();
            text-align: left;
            flex: 0 0 100%;
            max-width: 100%;
            font-weight: 500;
            color: $blue-chill;
            &.highlighted {
                color: orange;
            }
        }
        &:hover:not(.disable-hover), &.toggled-on {
            .description, .code-name {
                color: white;
            }
        }
        &[disabled] {
            background-color: $alto;
        }
    }

    .bearbeitungs-type-flyout {
        box-shadow: $whiteframe-shadow-2dp;
        z-index: 100;
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 150%;
        flex-direction: column;
        background-color: white;
        @include set-padding(0.25, 1, 0.25, 1);
        transition: opacity 0.3s ease;
        opacity: 1;
        visibility: hidden;
        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }
    ion-item.bearbeitungs-type-option {
        padding: 0;
        min-height: 2.5em;
        &:not(:last-of-type) .item-inner {
            border-bottom: 2px solid $alto;
        }
        &:hover {
            background-color: $foam;
        }
        ion-label {
            font-size: 1em;
            margin: 0;
            flex: 1;
            display: flex;
            align-items: center;
            line-height: 2.25em;
            overflow: hidden;
        }
        .icon {
            @include set-flex(0, 0, 2.5);
        }
        .description {
            @include crop-text();
            @include set-padding-right(1);
            @include set-flex(1, 0, 18);
        }
        .code-name {
            @include crop-text();
            @include set-flex(0, 0, 7);
            color: $blue-chill;
            font-weight: 500;
        }
    }
}
