<div style="position: relative;">
    <button ion-button pef-toggle-button [toggleOn]="buttonOn$ | async" color="mercury" class="code-button" (click)="buttonClicked$.emit($event)" [disabled]="readonly$ | async">
        <div class="code-name" [class.highlighted]="(selectedBearbeitungsType$ | async)?.code != 99">{{ (selectedBearbeitungsType$ | async)?.codeName }}</div>
        <div class="description">{{ (selectedBearbeitungsType$ | async)?.description }}</div>
    </button>
    <div class="bearbeitungs-type-flyout" [class.visible]="buttonOn$ | async" [style.marginBottom]="marginBottom$ | async">
        <ion-list>
            <ion-item tappable class="bearbeitungs-type-option" *ngFor="let bearbeitungsType of (bearbeitungsTypes$ | async)" (click)="selectBearbeitungsType$.emit({event: $event, bearbeitungsType: bearbeitungsType})">
                <div class="icon">
                    <pef-icon [name]="bearbeitungsType.iconName"></pef-icon>
                </div>
                <div class="code-name">{{ bearbeitungsType.codeName }}</div>
                <div class="description">{{ bearbeitungsType.description }}</div>
            </ion-item>
        </ion-list>
    </div>
</div>
