<div class="pms-section" *ngIf="!!(preiserheber$ | async)">
    <h3>{{ (preiserheber$ | async).erheber.firstName }} {{ (preiserheber$ | async).erheber.surname }}, {{ (preiserheber$ | async).erheber.erhebungsregion
        }}
    </h3>
    <div class="last-synced-at">Zuletzt synchronisiert am: <b>{{ !(preiserheber$ | async).lastSyncedAt ? '&ndash;' : ((preiserheber$ | async).lastSyncedAt | date: 'medium') }}</b></div>
    <div class="pms-summary-header">
        <div class="name"></div>
        <div class="todo">todo</div>
        <div class="done">done</div>
        <div class="new-preismeldungen">neu</div>
    </div>
    <pef-virtual-scroll [items]="(preiserheber$ | async).pmsPreismeldungSummary" (update)="pmsSummaryList = $event" pef-perfect-scrollbar
        [enabled]="true" [scrollToTop]="(preiserheber$ | async).pmsPreismeldungSummary">
        <div class="pms-summary-row" *ngFor="let pmsSummary of pmsSummaryList ">
            <div class="name">
                <div class="pms-name">{{ pmsSummary.pms.name }}</div>
                <div>{{ pmsSummary.pms.erhebungsregion }}</div>
            </div>
            <div class="todo">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].todo == pmsSummary.summary[erhebungsZeitpunktKey].todoSynced">{{ pmsSummary.summary[erhebungsZeitpunktKey].todo }}</span>
            </div>
            <div class="done">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].doneUploaded == pmsSummary.summary[erhebungsZeitpunktKey].todo">{{ pmsSummary.summary[erhebungsZeitpunktKey].done }}</span>
            </div>
            <div class="new-preismeldungen">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].newPreismeldungen == pmsSummary.summary[erhebungsZeitpunktKey].newPreismeldungenUploaded">{{ pmsSummary.summary[erhebungsZeitpunktKey].newPreismeldungen }}</span>
            </div>
        </div>
    </pef-virtual-scroll>
</div>
