<div class="pef-dialog-message">
    <h3>{{'dialog.statuswechsel.status_waehlen' | translate}}</h3>
    <div class="message">
        <pef-icon name="warning"></pef-icon>
        <p>
            {{(data.hasMarker ? 'dialog.statuswechsel.betroffene_pm_markiert' :
            'dialog.statuswechsel.betroffene_pm_angezeigten') | translate}}
        </p>
    </div>

    <ion-radio-group [(ngModel)]="pmStatus" name="pmStatus">
        <ion-radio [value]="0" labelPlacement="end" justify="start"
            >{{'label.status.ungeprueft' | translate}}</ion-radio
        >
        <ion-radio [value]="1" labelPlacement="end" justify="start">{{'label.status.blockiert' | translate}}</ion-radio>
        <ion-radio [value]="2" labelPlacement="end" justify="start">{{'label.status.geprueft' | translate}}</ion-radio>
    </ion-radio-group>
    <div class="to-marker" *ngIf="data.hasMarker">
        <ion-checkbox [(ngModel)]="toMarker">{{'dialog.statuswechsel.nur_zum_marker' | translate}}</ion-checkbox>
    </div>
</div>

<div class="pef-dialog-button-row">
    <ion-button (click)="save()" [disabled]="pmStatus === null" color="primary">
        {{'label.aktionen.speichern' | translate}}
    </ion-button>
    <ion-button (click)="cancel()" color="secondary">{{'label.aktionen.abbrechen' | translate}}</ion-button>
</div>
