@import "../../theme/imports.scss";

pef-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    .dialog-box {
        @include set-padding(1, 1, 1, 1);
        background-color: white;
        visibility: hidden;
        transform: scale(0.1);
        transition: transform 0.3s ease-in-out;
    }

    &.pef-dialog-wrapper-show {
        visibility: visible;
        opacity: 1;
        .dialog-box {
            transform: scale(1);
            visibility: visible;
        }
    }

}
