<div class="wrapper">
    <div class="header">
        <h3>{{'heading_pms-details' | translate}}</h3>
        <ion-button
            size="large"
            fill="clear"
            class="close-page on-dark"
            color="white"
            (click)="cancelClicked$.emit($event)"
        >
            {{ 'btn_close' | translate }}
            <pef-icon name="close_screen"></pef-icon>
        </ion-button>
    </div>
    <ion-content no-scroll>
        <div class="content pms-details-content">
            <form [formGroup]="form" class="stacked-form" [class.form-show-validation-hints]="showValidationHints$ | async">
                <div class="pef-scroll-container" pef-perfect-scrollbar [enabled]="isDesktop$ | async">
                    <div class="pms-scroll-content">
                        <div class="row">
                            <div class="column">
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_preismeldestellenummer' | translate }}</ion-label>
                                        <ion-input readonly type="text" [value]="(pms$ | async)?.pmsNummer"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="name"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_zusatzname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="supplement"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_street' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="street"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_postcode' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="postcode"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_town' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="town"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="column">
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_erhebungsregion' | translate }}</ion-label>
                                        <ion-input readonly type="text" [value]="(pms$ | async)?.erhebungsregion || '&ndash;'"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item item-label-stacked">
                                        <ion-label position="stacked" class="">{{ 'label_pms_anzeige-in-pms-liste' | translate}}</ion-label>
                                        <div class="inline">
                                            <ion-checkbox formControlName="pmsTop"></ion-checkbox>
                                            <ion-label>{{ 'label_pms_pms-liste-top' | translate}}</ion-label>
                                        </div>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_internetlink' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="internetLink"></ion-input>
                                    </ion-item>
                                    <pef-item-wrapper [labelText]="'label_pms_language-code' | translate" [invalid]="form.controls['kontaktpersons'].at(0).controls['languageCode'].invalid">
                                        <select formControlName="languageCode">
                                            <option
                                                *ngFor="let language of (languages$ | async)"
                                                [value]="language.languageCode"
                                                >{{ language.name }}</option
                                            >
                                        </select>
                                    </pef-item-wrapper>
                                </ion-list>
                            </div>
                        </div>
                        <div class="row" formArrayName="kontaktpersons">
                            <div class="column" [formGroupName]="0">
                                <h5>{{ 'label_pms_kontaktperson_1' | translate }}</h5>
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_first-name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="firstName"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_surname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="surname"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_person-function' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="personFunction"></ion-input>
                                    </ion-item>
                                    <pef-item-wrapper [labelText]="'label_pms_language-code' | translate" [invalid]="form.controls['kontaktpersons'].at(1).controls['languageCode'].invalid">
                                        <select formControlName="languageCode">
                                            <option
                                                *ngFor="let language of (languages$ | async)"
                                                [value]="language.languageCode"
                                                >{{ language.name }}</option
                                            >
                                        </select>
                                    </pef-item-wrapper>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_mobile' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="mobile"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_fax' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="fax"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="column" [formGroupName]="1">
                                <h5>{{ 'label_pms_kontaktperson_2' | translate }}</h5>
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_first-name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="firstName"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_surname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="surname"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_kontaktperson_person-function' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="personFunction"></ion-input>
                                    </ion-item>
                                    <pef-item-wrapper [labelText]="'label_pms_language-code' | translate" [invalid]="form.controls['languageCode'].invalid">
                                        <select formControlName="languageCode">
                                            <option
                                                *ngFor="let language of (languages$ | async)"
                                                [value]="language.languageCode"
                                                >{{ language.name }}</option
                                            >
                                        </select>
                                    </pef-item-wrapper>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_mobile' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="mobile"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_fax' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="fax"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label position="stacked">{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="double-column">
                                <h5>{{ 'label_pms_zusatzinformationen' | translate }}</h5>
                                <ion-list class="padding-to-header">
                                    <ion-item class="pef-item">
                                        <ion-textarea formControlName="zusatzInformationen"></ion-textarea>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <h5>{{ 'label_pms_erhebungsart' | translate}}</h5>
                                <ion-list formGroupName="erhebungsarten">
                                    <ion-item>
                                        <ion-checkbox formControlName="tablet"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_vor-ort-app' | translate}}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox formControlName="telefon"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_telephone' | translate}}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox formControlName="email"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_email' | translate}}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox formControlName="internet"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_internet' | translate}}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox formControlName="papierlisteVorOrt"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_persoenlich' | translate}}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox formControlName="papierlisteAbgegeben"></ion-checkbox>
                                        <ion-label>{{ 'label_pms_erhebungsart_abgegeben' | translate}}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="column">
                                <h5>{{ 'label_pms_pmsGeschlossen' | translate }}</h5>
                                <ion-list class="padding-to-header">
                                    <ion-radio-group formControlName="pmsGeschlossen">
                                        <ion-item>
                                            <ion-radio value="1" (click)="pmsGeschlossenClicked$.next()"></ion-radio>
                                            <ion-label>{{ 'label_pms_pmsGeschlossen_1' | translate}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-radio value="2" (click)="pmsGeschlossenClicked$.next()"></ion-radio>
                                            <ion-label>{{ 'label_pms_pmsGeschlossen_2' | translate}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-radio value="3" (click)="pmsGeschlossenClicked$.next()"></ion-radio>
                                            <ion-label>{{ 'label_pms_pmsGeschlossen_3' | translate}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-radio value="4" (click)="pmsGeschlossenClicked$.next()"></ion-radio>
                                            <ion-label>{{ 'label_pms_pmsGeschlossen_4' | translate}}</ion-label>
                                        </ion-item>
                                    </ion-radio-group>
                                </ion-list>
                            </div>
                        </div>
                        <div class="double-column">
                            <h5>{{ 'label_pms_bemerkungen_erhebungsart' | translate }}</h5>
                            <ion-list class="padding-to-header">
                                <ion-item class="pef-item">
                                    <ion-textarea formControlName="erhebungsartComment"></ion-textarea>
                                </ion-item>
                            </ion-list>
                        </div>
                        <div class="double-column">
                            <div class="form-error" *ngIf="hasErrors$ | async">
                                <pef-icon name="survey"></pef-icon>
                                <div class="messages">
                                    <span *ngFor="let error of formErrors$ | async">{{error | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <ion-button type="button" color="blue-chill" (click)="saveClicked$.emit($event)" [disabled]="!(pms$ | async)?.isModified">{{'btn_save' | translate}}</ion-button>
                    <ion-button type="button" (click)="cancelClicked$.emit($event)">{{'btn_cancel' | translate}}</ion-button>
                </div>
            </form>
        </div>
    </ion-content>
</div>
