<header pef-menu></header>
<div class="page-wrapper">
    <div class="page-content">
        <div class="preiserheber-list-container container">
            <div class="header">
                <h1 class="large">
                    Preiserheber
                </h1>
                <button ion-button type="button" end (click)="createPreiserheber$.emit($event)">Erstellen</button>
            </div>
            <preiserheber-list
                [list]="preiserhebers$ | async"
                [current]="currentPreiserheber$ | async"
                (selected)="selectPreiserheber$.emit($event)"></preiserheber-list>
        </div>
        <div class="preiserheber-detail-container container">
            <preiserheber-detail *ngIf="isEditing$ | async"
                [preiserheber]="currentPreiserheber$ | async"
                [languages]="languages$ | async"
                (save)="savePreiserheber$.emit($event)"
                (delete)="deletePreiserheber$.emit($event)"
                (cancel)="cancelPreiserheber$.emit($event)"
                (update)="updatePreiserheber$.emit($event)"
                (resetPassword)="resetPassword$.emit($event)"></preiserheber-detail>
        </div>
        <div class="preiserheber-preiszuweisung-container container">
            <preiserheber-preiszuweisung  *ngIf="(isEditing$ | async) && !(isCreating$ | async)"
                [preiszuweisungen]="preiszuweisungen$ | async"
                [preismeldestellen]="preismeldestellen$ | async"
                [current]="currentPreiszuweisung$ | async"
                (save)="savePreiserheber$.emit()"
                (assign)="assignPreismeldestelle$.emit($event)"
                (unassign)="unassignPreismeldestelle$.emit($event)"></preiserheber-preiszuweisung>
        </div>
    </div>
</div>
