<div class="preismeldung-list-container container filter">
    <div class="header">
        <h1 class="large">Auswahlkriterien</h1>
    </div>
    <div class="pef-advanced-item-flex-container">
        <form class="stacked-form" (submit)="pmIdSearchApply$.emit()">
            <h2>Direktsuche (ungefiltert)</h2>
            <pef-search-input
                class="pms-search"
                label="PreisID"
                [reset]="resetPmIdSearch$ | async"
                [value]="(initialFilter$ | async).pmIdSearch"
                (valueChanges)="pmIdSearchChanged$.emit($event)"
            ></pef-search-input>
        </form>

        <form class="stacked-form" #form="ngForm" (ngSubmit)="applyClicked$.emit()">
            <h2>Filter</h2>
            <ion-list no-lines>
                <ion-item class="pef-item">
                    <ion-label position="stacked">Preisstatus</ion-label>
                    <select class="item-md" (change)="statusFilterChanged$.emit($event.target.value)">
                        <option value="" [selected]="resetFilter$ | async"></option>
                        <option value="erhebung">in Erhebung</option>
                        <option value="prüfung">in Prüfung</option>
                        <option value="exportiert">Exportiert</option>
                    </select>
                </ion-item>
            </ion-list>
            <pef-typeahead
                [reset]="resetFilter$ | async"
                [initialValues]="(initialFilter$ | async)?.preiserheberIds"
                label="Preiserheber/in"
                [suggestions]="suggestionsPreiserheberIds$ | async"
                (selected)="preiserheberIdsFilter$.emit($event)"
                (triggerSubmit)="triggerSubmit$.emit()"
                [multi]="true"
            ></pef-typeahead>
            <pef-typeahead
                [reset]="resetFilter$ | async"
                [initialValues]="(initialFilter$ | async)?.pmsNummers"
                label="PMS"
                [suggestions]="suggestionsPmsNummers$ | async"
                [multi]="true"
                (selected)="pmsNummerFilter$.emit($event)"
                (triggerSubmit)="triggerSubmit$.emit()"
            ></pef-typeahead>
            <pef-typeahead
                [reset]="resetFilter$ | async"
                [initialValues]="(initialFilter$ | async)?.epNummers"
                label="Erhebungsposition"
                [suggestions]="suggestionsEpNummers$ | async"
                (selected)="epNummersFilter$.emit($event)"
                (triggerSubmit)="triggerSubmit$.emit()"
                [multi]="true"
            ></pef-typeahead>
            <ion-button type="submit" [disabled]="!(canSearch$ | async)">anwenden</ion-button>
            <ion-button type="button" (click)="resetFilterClicked$.emit($event)">zurücksetzen</ion-button>
        </form>
        <h2>Suche in Auswahl (gefiltert)</h2>
        <pef-search-input label="Volltext" (valueChanges)="filterTextValueChanges$.emit($event)"></pef-search-input>
    </div>
</div>
<div
    class="preismeldung-list-container container"
    *ngIf="(filteredPreismeldungen$ | async); let filteredPreismeldungen"
    [class.hidden]="!filteredPreismeldungen?.length"
>
    <div class="header">
        <h1 class="large">
            <span>Preismeldungen</span>
            <ion-button class="icon-only" type="button" (click)="updateAllPmStatusClicked$.emit()"
                ><pef-icon name="checkmark"></pef-icon
            ></ion-button>
            <div>
                <span>({{ filteredPreismeldungen.length }})</span>
                <span class="close" (click)="resetPreismeldungen$.emit()">✖</span>
            </div>
        </h1>
    </div>
    <div class="pef-advanced-item-flex-container">
        <div *ngIf="!!(status$ | async)">{{ status$ | async }}</div>
        <pef-virtual-scroll
            [items]="filteredPreismeldungen"
            [childHeight]="60"
            (update)="scrollList = $event"
            pef-perfect-scrollbar
            [enabled]="true"
        >
            <ion-item
                class="pef-advanced-item"
                *ngFor="let bag of scrollList"
                (click)="selectPreismeldung$.emit(bag)"
                [class.selected]="bag.pmId == (currentPreismeldung$ | async)?.pmId"
                tappable
            >
                <div class="preismeldung-wrapper">
                    <div class="pef-item-title">
                        {{ bag.preismeldung.epNummer }}
                        <br />
                        <span class="pef-item-status" *ngIf="!!preismeldungenStatus">{{
                            preismeldungenStatus[bag.pmId] === 1
                                ? '✗'
                                : preismeldungenStatus[bag.pmId] === 2
                                ? '✓'
                                : '&nbsp;'
                        }}</span>
                    </div>
                    <div class="pef-item-description">
                        <span class="text">{{ bag.warenkorbPosition.positionsbezeichnung.de }}</span>
                        <span class="artikel-text" [innerHTML]="bag.preismeldung.artikeltext || '&ndash;'"></span>
                    </div>
                    <div class="preismeldung-status-done" *ngIf="bag.preismeldung.istAbgebucht">
                        <div
                            class="code"
                            [innerHTML]="
                                bag.preismeldung.bearbeitungscode == 99
                                    ? '&nbsp;'
                                    : getBearbeitungscodeDescription(bag.preismeldung.bearbeitungscode)
                            "
                        ></div>
                        <div class="percentage" [innerHTML]="formatPercentageChange(bag.preismeldung)"></div>
                    </div>
                </div>
            </ion-item>
        </pef-virtual-scroll>
    </div>
</div>
