@import '../../../../theme/imports.scss';

:host {
    .preismeldung-list-container {
        flex: 0 1 calc(50% - 8px);
        display: flex;
        flex-direction: column;
        @include set-margin(0, 0.5, 0, 0);
        @include set-padding(1, 1, 1, 1);

        .header h1 {
            flex: 1;
            display: flex;
            justify-content: space-between;
            .right {
                flex: 0 1 auto;
                display: flex;
                .close {
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    pef-icon {
                        margin: -0.5em;
                        width: 3em;
                        height: 3em;
                    }
                }
            }
        }

        h2 {
            margin: 20px 0 12px 0;
        }
    }
    form {
        ion-button {
            --padding-start: 8px;
            --padding-end: 8px;
        }
    }

    .margin-top {
        margin-top: 3em !important;
    }
    .statuswechsel {
        font-size: 12.5px;
    }
    .content {
        flex: 1;
    }

    .preismeldung-status-done {
        max-width: 5em;
        flex: 0 0 5em;
        display: flex;
        flex-direction: column;
        .code {
            margin-right: 8px;
            text-align: right;
            color: orange;
            font-weight: bold;
        }
        .percentage {
            margin-right: 8px;
            text-align: right;
        }
    }

    .pef-advanced-item {
        .pef-item-description {
            width: calc(100% - 9em);
            max-width: calc(100% - 9em);
        }
        .pef-item-status {
            margin-left: 1em;
        }
    }
}
