<div cdkTrapFocus>
    <h4>{{ 'heading_bearbeitungscode-auswaehlen' | translate }}</h4>
    <ion-radio-group [(ngModel)]="bearbeitungscode" name="bearbeitungscode">
        <ion-radio [value]="3" labelPlacement="end" justify="start">
            {{ 'label_neue-preisreihe-code-3' | translate }}
        </ion-radio>
        <ion-radio [value]="2" labelPlacement="end" justify="start">
            {{ 'label_neue-preisreihe-code-2' | translate }}
        </ion-radio>
    </ion-radio-group>
    <div class="button-container">
        <ion-button color="primary" (click)="ok()">
            {{ 'btn_ok' | translate }}
        </ion-button>
        <ion-button color="secondary" (click)="cancel()">
            {{ 'label.aktionen.abbrechen' | translate }}
        </ion-button>
    </div>
</div>
