@import '../../theme/imports.scss';

:host {
    background-color: $trout;
    display: flex;

    .row {
        padding: 0 4px 20px 4px;
        display: flex;
        .column {
            flex: 1;
            ion-list {
                width: 80%;
            }
        }
    }

    .wrapper {
        flex: 1;
        margin: 1.1em 2em;
        display: flex;
        flex-direction: column;
        color: $white;

        ion-content {
            background-color: transparent;
            flex: 1;
        }
    }

    .header {
        color: $white;
        display: flex;
        align-items: center;
        margin-bottom: 1.2em;
        h3 {
            flex: 1;
            margin: 0;
        }

        .button.button-md,
        a[ion-button].button.button-md:hover {
            color: $white;
            fill: $white;
        }
    }

    .preiserheber-content {
        width: 50%;
        color: $white;
        fill: $white;

        form {
            display: flex;
            flex-direction: column;
        }

        .pef-item .input-wrapper {
            height: inherit;
        }
    }

    .item.md {
        ::ng-deep {
            ion-label.label-stacked.sc-ion-label-md-h {
                font-size: 1em;
                margin-bottom: 0;
            }
        }
    }
}
