<div class="pef-advanced-item-flex-container">
    <pef-search-input class="pms-search" (valueChanges)="filterTextValueChanges.emit($event)"></pef-search-input>
    <ion-content>
        <cdk-virtual-scroll-viewport
            itemSize="56"
            minBufferPx="1200"
            maxBufferPx="1600"
            class="virtual-scroll"
            [class.hidden]="(filteredPreiserhebers$ | async).length === 0">
            <ion-item
                class="pef-advanced-item"
                *cdkVirtualFor="let preiserheber of filteredPreiserhebers$ | async"
                (click)="selectPreiserheber$.emit(preiserheber._id)"
                [class.selected]="preiserheber._rev === (current$ | async)?._rev">
                <div class="pef-item-description">
                    <span class="text">{{ preiserheber.firstName }} {{ preiserheber.surname }}</span>
                    <span class="artikel-text">{{ preiserheber.erhebungsregion }}</span>
                </div>
            </ion-item>
        </cdk-virtual-scroll-viewport>
    </ion-content>
</div>
