<ng-container *ngxLet="preismeldestelle$ | async; let preismeldestelle;">
    <form [formGroup]="form" class="stacked-form" [class.form-show-validation-hints]="showValidationHints$ | async">
        <h1 class="large" translate>heading_pms-details</h1>
        <div class="actions" *ngIf="hasWritePermission$ | async">
            <ion-button
                type="button"
                color="blue-chill"
                (click)="saveClicked$.emit($event)"
                [disabled]="!preismeldestelle.isModified"
                >{{'label.aktionen.speichern' | translate}}</ion-button
            >
            <ion-button type="button" (click)="cancelClicked$.emit($event)"
                >{{'label.aktionen.abbrechen' | translate}}</ion-button
            >
        </div>
        <ion-row>
            <ion-col>
                <ion-input
                    disabled
                    labelPlacement="stacked"
                    [label]="'PMSno' | translate"
                    type="text"
                    [value]="(preismeldestelle$ | async).pmsNummer"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_name' | translate"
                    type="text"
                    formControlName="name"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_zusatzname' | translate"
                    type="text"
                    formControlName="supplement"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_street' | translate"
                    type="text"
                    formControlName="street"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_postcode' | translate"
                    type="text"
                    formControlName="postcode"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_town' | translate"
                    type="text"
                    formControlName="town"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input
                    disabled
                    labelPlacement="stacked"
                    [label]="'pms.detail.erhoben_durch' | translate"
                    type="text"
                    value="{{ preiserheber?.firstName }} {{ preiserheber?.surname }}"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_telephone' | translate"
                    type="text"
                    formControlName="telephone"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_email' | translate"
                    type="text"
                    formControlName="email"></ion-input>
                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_internet_link' | translate"
                    type="text"
                    formControlName="internetLink"></ion-input>

                <ion-label
                    position="stacked"
                    [class.target-ng-invalid]="form.controls['languageCode'].invalid"
                    translate
                    >label.standard.sprache</ion-label
                >
                <select formControlName="languageCode">
                    <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                        {{ ('label.language.' + language.languageCode) | translate }}
                    </option>
                </select>

                <ion-label
                    position="stacked"
                    translate
                    [class.target-ng-invalid]="form.controls['erhebungsregion'].invalid"
                    >label_pms_region</ion-label
                >
                <select formControlName="erhebungsregion">
                    <option *ngFor="let erhebungsregion of (erhebungsregionen$ | async)" [value]="erhebungsregion">
                        {{ erhebungsregion }}
                    </option>
                </select>
            </ion-col>
        </ion-row>
        <ion-row formArrayName="kontaktpersons">
            <ion-col [formGroupName]="0">
                <h5 translate>label_pms_kontaktperson_1</h5>
                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_first-name' | translate"
                    type="text"
                    formControlName="firstName"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_surname' | translate"
                    type="text"
                    formControlName="surname"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_person-function' | translate"
                    type="text"
                    formControlName="personFunction"></ion-input>

                <ion-label
                    position="stacked"
                    [class.target-ng-invalid]="
                            form.controls['kontaktpersons'].at(0).controls['languageCode'].invalid
                        "
                    translate
                    >label.standard.sprache</ion-label
                >

                <select formControlName="languageCode" class="text-input text-input-md">
                    <option value=""></option>
                    <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                        {{ language.name }}
                    </option>
                </select>
                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_telephone' | translate"
                    type="text"
                    formControlName="telephone"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_mobilephone' | translate"
                    type="text"
                    formControlName="mobile"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_fax' | translate"
                    type="text"
                    formControlName="fax"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_email' | translate"
                    type="text"
                    formControlName="email"></ion-input>
            </ion-col>
            <ion-col [formGroupName]="1">
                <h5 translate>label_pms_kontaktperson_2</h5>
                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_first-name' | translate"
                    type="text"
                    formControlName="firstName"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_surname' | translate"
                    type="text"
                    formControlName="surname"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_pms_kontaktperson_person-function' | translate"
                    type="text"
                    formControlName="personFunction"></ion-input>

                <ion-label
                    position="stacked"
                    [class.target-ng-invalid]="
                            form.controls['kontaktpersons'].at(0).controls['languageCode'].invalid
                        "
                    translate
                    >label.standard.sprache</ion-label
                >
                <select formControlName="languageCode" class="text-input text-input-md">
                    <option value=""></option>
                    <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                        {{ language.name }}
                    </option>
                </select>
                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_telephone' | translate"
                    type="text"
                    formControlName="telephone"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_mobilephone' | translate"
                    type="text"
                    formControlName="mobile"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_fax' | translate"
                    type="text"
                    formControlName="fax"></ion-input>

                <ion-input
                    labelPlacement="stacked"
                    [label]="'label_preiserheber_email' | translate"
                    type="text"
                    formControlName="email"></ion-input>
                <!-- </ion-list> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h5 translate>label_pms_zusatzinformationen</h5>
                <ion-textarea formControlName="zusatzInformationen"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row class="heading-spacer">
            <ion-col>
                <h5
                    [class.label-validation-error]="this.form.errors && this.form.errors['erhebungsart_required']"
                    translate>
                    label_pms_erhebungsart
                </h5>
                <div class="padding-to-header checkbox-list" formGroupName="erhebungsart">
                    <ion-checkbox formControlName="tablet" labelPlacement="start"
                        >{{ "label_pms_erhebungsart_vor-ort-app" | translate }}</ion-checkbox
                    >
                    <ion-checkbox formControlName="telefon"
                        >{{ "label_pms_erhebungsart_telephone" | translate }}</ion-checkbox
                    >
                    <ion-checkbox formControlName="email"
                        >{{ "label_pms_erhebungsart_email" | translate }}</ion-checkbox
                    >
                    <ion-checkbox formControlName="internet"
                        >{{ "label_pms_erhebungsart_internet" | translate }}</ion-checkbox
                    >
                    <ion-checkbox formControlName="papierlisteVorOrt"
                        >{{ "label_pms_erhebungsart_persoenlich" | translate }}</ion-checkbox
                    >
                    <ion-checkbox formControlName="papierlisteAbgegeben"
                        >{{ "label_pms_erhebungsart_abgegeben" | translate }}</ion-checkbox
                    >
                </div>
            </ion-col>
            <ion-col>
                <h5 translate>label_pms_pmsGeschlossen</h5>
                <div
                    class="padding-to-header checkbox-list"
                    *ngxLet="hasWritePermission$ | async; let hasWritePermission;">
                    <ion-radio-group formControlName="pmsGeschlossen" [allowEmptySelection]="true">
                        <ion-radio value="1" [disabled]="!hasWritePermission"
                            >{{ "label_pms_pmsGeschlossen_1" | translate }}</ion-radio
                        >
                        <ion-radio value="2" [disabled]="!hasWritePermission"
                            >{{ "label_pms_pmsGeschlossen_2" | translate }}</ion-radio
                        >
                        <ion-radio value="3" [disabled]="!hasWritePermission"
                            >{{ "label_pms_pmsGeschlossen_3" | translate }}</ion-radio
                        >
                        <ion-radio value="4" [disabled]="!hasWritePermission"
                            >{{ "label_pms_pmsGeschlossen_4" | translate }}</ion-radio
                        >
                    </ion-radio-group>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="heading-spacer">
            <ion-col>
                <h5 translate>label_pms_bemerkungen_erhebungsart</h5>
                <ion-textarea formControlName="erhebungsartComment"></ion-textarea>
            </ion-col>
        </ion-row>
    </form>
</ng-container>
