<div class="pef-dialog-message">
    <h3>
        <pef-icon name="info-outlined"></pef-icon>
        {{'label.login.passwort_zuruecksetzen' | translate}}
    </h3>
    <form [formGroup]="form" class="stacked-form">
        <ion-input
            [label]="'label.login.passwort' | translate"
            class="label-left"
            type="password"
            formControlName="password"
            maxlength="35"></ion-input>

        <span class="error" *ngIf="!!(resetPasswordError$ | async)"> {{ resetPasswordError$ | async }} </span>

        <div class="pef-dialog-button-row">
            <ion-button (click)="closeDialog('ABORT_RESET')" color="primary"
                >{{'label.aktionen.abbrechen' | translate}}</ion-button
            >
            <ion-button type="submit" (click)="resetPasswordClicked$.emit($event)" color="secondary"
                >{{ 'label.aktionen.zuruecksetzen' | translate | titlecase }}</ion-button
            >
        </div>
    </form>
</div>
