@import '../../theme/imports.scss';

:host {
    width: auto;

    .stacked-form {
        width: 35rem;
    }

    .error {
        color: $alizarin-crimson;
    }

    pef-icon {
        fill: $blue-chill;
    }
}
