:host {
    flex: 1;
    height: 90%; //This is a weired hack... but without it the overflow hidden for the long controlling table does not work
    .page-wrapper {
        flex-direction: column;
        position: relative;
    }
    controlling-report {
        display: flex;
        height: 100%;
    }
    edit-preismeldung {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
