<div class="pms-price-entry-content">
    <preismeldung-toolbar
        [preismeldung]="currentPreismeldung$ | async"
        (selectedTab)="selectTab$.emit($event)"
        (buttonClicked)="toolbarButtonClicked$.emit($event)"
        ></preismeldung-toolbar>
    <div class="work-area">
        <div class="preismeldung-details-container">
            <ion-content>
                <preismeldung-detail-product-attributes
                    *ngIf="(selectedTab$ | async) == 'PRODUCT_ATTRIBUTES'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-detail-product-attributes>
                <preismeldung-detail-messages
                    *ngIf="(selectedTab$ | async) == 'MESSAGES'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-detail-messages>
                <preismeldung-detail-price
                    *ngIf="(selectedTab$ | async) == 'PREISMELDUNG'"
                    [preismeldung]="currentPreismeldung$ | async"
                    [requestPreismeldungSave]="requestPreismeldungSave$ | async"
                    [requestPreismeldungQuickEqual]="requestPreismeldungQuickEqual$ | async"
                    (preismeldungPricePayload)="updatePreismeldungPreis$.emit($event)"
                    (save)="save$.emit($event)"></preismeldung-detail-price>
            </ion-content>
        </div>
        <div class="preismeldung-list-container">
            <preismeldung-list
                [preismeldungen]="preismeldungen$ | async"
                [currentPreismeldung]="currentPreismeldung$ | async"
                (selectPreismeldung)="selectPreismeldung$.emit($event)"
                [isDesktop]="isDesktop$ | async"></preismeldung-list>
        </div>
    </div>
</div>
