<div class="pms-price-entry-content">
    <preismeldungen-sort
        *ngIf="false"
        [isDesktop]="isDesktop$ | async"
        [preismeldungen]="preismeldungen$ | async">
    </preismeldungen-sort>
    <preismeldung-toolbar
        [preismeldung]="currentPreismeldung$ | async"
        (selectedTab)="selectTab$.emit($event)"
        (buttonClicked)="toolbarButtonClicked$.emit($event)">
    </preismeldung-toolbar>
    <div class="work-area">
        <div class="preismeldung-details-container">
            <ion-content *ngIf="!!(currentPreismeldung$ | async)">
                <preismeldung-info-warenkorb
                    *ngIf="(selectedTab$ | async) == 'INFO_WARENKORB'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-info-warenkorb>
                <preismeldung-info
                    *ngIf="(selectedTab$ | async) == 'PREISMELDUNG_INFO'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-info>
                <preismeldung-attributes
                    *ngIf="(selectedTab$ | async) == 'PRODUCT_ATTRIBUTES'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-attributes>
                <preismeldung-messages
                    *ngIf="(selectedTab$ | async) == 'MESSAGES'"
                    [preismeldung]="currentPreismeldung$ | async"></preismeldung-messages>
                <preismeldung-price
                    *ngIf="(selectedTab$ | async) == 'PREISMELDUNG'"
                    [preismeldung]="currentPreismeldung$ | async"
                    [requestPreismeldungSave]="requestPreismeldungSave$ | async"
                    [requestPreismeldungQuickEqual]="requestPreismeldungQuickEqual$ | async"
                    (preismeldungPricePayload)="updatePreismeldungPreis$.emit($event)"
                    (duplicatePreismeldung)="duplicatePreismeldung$.emit()"
                    (save)="save$.emit($event)"></preismeldung-price>
            </ion-content>
            <div class="message" *ngIf="!(currentPreismeldung$ | async)">
                Keine Preismeldung selektiert
            </div>
        </div>
        <div class="preismeldung-list-container">
            <preismeldung-list
                [preismeldungen]="preismeldungen$ | async"
                [preismeldestelle]="preismeldestelle$ | async"
                [currentPreismeldung]="currentPreismeldung$ | async"
                (selectPreismeldung)="selectPreismeldung$.emit($event)"
                (addNewPreisreihe)="addNewPreisreihe$.emit()"
                [currentLanguage]="currentLanguage$ | async"
                [isDesktop]="isDesktop$ | async"></preismeldung-list>
        </div>
    </div>
</div>
