pms-print2 {
    display: none;
}

@media print {
    pms-print2 {
        display: block;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-print-color-adjust: exact !important;
    }
}
