preismeldung {
    .preismeldung-detail-container {
        flex: 3 1;
        display: flex;
        @include set-margin(0, 0, 0, 0.5);
        @include set-padding(1, 1, 1, 1);
    }

    .tab-container {
        flex: 1;
        margin-left: 20px;
        display: flex;
        > * {
            flex: 1;
        }
    }

    .preismeldung-list-container {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        @include set-margin(0, 0.5, 0, 0);
        @include set-padding(1, 1, 1, 1);
    }

    preismeldung-list {
        display: flex;
        flex: 1 0 0;
        ion-grid {
            padding: 0;
        }
        ion-row:last-child .item {
            padding-bottom: 10px;
        }
    }

    preismeldung-toolbar {
        flex: 0 0 5.25em;
        max-width: 5.25em;
    }
}
