<header pef-menu></header>
<div class="page-wrapper">
    <div class="page-content">
        <preismeldung-list [preismeldungen]="preismeldungen$ | async" [preismeldestellen]="preismeldestellen$ | async" [preiserhebers]="preiserhebers$ | async"
            [erhebungspositions]="erhebungspositions$ | async" [currentPreismeldung]="currentPreismeldung$ | async" [initialFilter]="initialFilter$ | async"
            [initialPmsNummer]="initialPmsNummer" [preismeldungenStatus]="preismeldungenStatus$ | async" (filterChanged)="pmsFilterChanged$.emit($event)"
            (selectPreismeldung)="selectPreismeldung$.emit($event)" (resetPreismeldungen)="resetPreismeldungen$.emit()"></preismeldung-list>
        <div class="preismeldung-detail-container container" *ngIf="currentPreismeldung$ | async; let currentPreismeldung">
            <preismeldung-toolbar *ngIf="!!(currentPreismeldung$ | async)?.pmId" [preismeldung]="currentPreismeldung$ | async" [selectedTab]="selectedTab$ | async"
                (selectTab)="selectTab$.emit($event)" [isAdminApp]="true" (buttonClicked)="toolbarButtonClicked$.emit($event)" [disableQuickEqual]="disableQuickEqual$ | async">
            </preismeldung-toolbar>
            <div class="tab-container" *ngIf="!!(currentPreismeldung$ | async)?.pmId">
                <preismeldung-info-warenkorb [class.display-none]="(selectedTab$ | async) != 'INFO_WARENKORB'" [isDesktop]="true" [preismeldung]="currentPreismeldung$ | async"
                    [preismeldestelle]="preismeldestelle$ | async" [warenkorb]="warenkorb$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                    [isAdminApp]="true"></preismeldung-info-warenkorb>
                <preismeldung-info [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG_INFO'" [isDesktop]="true" [preismeldung]="currentPreismeldung$ | async"
                    [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async" (resetClicked)="resetPreismeldung$.emit()"
                    [isAdminApp]="true"></preismeldung-info>
                <preismeldung-attributes [class.display-none]="(selectedTab$ | async) != 'PRODUCT_ATTRIBUTES'" [preismeldung]="currentPreismeldung$ | async"
                    [isDesktop]="true" [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                    (preismeldungAttributesPayload)="updatePreismeldungAttributes$.emit($event)" [isAdminApp]="true"></preismeldung-attributes>
                <preismeldung-messages [class.display-none]="(selectedTab$ | async) != 'MESSAGES'" [isActive]="(selectedTab$ | async) == 'MESSAGES'"
                    [preismeldung]="currentPreismeldung$ | async" [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                    [isDesktop]="true" (preismeldungMessagesPayload)="updatePreismeldungMessages$.emit($event)" (kommentarClearClicked)="kommentarClearClicked$.next()"
                    [isAdminApp]="true"></preismeldung-messages>
                <preismeldung-price [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG'" [preismeldung]="currentPreismeldung$ | async"
                    [isDesktop]="true" [preismeldestelle]="preismeldestelle$ | async" [requestPreismeldungSave]="requestPreismeldungSave$ | async"
                    [requestPreismeldungQuickEqual]="requestPreismeldungQuickEqual$ | async" (preismeldungPricePayload)="updatePreismeldungPreis$.emit($event)"
                    (duplicatePreismeldung)="duplicatePreismeldung$.emit()" (requestSelectNextPreismeldung)="requestSelectNextPreismeldung$.emit({})"
                    (requestThrowChanges)="requestThrowChanges$.emit({})" [isAdminApp]="true" (save)="save$.emit($event)" (disableQuickEqual)="disableQuickEqual$.emit($event)">
                    <div class="additional-actions" *ngIf="!!currentPreismeldung.preismeldung.uploadRequestedAt">
                        <pef-pm-status [disabled]="currentPreismeldung.exported" [preismeldungStatus]="(preismeldungenStatus$ | async)[currentPreismeldung.pmId]"
                            (setPreismeldungStatus)="setPreismeldungStatus$.emit({ pmId: currentPreismeldung.pmId, status: $event })"></pef-pm-status>
                    </div>
                </preismeldung-price>
                <div class="pe-details">{{(preiserheber$ | async)?.firstName}} {{(preiserheber$ | async)?.surname}}</div>
            </div>
        </div>
    </div>
</div>
