preismeldung,
preismeldung-by-pms {
    .page-content .container.preismeldung-detail-container {
        flex: 3 1;
        display: flex;
        background-color: transparent;
        @include set-margin(0, 0, 0, 0.5);
        @include set-padding(1, 1, 1, 1);
    }

    .tab-container {
        flex: 1;
        margin-left: 20px;
        display: flex;
        background-color: $mercury;
        > * {
            flex: 1;
        }
    }

    preismeldung-list {
        display: flex;
        flex: 2 0 0;
    }

    preismeldung-toolbar {
        flex: 0 0 5.25em;
        max-width: 5.25em;
    }

    .detail-tab-bottom-part {
        @include set-padding(1, 1, 1, 1);
        flex: 1 1 auto;
        background-color: $mercury;
        display: flex;
        flex-direction: column;
    }
}
