@import '../../../theme/imports.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top-section {
        display: flex;
        flex: 0 0 auto;

        h2 {
            margin: auto;
        }

        .filter {
            display: flex;
            align-self: flex-start;
            flex-direction: column;
            flex: 0;

            .status {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ion-radio-group {
                    --ion-background-color: transparent;
                    display: flex;
                    ion-radio {
                        margin-right: 10px;
                    }
                    ion-item {
                        --padding-start: 0;
                        width: auto;
                    }
                }
            }
            .controlling {
                align-self: flex-start;
            }
        }
        ion-button {
            --padding-start: 8px;
            --padding-end: 8px;
            &.active {
                --background: #{$bittersweet};
                --opacity: 0.9;
            }
        }
        .actions {
            display: flex;
            align-self: flex-end;
            align-items: center;
        }
    }

    .btn-execute,
    pef-zoom {
        margin: 0 0 0 20px;
    }

    .controlling-selected {
        padding: 6px 8px;
    }

    .table-wrapper {
        margin-top: 20px;
        overflow: auto;
        flex: 1;
        user-select: text;
    }

    .report-table {
        min-width: 100%;

        .align-right {
            text-align: right;
        }

        tr:nth-child(odd) {
            background-color: darken($alto, 3%);
        }
        th {
            background-color: $alto;
            position: sticky;
            top: 0;
            white-space: nowrap;
            text-align: left;
            padding-right: 10px;
            padding-bottom: 8px;
            &.collapsable {
                cursor: pointer;
            }
        }

        tr {
            &.behind-marked {
                background-color: $egg-white;
                &:nth-child(odd) {
                    background-color: darken($egg-white, 3%);
                }
                input[type='radio'] {
                    background-color: $bright-sun;
                }
            }
            &.marked {
                background-color: $bright-sun;
                input[type='radio']:checked {
                    background-color: $egg-white;
                }
            }
        }

        &.same-line {
            td {
                max-width: 70px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.large {
                max-width: 230px;
            }
            &.medium {
                max-width: 150px;
            }
            &.small {
                max-width: 100px;
            }
            &.minimal {
                max-width: 30px;
            }
        }

        td {
            padding-right: 10px;

            &.large {
                min-width: 230px;
            }
            &.medium {
                min-width: 150px;
            }
            &.small {
                min-width: 100px;
            }
            &.minimal {
                min-width: 30px;
            }
            &.marker {
                position: relative;
                min-width: 25px;
                padding: 0;
            }
            input[type='radio'] {
                position: absolute;
                top: 1px;
                bottom: 1px;
                left: 0;
                right: 5px;
                cursor: cell;
                background-color: $white;
                appearance: none;
                display: block;
                width: 20px;
                opacity: 0.6;
                margin: 1px 0;
                border-radius: 2px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }

            &.fixed {
                white-space: nowrap;
            }
        }

        .collapsed {
            min-width: 15px;
            padding: 0;
            font-size: 0;
            border: 0px solid $trout;
            border-left-width: 1px;
            border-right-width: 1px;
            background-color: lighten($trout, 50%);

            & + td,
            & + th {
                padding-left: 10px;
            }
        }
    }

    .edit-pm {
        fill: white;
        margin: 2px 0;
        --padding-start: 1px;
        --padding-end: 1px;
        height: auto;
    }
    .additional-actions {
        margin-left: 20px;
    }
}
