@import '../../../theme/imports.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top-section {
        display: flex;
        flex: 0 0 auto;

        h2 {
            margin: auto;
        }

        .filter {
            display: flex;
            align-self: flex-start;
            flex-direction: column;
            flex: 0;

            .status {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ion-radio-group {
                    --ion-background-color: transparent;
                    display: flex;
                    ion-radio {
                        margin-right: 10px;
                    }
                    ion-item {
                        --padding-start: 0;
                        width: auto;
                    }
                }
            }
            .controlling {
                align-self: flex-start;
            }
        }
        ion-button {
            --padding-start: 8px;
            --padding-end: 8px;
            &.active {
                --background: #{$bittersweet};
                --opacity: 0.9;
            }
        }
        .actions {
            display: flex;
            align-self: flex-end;
            align-items: center;
        }
    }

    .btn-execute,
    pef-zoom {
        margin: 0 0 0 20px;
    }

    .controlling-selected {
        padding: 6px 8px;
    }

    .table-wrapper {
        margin-top: 20px;
        overflow: auto;
        flex: 1;
        user-select: text;
    }

    .report-table {
        min-width: 100%;

        .align-right {
            text-align: right;
        }

        tr:nth-child(odd) {
            background-color: darken($alto, 3%);
        }
        th {
            background-color: $alto;
            position: sticky;
            top: 0;
            white-space: nowrap;
            text-align: left;
            padding-right: 10px;
            padding-bottom: 8px;
            &.collapsable {
                cursor: pointer;
            }
        }

        tr {
            &.behind-marked {
                background-color: $egg-white;
                &:nth-child(odd) {
                    background-color: darken($egg-white, 3%);
                }
                input[type='radio'] {
                    background-color: $bright-sun;
                    border-style: inset;
                    &::after {
                        color: $trout;
                    }
                }
            }
            &.marked {
                background-color: $bright-sun;
                input[type='radio']:checked {
                    background-color: $egg-white;
                    border-style: inset;
                    &::after {
                        color: $trout;
                    }
                }
            }
        }

        &.same-line {
            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        td {
            padding-right: 10px;

            &.marker {
                position: relative;
                width: 16px;
                padding: 0;
            }
            &.edit {
                width: 30px;
                padding: 0 2px;
            }
            &.status {
                width: 40px;
                padding: 0 6px 0 2px;
            }
            &.id {
                width: 110px;
                padding-right: 5px;
            }
            input[type='radio'] {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                cursor: cell;
                background-color: $white;
                appearance: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 12px;
                opacity: 0.6;
                margin: 0;
                border: 1px outset $white;
                &::after {
                    content: '›';
                    color: $java;
                    line-height: 25px;
                    font-size: x-large;
                    margin-bottom: 6px;
                }
            }

            &.fixed {
                white-space: nowrap;
            }
        }

        .collapsed {
            width: 15px;
            padding: 0;
            font-size: 0;
            border: 0px solid $trout;
            border-left-width: 1px;
            border-right-width: 1px;
            background-color: lighten($trout, 50%);

            & + td,
            & + th {
                padding-left: 10px;
            }
        }
    }

    .edit-pm {
        display: flex;
        justify-content: center;
        fill: white;
        background-color: $java;
        border-radius: 2px;
        height: 25px;
        width: 25px;
        padding: 0;
        margin: 2px 0;
    }
    .additional-actions {
        margin-left: 20px;
    }
}
