@import "../../theme/imports.scss";

// TODO put this in app.scss
.md .modal-wrapper {
    box-shadow: none;
}

login-modal.ion-page {
    box-shadow: $whiteframe-shadow-4dp;
    height: 300px;

    padding: 2em;
    background-color: white;

    ion-item.item-md {
        padding-left: 0;
    }

    button {
        float: right;
    }

    .header {
        display: flex;
        h3 { flex: 1; }
        a {
            flex: 0;
            fill: $outer-space;
        }
    }
}
