<div class="wrapper">
    <div class="header">
        <h3>{{'heading_pms-details' | translate}}</h3>
        <a ion-button large clear class="align-right" color="white" (click)="cancelClicked$.emit($event)">
            {{'btn_close' | translate}}
            <pef-icon name="close_screen"></pef-icon>
        </a>
    </div>
    <ion-content no-scroll>
        <div class="content pms-details-content">
            <form [formGroup]="form" class="stacked-form" [class.form-show-validation-hints]="showValidationHints$ | async">
                <div class="pef-scroll-container" pef-perfect-scrollbar [enabled]="isDesktop$ | async">
                    <div class="pms-scroll-content">
                        <h4 class="large">{{ form.value.name }}</h4>
                        <div class="form-error" *ngIf="hasErrors$ | async">
                            <pef-icon name="survey"></pef-icon>
                            <div class="messages">
                                <span *ngFor="let error of formErrors$ | async">{{error | translate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h5>{{ 'label_pms_preismeldestellenummer' | translate }}</h5>
                                <div class="readonly-text">{{(pms$ | async)?.pmsNummer}}</div>
                            </div>
                            <div class="column"></div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h5>{{ 'label_pms_adresse' | translate }}</h5>
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="name"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_zusatzname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="supplement"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_street' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="street"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_postcode' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="postcode"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_town' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="town"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                    <div class="pef-item item item-block item-md item-label-stacked item-input">
                                        <div class="item-inner">
                                            <div class="input-wrapper">
                                                <ion-label stacked [class.target-ng-invalid]="form.controls.languageCode.invalid">{{ 'label_pms_language-code' | translate }}</ion-label>
                                                <div class="input input-md pef-select">
                                                    <select formControlName="languageCode">
                                                        <option *ngFor="let language of languages$ | async" [value]="language.languageCode">{{language.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pef-item item item-block item-md item-label-stacked item-input">
                                        <div class="item-inner">
                                            <div class="input-wrapper">
                                                <ion-label stacked [class.target-ng-invalid]="form.controls.erhebungsregion.invalid">{{ 'label_pms_region' | translate }}</ion-label>
                                                <div class="input input-md pef-select">
                                                    <select formControlName="erhebungsregion">
                                                        <option *ngFor="let region of regionen$ | async" [value]="region._id">{{region.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-list>
                            </div>
                            <div class="column"></div>
                        </div>
                        <div class="row" formArrayName="kontaktpersons">
                            <div class="column" [formGroupName]="0">
                                <h5>{{ 'label_pms_kontaktperson_1' | translate }}</h5>
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_first-name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="firstName"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_surname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="surname"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_person-function' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="personFunction"></ion-input>
                                    </ion-item>
                                    <div class="pef-item item item-block item-md item-label-stacked item-input">
                                        <div class="item-inner">
                                            <div class="input-wrapper">
                                                <ion-label stacked>{{ 'label_pms_language-code' | translate }}</ion-label>
                                                <div class="input input-md pef-select">
                                                    <select formControlName="languageCode">
                                                        <option value="">{{ 'text_not-specified' | translate }}</option>
                                                        <option *ngFor="let language of languages$ | async" [value]="language.languageCode">{{language.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_mobile' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="mobile"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_fax' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="fax"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="column" [formGroupName]="1">
                                <h5>{{ 'label_pms_kontaktperson_2' | translate }}</h5>
                                <ion-list no-lines>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_first-name' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="firstName"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_surname' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="surname"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_kontaktperson_person-function' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="personFunction"></ion-input>
                                    </ion-item>
                                    <div class="pef-item item item-block item-md item-label-stacked item-input">
                                        <div class="item-inner">
                                            <div class="input-wrapper">
                                                <ion-label stacked>{{ 'label_pms_language-code' | translate }}</ion-label>
                                                <div class="input input-md pef-select">
                                                    <select formControlName="languageCode">
                                                        <option value="">{{ 'text_not-specified' | translate }}</option>
                                                        <option *ngFor="let language of languages$ | async" [value]="language.languageCode">{{language.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_telephone' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="telephone"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_mobile' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="mobile"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_fax' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="fax"></ion-input>
                                    </ion-item>
                                    <ion-item class="pef-item">
                                        <ion-label stacked>{{ 'label_pms_email' | translate }}</ion-label>
                                        <ion-input type="text" formControlName="email"></ion-input>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="double-column">
                                <h5>{{ 'label_pms_zusatzinformationen' | translate }}</h5>
                                <ion-list class="padding-to-header">
                                    <ion-item class="pef-item">
                                        <ion-textarea formControlName="zusatzInformationen"></ion-textarea>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <h5>{{ 'label_pms_erhebungsart' | translate}}</h5>
                                <ion-list radio-group class="padding-to-header" formControlName="erhebungsart">
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungsart_vor-ort-app' | translate}}</ion-label>
                                        <ion-radio value="vor_ort_mit_tablet"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungsart_telephone' | translate}}</ion-label>
                                        <ion-radio value="telefon"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungsart_internet' | translate}}</ion-label>
                                        <ion-radio value="internet"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungsart_persoenlich' | translate}}</ion-label>
                                        <ion-radio value="papier_persoenlich"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungsart_abgegeben' | translate}}</ion-label>
                                        <ion-radio value="papier_pms_abgegeben"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="column">
                                <h5>{{ 'label_pms_erhebungshaeufigkeit' | translate }}</h5>
                                <ion-list radio-group class="padding-to-header" formControlName="erhebungshaeufigkeit">
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungshaeufigkeit_monatlich' | translate}}</ion-label>
                                        <ion-radio value="monatlich"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungshaeufigkeit_quartalsweise' | translate}}</ion-label>
                                        <ion-radio value="quartalsweise"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungshaeufigkeit_halbjaehrlich' | translate}}</ion-label>
                                        <ion-radio value="halbjaehrlich"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{ 'label_pms_erhebungshaeufigkeit_jaehrlich' | translate}}</ion-label>
                                        <ion-radio value="jaehrlich"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>
                        <div class="double-column">
                            <h5>{{ 'label_pms_bemerkungen_erhebungsart' | translate }}</h5>
                            <ion-list class="padding-to-header">
                                <ion-item class="pef-item">
                                    <ion-textarea formControlName="erhebungsartComment"></ion-textarea>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <button type="button" ion-button color="blue-chill" (click)="saveClicked$.emit($event)">{{'btn_save' | translate}}</button>
                    <button type="button" ion-button (click)="cancelClicked$.emit($event)">{{'btn_cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </ion-content>
</div>
