@import "../../theme/imports.scss";

pms-details.ion-page {
    background-color: $trout;
    display: flex;

    .wrapper {
        color: $white;
        margin: 0 6em;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .pms-details-page {
        margin: 0 7em;
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        align-items: center;
        height: 3.5em;
        h3 {
            flex: 1;
            margin: 0;
        }
        .button, a[ion-button].button:hover {
            color: $white;
            fill: $white;
        }
    }

    .pms-details-content {
        overflow-y: auto;
        height: 100%;
        background-color: $mercury;
        color: $outer-space;
        flex: 1;
        display: flex;
        padding: 1em 1.5em;
        position: relative;
        > * {
            flex: 1;
        }

        .pef-item .input-wrapper {
            height: inherit;
        }
    }

    .pms-scroll-content {
        max-width: 1280px;
    }

    .row {
        padding: 0 4px 40px 4px;
        display: flex;
        .column {
            flex: 1;
            ion-list {
                width: 80%;
            }
        }
    }

    .double-column {
        padding: 0 4px 40px 4px;
        width: 90%;
    }

    .padding-to-header {
        padding-top: 10px;
    }

    .readonly-text {
        font-weight: 500;
    }

    .actions {
        padding: 2em;
        text-align: right;
    }

    .form-error {
        padding: 0.6em 1.2em;
        background-color: $alizarin-crimson;
        color: $white;
        display: flex;

        pef-icon {
            flex: 0;
        }
        .messages {
            flex: 1;
            display: flex;
            flex-direction: column;

            span {
                padding: 0.2em 0;
                flex: 1;
                display: block;
            }
        }
    }
}
