<div class="product-functions">
    <div class="button-container">
        <button ion-button color="secondary" class="function-button">
            <ion-icon name="star"></ion-icon>
        </button>
        <button ion-button color="secondary" class="function-button">
            <ion-icon name="star"></ion-icon>
        </button>
        <button ion-button color="secondary" class="function-button">
            <ion-icon name="star"></ion-icon>
        </button>
    </div>
    <button ion-button round outline (click)="toggleFilter.emit()">
        {{ filterButtonText | async }}
    </button>
    <!--<button ion-button clear (click)="toggleFilter.emit()">
        {{ filterButtonText | async }}
    </button>-->
</div>
<form [formGroup]="form">
    <div class="product-filter" [class.hidden]="!(showFilter | async)">
        <div class="checkboxes-container">
            <ion-item class="checkbox">
                <ion-checkbox></ion-checkbox>
                <ion-label>
                    <svg class="warning" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" width="32" height="32"></rect>
                    </svg>
                </ion-label>
            </ion-item>
            <ion-item class="checkbox">
                <ion-checkbox></ion-checkbox>
                <ion-label>
                    <svg class="success" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" width="32" height="32"></rect>
                    </svg>
                </ion-label>
            </ion-item>
        </div>
        <ion-item class="input">
            <ion-input
                formControlName="filterText"
                placeholder="Suche"
                clearInput></ion-input>
        </ion-item>
    </div>
</form>
<div class="product-list-scroll-container">
    <pef-virtual-scroll [items]="filteredProducts | async" (update)="viewPortItems = $event">
        <ion-item
            class="product-item"
            *ngFor="let product of viewPortItems"
            (click)="selectProduct.emit(product)"
            [class.selected]="product == (selectedProduct | async)"
            tappable>
            <div class="product-code">
                {{ product.code }}
            </div>
            <div class="product-description">
                <span class="name">{{ product.name.de }}</span>
                <span class="comment">-</span>
            </div>
            <div class="product-icons">
                <pef-icon class="warning" name="square-option"></pef-icon>
            </div>
        </ion-item>
    </pef-virtual-scroll>
</div>
