@import "../../../theme/imports.scss";

product-list {
    display: flex;
    flex-direction: column;
    background-color: $mercury;
    @include set-padding(0.625, 0.5, 1.25, 0.5);

    .product-list-scroll-container {
        flex: 1;
        background-color: $mercury;
        display: flex;

        pef-virtual-scroll {
            height: 100%;
            width: 100%;
        }
    }

    .product-item {
        padding-left: 0;
        border-bottom-width: 0;
        min-height: 3.5em;
        @include set-margin-bottom(0.25);
        &.selected {
            background-color: $teal-blue;
            color: white;
            .product-position-number, .product-description > .name {
                color: white;
            }
        }
        &.item-md.item-block .item-inner {
            @include set-padding(0, 0, 0, 0.5);
        }
        ion-label {
            margin: 0;
            display: flex;
            height: 100%;
            align-items: center;
            align-content: center;
            font-size: 1em;
        }
        .product-position-number {
            max-width: 4em;
            flex: 0 0 4em;
            color: $blue-chill;
            font-weight: 500;
        }
        .product-description {
            width: calc(100% - 9em);
            max-width: calc(100% - 9em);
            flex: 0 0 calc(100% - 9em);
            display: flex;
            flex-direction: column;
            span {
                display: inline-block;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
                line-height: 1.25em;
                &.name {
                    color: $blue-chill;
                    font-weight: 500;
                }
            }
        }
        .product-status {
            max-width: 5em;
            flex: 0 0 5em;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            pef-icon {
                margin-right: 0.5em;
            }
            .status-bar {
                flex: 0 0 8px;
                background-color: $bright-sun;
                height: 3.5em;
            }
        }
    }
}

// product-list {
//     flex: 1;
//     display: flex;
//     flex-direction: column;

//     .product-functions {
//         flex: 0 0 auto;
//         // background-color: $geyser;
//         padding: 12px 8px;
//         display: flex;
//         justify-content: space-between;
//         button {
//             margin: 0;
//         }
//         button.function-button {
//             flex: 0 0 48px;
//             margin-right: 24px;
//         }
//     }

//     .product-filter {
//         flex: 0 0 auto;
//         display: flex;
//         padding: 12px 8px 8px 8px;
//         justify-content: space-between;
//         // background-color: $athens-gray;
//         &.hidden {
//             display: none;
//         }
//         .checkboxes-container {
//             display: flex;
//             ion-item.checkbox {
//                 margin-right: 16px;
//             }
//         }
//         ion-item.checkbox {
//             background-color: transparent;
//             padding: 0;
//             ion-checkbox {
//                 &.checkbox-md {
//                     margin: 0 8px 0 0;
//                 }
//             }
//             .item-inner {
//                 padding: 0;
//                 border: none;
//             }
//             .label-md {
//                 margin-top: 0;
//                 margin-bottom: 0;
//             }
//         }
//         svg.warning {
//             // fill: $lightning-yellow;
//         }
//         svg.success {
//             // fill: $chateau-green;
//         }
//         ion-item.input {
//             flex: 1;
//             padding-left: 0;
//             min-height: initial;
//             .item-inner {
//                 // border-top: 1px solid $dusty-gray;
//                 // border-left: 1px solid $dusty-gray;
//                 // border-right: 1px solid $dusty-gray;
//                 /*border-bottom: 1px solid $dusty-gray !important;*/
//             }
//             .text-input-md {
//                 height: 36px;
//                 margin: 0 8px;
//             }
//         }
//     }

//     .product-list-scroll-container {
//         flex: 1;
//         // background-color: $athens-gray;
//         display: flex;
//         flex-direction: column;
//         padding: 4px 8px;

//         pef-virtual-scroll {
//             width: 100%;
//         }
//     }

//     .product-item {
//         padding-left: 0;
//         // background-color: $geyser;
//         // border-bottom: 4px solid $athens-gray;
//         min-height: 4.4em;
//         &.selected {
//             // background-color: $athens-gray2;
//             .product-description .name {
//                 color: black;
//             }
//         }
//         .item-inner {
//             padding: 8px;
//         }
//         ion-label {
//             margin: 0;
//             display: flex;
//         }
//         .product-code {
//             max-width: 4em;
//             flex: 0 0 4em;
//         }
//         .product-description {
//             width: calc(100% - 6em);
//             max-width: calc(100% - 6em);
//             flex: 0 0 calc(100% - 6em);
//             display: flex;
//             flex-direction: column;
//             span {
//                 display: inline-block;
//                 text-overflow: ellipsis;
//                 width: 100%;
//                 overflow: hidden;
//                 &.name {
//                     // color: $teal-blue;
//                     font-weight: 500;
//                 }
//             }
//         }
//         .product-icons {
//             max-width: 2em;
//             flex: 0 0 2em;
//             display: flex;
//             align-items: center;
//         }
//     }
// }

