preismeldestelle-detail {
    h1 {
        margin-bottom: 0.5em;
    }
    h5 {
        margin-top: 0.5em;
    }
    .item-md.pef-item ion-input[readonly] {
        border: none;
        margin-bottom: 2px;
    }
    .pef-select select {
        margin-bottom: 0 !important;
    }
}
