<div class="pef-dialog-message">
    <h3>
        <pef-icon name="warning"></pef-icon>
        {{'dialog.loeschen.bestaetigung' | translate}}
    </h3>
    <p>{{ data.message | translate}}</p>
</div>

<div class="pef-dialog-button-row">
    <ion-button (click)="closeDialog('ABORT_DELETE')" color="primary"
        >{{'label.aktionen.abbrechen' | translate}}</ion-button
    >
    <ion-button class="danger" (click)="closeDialog('CONFIRM_DELETE')" color="secondary"
        >{{'label.aktionen.loeschen' | translate}}</ion-button
    >
</div>
