<div class="preismeldung-list-flex-container">
    <div class="preismeldung-list-filter">
        <pef-search-input class="pms-search" (valueChanges)="filterText$.emit($event)"></pef-search-input>
    </div>
    <div class="preismeldung-list-check-filter">
        <button ion-button icon-only color="wild-sand" [class.button-radio-selected]="filterTodoSelected$ | async"  (click)="selectFilterTodo$.emit()">
            <pef-icon name="todo"></pef-icon>
        </button>
        <button ion-button icon-only color="wild-sand" [class.button-radio-selected]="filterCompletedSelected$ | async"  (click)="selectFilterCompleted$.emit()">
            <pef-icon name="checkmark"></pef-icon>
        </button>
        <div class="pms-name">
            <span>
                {{ (preismeldestelle$ | async)?.name }}
            </span>
        </div>
    </div>
    <ion-content pef-perfect-virtualscroll-scrollbar [enabled]="isDesktop">
        <ion-list [virtualScroll]="filteredPreismeldungen$ | async" [approxItemHeight]="(itemHeight$ | async) + 'px'" (pef-detect-ion-list-item-height)="ionItemHeight$.emit($event)">
            <ion-item
                *virtualItem="let bag"
                class="preismeldung-item"
                (click)="selectClickedPreismeldung$.emit(bag)"
                [class.selected]="bag.pmId == (currentPreismeldung$ | async)?.pmId"
                tappable>
                <div class="preismeldung-position-number">
                    {{ bag.preismeldung.epNummer }}<br/>&nbsp;
                </div>
                <div class="preismeldung-description">
                    <span class="text">{{ bag.warenkorbPosition.positionsbezeichnung | pefPropertyTranslate }}</span>
                    <span class="artikel-text" [innerHTML]="bag.preismeldung.artikeltext || '&ndash;'"></span>
                </div>
                <div class="preismeldung-status-todo" *ngIf="bag.preismeldung.percentageDPToVP == null">
                    <pef-icon name="alarmclock_normal" [svgCssClasses]="calcStichtagStatus(bag, (currentTime$ | async))"></pef-icon>
                    <div class="status-bar"></div>
                </div>
                <div class="preismeldung-status-done" *ngIf="bag.preismeldung.percentageDPToVP != null">
                    <div class="code" [innerHTML]="bag.preismeldung.bearbeitungscode == 99 ? '&nbsp;' : getBearbeitungscodeDescription(bag.preismeldung.bearbeitungscode)"></div>
                    <div class="percentage" [innerHTML]="formatPercentageChange(bag.preismeldung)"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="preismeldung-list-footer">
        <div class="preismeldung-list-functions">
            <button ion-button icon-only color="wild-sand" [disabled]="true">
                <pef-icon name="sorting_arrows"></pef-icon>
            </button>
            <button ion-button icon-only color="wild-sand" (click)="addNewPreisreihe$.emit()" [disabled]="(currentPreismeldung$ | async)?.isModified">
                <pef-icon name="add"></pef-icon>
            </button>
        </div>
        <div class="preismeldung-list-completed-count">
            {{ completedCount$ | async }}
        </div>
        <div class="preismeldung-list-arrows">
            <button ion-button icon-only (click)="selectPrevPreismeldung$.emit()">
                <pef-icon name="arrow_left"></pef-icon>
            </button>
            <button ion-button icon-only (click)="selectNextPreismeldung$.emit()">
                <pef-icon name="arrow_right"></pef-icon>
            </button>
        </div>
    </div>
</div>
