<div class="wrapper">
    <div class="header">
        <h3>{{ 'heading_pms-sort' | translate }}</h3>
        <ion-button fill="clear" class="close-button on-dark" (click)="closeClicked$.emit()">
            {{ 'btn_close' | translate }}
            <pef-icon name="close_screen"></pef-icon>
        </ion-button>
    </div>
    <ion-content no-scroll>
        <pms-sort
            [preismeldungen]="preismeldungen$ | async"
            [isDesktop]="isDesktop$ | async"
            (preismeldung-sort-save)="save$.emit($event)"
        ></pms-sort>
    </ion-content>
</div>
