@import '../../theme/imports.scss';

:host {
    background-color: $white;
    padding: 3rem;
    width: auto;
}

h3 {
    line-height: 2;
    margin-bottom: 2.5rem;
}

.inputs-wrapper {
    // margin-left: calc(1rem + 32px);
    width: 50rem;
}

ion-input {
    margin-bottom: 2rem;

    ::ng-deep .native-wrapper {
        background-color: $wild-sand;
    }
}

.error {
    color: $alizarin-crimson;
}

pef-icon {
    fill: $blue-chill;
}

.pef-dialog-login-button-row {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
