<div class="pef-dialog-message">
    <h3>
        <pef-icon name="info-outlined"></pef-icon>
        {{'dialog.login.titel' | translate}}
    </h3>
    <form
        [formGroup]="form"
        (ngSubmit)="login$.emit()"
        [class.form-show-validation-hints]="showValidationHints$ | async">
        <div class="inputs-wrapper">
            <ion-input
                #username
                type="text"
                formControlName="username"
                [label]="'label.login.benutzername' | translate"
                labelPlacement="stacked"
                (keyup.enter)="login$.emit()"></ion-input>

            <ion-input
                type="password"
                formControlName="password"
                [label]="'label.login.passwort' | translate"
                labelPlacement="stacked"
                (keyup.enter)="login$.emit()"></ion-input>
        </div>

        <span class="error" *ngIf="!!(loginError$ | async)"> {{ loginError$ | async }} </span>

        <div class="pef-dialog-login-button-row">
            <a (click)="navigateToSettings()" href="javascript:">
                {{'dialog.login.zu_den_einstellungen' | translate}}
            </a>
            <ion-button type="submit" color="secondary">{{'label.aktionen.login' | translate}}</ion-button>
        </div>
    </form>
</div>
