<header pef-menu></header>
<div class="page-wrapper">
    <ion-content class="page-content">
        <form>
            <ion-row class="container">
                <ion-col width-50>
                    <div class="header">
                        <h1 class="large">Preismeldungen</h1>
                    </div>
                    <ion-row wrap>
                        <ion-col>
                            Preismeldungen Export
                            <div [hidden]="!(exportedPreismeldungen$ | async)" ion-text color="primary">
                                {{exportedPreismeldungen$ | async}} Preismeldungen wurden exportiert
                            </div>
                            <div [hidden]="!(exportErrorPreismeldungen$ | async)" ion-text color="danger" class="error-messages">
                                <div *ngIf="!!(exportErrorPreismeldungen$ | async)?.validations">
                                    <div *ngFor="let validation of (exportErrorPreismeldungen$ | async).validations">
                                        {{ validation.error }}
                                    </div>
                                </div>
                                <div *ngIf="!(exportErrorPreismeldungen$ | async)?.validations">
                                    {{exportErrorPreismeldungen$ | async}}
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <button ion-button class="register-btn" type="button" (click)="exportPreismeldungenClicked$.emit($event)">Export starten</button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row class="container">
                <ion-col width-50>
                    <div class="header">
                        <h1 class="large">Preismeldestellen</h1>
                    </div>
                    <ion-row wrap>
                        <ion-col>
                            Preismeldestellen Export
                            <div [hidden]="!(exportErrorPreismeldestellen$ | async)" ion-text color="primary">
                                {{exportedPreismeldestellen$ | async}} Preismeldestellen wurden exportiert
                            </div>
                            <div [hidden]="!(exportErrorPreismeldestellen$ | async)" ion-text color="danger" class="error-messages">
                                <div *ngIf="!!(exportErrorPreismeldestellen$ | async)?.validations">
                                    <div *ngFor="let validation of (exportErrorPreismeldestellen$ | async).validations">
                                        {{ validation.error }}
                                    </div>
                                </div>
                                <div *ngIf="!(exportErrorPreismeldestellen$ | async)?.validations">
                                    {{exportErrorPreismeldestellen$ | async}}
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <button ion-button class="register-btn" type="button" (click)="exportPreismeldestellenClicked$.emit($event)">Export starten</button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row class="container">
                <ion-col width-50>
                    <div class="header">
                        <h1 class="large">Preiserheber</h1>
                    </div>
                    <ion-row wrap>
                        <ion-col>
                            Preiserheber Export
                            <div [hidden]="!(exportedPreiserheber$ | async)" ion-text color="primary">
                                {{exportedPreiserheber$ | async}} Preiserheber wurden exportiert
                            </div>
                            <div [hidden]="isErhebungsorgannummerSet$ | async" ion-text color="danger">
                                Es ist noch keine Erhebungsorgannummer bei den Einstellungen gesetzt worden.
                            </div>
                            <div [hidden]="!(exportErrorPreiserheber$ | async)" ion-text color="danger" class="error-messages">
                                <div *ngIf="!!(exportErrorPreiserheber$ | async)?.validations">
                                    <div *ngFor="let validation of (exportErrorPreiserheber$ | async).validations">
                                        {{ validation.error }}
                                    </div>
                                </div>
                                <div *ngIf="!(exportErrorPreiserheber$ | async)?.validations">
                                    {{exportErrorPreiserheber$ | async}}
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <button ion-button class="register-btn" type="button" (click)="exportPreiserheberClicked$.emit($event)" [disabled]="!(isErhebungsorgannummerSet$ | async)">Export starten</button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-content>
</div>
