@import '../../../../libs/lik-shared/src/lib/styles/_app.scss';

.ion-page {
    height: 100%;
    width: 100%;
    max-width: $pef-app-max-width;
    margin: 0 auto;
}

app-root:not(.pef-desktop) {
    .visible-scroll-bar {
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            background: transparent;
        }

        ::-webkit-scrollbar:vertical {
            width: 7px;
            background-color: transparent;
        }

        ::-webkit-scrollbar * {
            background: transparent;
        }

        ::-webkit-scrollbar:horizontal {
            height: 7px;
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 7px;
            background-color: rgba(0, 0, 0, 0.2);
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 7px;
        }
    }
}

ion-button {
    --box-shadow: none;
    font-size: 0.875em;
    height: 2.6em;
}

// .article-text-label {
//     font-size: 1.2rem !important;
// }

h3 {
    margin-top: 0;
}

.editable-popover .popover-wrapper.sc-ion-popover-md .popover-content {
    top: 110px !important;
}
