<ion-content>
    <div class="wrapper">
        <div class="header">
            <h1>{{'heading_pms-details' | translate}}</h1>
            <ion-button (click)="cancelClicked$.emit($event)" fill="clear" color="white" class="close-page on-dark"
                >{{ 'btn_close' | translate }}<pef-icon name="close_screen"></pef-icon
            ></ion-button>
        </div>
        <div class="pms-details-content">
            <form
                [formGroup]="form"
                class="stacked-form"
                [class.form-show-validation-hints]="showValidationHints$ | async">
                <ion-row>
                    <ion-col>
                        <ion-input
                            labelPlacement="stacked"
                            [label]="'label_pms_preismeldestellenummer' | translate"
                            readonly
                            type="text"
                            [value]="(pms$ | async)?.pmsNummer"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_name' | translate"
                            type="text"
                            formControlName="name"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_zusatzname' | translate"
                            type="text"
                            formControlName="supplement"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_street' | translate"
                            type="text"
                            formControlName="street"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_postcode' | translate"
                            type="text"
                            formControlName="postcode"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_town' | translate"
                            type="text"
                            formControlName="town"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-input
                            readonly
                            labelPlacement="stacked"
                            [label]="'label_pms_erhebungsregion' | translate"
                            type="text"
                            [value]="(pms$ | async)?.erhebungsregion || '&ndash;'"></ion-input>

                        <ion-label position="stacked"> {{ 'label_pms_anzeige-in-pms-liste' | translate}}</ion-label>
                        <ion-checkbox class="single-checkbox" formControlName="pmsTop"
                            >{{ 'label_pms_pms-liste-top' | translate}}</ion-checkbox
                        >
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_telephone' | translate"
                            type="text"
                            formControlName="telephone"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_email' | translate"
                            type="text"
                            formControlName="email"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_internetlink' | translate"
                            type="text"
                            formControlName="internetLink"></ion-input>
                        <ion-label position="stacked" [class.target-ng-invalid]="form.controls['languageCode'].invalid"
                            >{{ 'label.standard.sprache' | translate }}</ion-label
                        >
                        <select formControlName="languageCode">
                            <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                                {{ ('label.language.' + language.languageCode) | translate }}
                            </option>
                        </select>
                    </ion-col>
                </ion-row>
                <ion-row formArrayName="kontaktpersons">
                    <ion-col [formGroupName]="0">
                        <h5>{{ 'label_pms_kontaktperson_1' | translate }}</h5>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_first-name' | translate"
                            type="text"
                            formControlName="firstName"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_surname' | translate"
                            type="text"
                            formControlName="surname"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_person-function' | translate"
                            type="text"
                            formControlName="personFunction"></ion-input>
                        <ion-label
                            disable-emojis
                            position="stacked"
                            [class.target-ng-invalid]="form.controls['kontaktpersons'].at(0).controls['languageCode'].invalid"
                            >{{ 'label.standard.sprache' | translate }}</ion-label
                        >
                        <select formControlName="languageCode">
                            <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                                {{ language.name }}
                            </option>
                        </select>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_telephone' | translate"
                            type="text"
                            formControlName="telephone"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_mobile' | translate"
                            type="text"
                            formControlName="mobile"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_fax' | translate"
                            type="text"
                            formControlName="fax"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_email' | translate"
                            type="text"
                            formControlName="email"></ion-input>
                    </ion-col>
                    <ion-col [formGroupName]="1">
                        <h5>{{ 'label_pms_kontaktperson_2' | translate }}</h5>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_first-name' | translate"
                            type="text"
                            formControlName="firstName"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_surname' | translate"
                            type="text"
                            formControlName="surname"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_kontaktperson_person-function' | translate"
                            type="text"
                            formControlName="personFunction"></ion-input>
                        <ion-label
                            position="stacked"
                            [class.target-ng-invalid]="form.controls['kontaktpersons'].at(1).controls['languageCode'].invalid"
                            >{{ 'label.standard.sprache' | translate }}</ion-label
                        >
                        <select formControlName="languageCode">
                            <option *ngFor="let language of (languages$ | async)" [value]="language.languageCode">
                                {{ language.name }}
                            </option>
                        </select>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_telephone' | translate"
                            type="text"
                            formControlName="telephone"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_mobile' | translate"
                            type="text"
                            formControlName="mobile"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_fax' | translate"
                            type="text"
                            formControlName="fax"></ion-input>
                        <ion-input
                            disable-emojis
                            labelPlacement="stacked"
                            [label]="'label_pms_email' | translate"
                            type="text"
                            formControlName="email"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h5>{{ 'label_pms_zusatzinformationen' | translate }}</h5>
                        <ion-textarea disable-emojis formControlName="zusatzInformationen"></ion-textarea>
                    </ion-col>
                </ion-row>

                <ion-row class="heading-spacer">
                    <ion-col>
                        <h5>{{ 'label_pms_erhebungsart' | translate}}</h5>
                        <div class="checkbox-list" formGroupName="erhebungsarten">
                            <ion-checkbox formControlName="tablet"
                                >{{ 'label_pms_erhebungsart_vor-ort-app' | translate}}</ion-checkbox
                            >

                            <ion-checkbox formControlName="telefon"
                                >{{ 'label_pms_erhebungsart_telephone' | translate}}</ion-checkbox
                            >

                            <ion-checkbox formControlName="email"
                                >{{ 'label_pms_erhebungsart_email' | translate}}</ion-checkbox
                            >

                            <ion-checkbox formControlName="internet"
                                >{{ 'label_pms_erhebungsart_internet' | translate}}</ion-checkbox
                            >

                            <ion-checkbox formControlName="papierlisteVorOrt"
                                >{{ 'label_pms_erhebungsart_persoenlich' | translate}}</ion-checkbox
                            >

                            <ion-checkbox formControlName="papierlisteAbgegeben"
                                >{{ 'label_pms_erhebungsart_abgegeben' | translate}}</ion-checkbox
                            >
                        </div>
                    </ion-col>
                    <ion-col>
                        <h5>{{ 'label_pms_pmsGeschlossen' | translate }}</h5>
                        <div class="checkbox-list">
                            <ion-radio-group formControlName="pmsGeschlossen">
                                <ion-radio value="1" (click)="pmsGeschlossenClicked$.next()"
                                    >{{ 'label_pms_pmsGeschlossen_1' | translate}}</ion-radio
                                >
                                <ion-radio value="2" (click)="pmsGeschlossenClicked$.next()"
                                    >{{ 'label_pms_pmsGeschlossen_2' | translate}}</ion-radio
                                >
                                <ion-radio value="3" (click)="pmsGeschlossenClicked$.next()"
                                    >{{ 'label_pms_pmsGeschlossen_3' | translate}}</ion-radio
                                >
                                <ion-radio value="4" (click)="pmsGeschlossenClicked$.next()"
                                    >{{ 'label_pms_pmsGeschlossen_4' | translate}}</ion-radio
                                >
                            </ion-radio-group>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="heading-spacer">
                    <ion-col>
                        <h5>{{ 'label_pms_bemerkungen_erhebungsart' | translate }}</h5>
                        <ion-list class="padding-to-header">
                            <ion-textarea disable-emojis formControlName="erhebungsartComment"></ion-textarea>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="form-error" *ngIf="hasErrors$ | async">
                            <span *ngFor="let error of formErrors$ | async">{{error | translate}}</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="heading-spacer">
                    <ion-col>
                        <div class="actions">
                            <ion-button
                                type="button"
                                color="tertiary"
                                (click)="saveClicked$.emit($event)"
                                [disabled]="!(pms$ | async)?.isModified"
                                >{{'label.aktionen.speichern' | translate}}</ion-button
                            >
                            <ion-button type="button" (click)="cancelClicked$.emit($event)"
                                >{{'btn_close' | translate}}</ion-button
                            >
                        </div>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>
