// @import '../../theme/imports.scss';
@import '../../theme/variables.scss';

:host {
    background-color: $trout;
    display: flex;
    flex: 1;

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    h5 {
        color: $black;
    }

    .wrapper {
        margin: 1.1em 2em;
        color: $white;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2em;

        ion-button {
            color: $white;
        }
    }

    .pms-details-content {
        background-color: $mercury;
        padding: 1em 1.5em;
        color: $black;
    }

    .single-checkbox {
        height: 35px;
        margin-bottom: 16px;
        margin-left: 6px;
    }

    .heading-spacer {
        margin-top: 1.5em;
    }
    .form-error {
        color: $alizarin-crimson;
    }
}
