<div class="edit-preismeldung-wrapper">
    <a ion-button large clear class="close-button" color="white" (click)="_closeClicked$.emit($event)">
        {{'btn_close' | translate}}
        <pef-icon name="close_screen"></pef-icon>
    </a>
    <div class="edit-wrapper">
        <preismeldung-toolbar *ngIf="!!(currentPreismeldung$ | async)" [preismeldung]="currentPreismeldung$ | async" [selectedTab]="selectedTab$ | async"
            (selectTab)="selectTab$.emit($event)" [isAdminApp]="true" (buttonClicked)="toolbarButtonClicked$.emit($event)">
        </preismeldung-toolbar>
        <div class="tab-container" *ngIf="!!(currentPreismeldung$ | async)">
            <preismeldung-info-warenkorb [class.display-none]="(selectedTab$ | async) != 'INFO_WARENKORB'" [isDesktop]="true" [preismeldung]="currentPreismeldung$ | async"
                [preismeldestelle]="preismeldestelle$ | async" [warenkorb]="warenkorb$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                [isAdminApp]="true"></preismeldung-info-warenkorb>
            <preismeldung-info [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG_INFO'" [isDesktop]="true" [preismeldung]="currentPreismeldung$ | async"
                [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async" (resetClicked)="resetPreismeldung$.emit()"
                [isAdminApp]="true"></preismeldung-info>
            <preismeldung-attributes [class.display-none]="(selectedTab$ | async) != 'PRODUCT_ATTRIBUTES'" [preismeldung]="currentPreismeldung$ | async"
                [isDesktop]="true" [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                (preismeldungAttributesPayload)="updatePreismeldungAttributes$.emit($event)" [isAdminApp]="true"></preismeldung-attributes>
            <preismeldung-messages [class.display-none]="(selectedTab$ | async) != 'MESSAGES'" [isActive]="(selectedTab$ | async) == 'MESSAGES'"
                [preismeldung]="currentPreismeldung$ | async" [preismeldestelle]="preismeldestelle$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"
                [isDesktop]="true" (preismeldungMessagesPayload)="updatePreismeldungMessages$.emit($event)" (kommentarClearClicked)="kommentarClearClicked$.emit()"
                [isAdminApp]="true"></preismeldung-messages>
            <preismeldung-price [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG'" [preismeldung]="currentPreismeldung$ | async"
                [isDesktop]="true" [preismeldestelle]="preismeldestelle" [requestPreismeldungSave]="requestPreismeldungSave$ | async"
                [requestPreismeldungQuickEqual]="requestPreismeldungQuickEqual$ | async" (preismeldungPricePayload)="updatePreismeldungPreis$.emit($event)"
                (duplicatePreismeldung)="duplicatePreismeldung$.emit()" (requestSelectNextPreismeldung)="requestSelectNextPreismeldung$.emit({})"
                (requestThrowChanges)="requestThrowChanges$.emit({})" [isAdminApp]="true" (save)="savePreismeldungPrice$.emit($event)"></preismeldung-price>
            <div class="pe-details">{{preiserheber?.firstName}} {{preiserheber?.surname}}</div>
        </div>
    </div>
</div>
