@import "../../../../../theme/imports.scss";

preismeldung-detail-price {
    display: flex;
    flex-direction: column;
    background-color: $alto;

    .message {
        @include set-padding(1, 1, 1, 1);
        background-color: $mercury;
    }

    .header {
        @include set-padding-vert-horiz(0.5, 1);
        flex: 0 0 auto;
        color: white;
        background-color: $surfie-green;
        .item-md.pef-item ion-label {
            color: white;
        }
    }

    .header-line {
        display: flex;
        align-items: center;
    }

    .product-heading {
        white-space: wrap;
        line-height: 1.25em;
        max-height: 2.5em;
        overflow-y: hidden;
        text-overflow: ellipsis;
        overflow-x: hidden;
        padding-bottom: 2px;
        flex: 0 0 50%;
    }

    .right-column {
        flex: 0 0 5em;
        display: flex;
        justify-content: flex-end;
    }

    .duplicate {
        .background-plus {
            fill: $scooter;
         }
         .foreground-plus {
             fill: $blue-chill;
         }
         &:hover:not(.disable-hover) {
             .foreground-plus, .background-plus {
                 fill: white;
             }
         }
    }

    ion-input[type="text"], ion-input[type="number"] {
        font-size: 1.25em;
        font-weight: 500;
    }

    ion-list.list-md {
        margin-bottom: 0;
    }

    .product-detail-body-container {
        flex: 1;
    }

    .product-detail-body {
        @include set-margin-top(0.25);
        @include set-padding(1, 1, 0, 1);
        background-color: $mercury;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;

        .columns {
            display: flex;
        }

        h4, h5 {
            margin-bottom: 0.5em;
        }
    }

    .box-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        background-color: $wild-sand;
        @include set-padding(0.5, 0.75, 0.5, 0.75);
        font-weight: 500;
        font-size: 1.25em;
        min-width: 4.5em;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .arrow {
        width: 0;
        height: 0;
        &.right {
            border-top: 10px solid transparent;
            border-left: 10px solid $wild-sand;
            border-bottom: 10px solid transparent;
        }
        &.down {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $wild-sand;
        }
        &.up-right {
            border-bottom: 13px solid $wild-sand;
            border-left: 13px solid transparent;
            align-self: flex-end;
        }
    }

    .last-period {
        flex: 0 0 calc(50% - 5em);
        max-width: calc(50% - 5em);
        // flex: 0 1 50%;
        display: flex;
        flex-direction: column;
    }

    .middle-section {
        // @include set-flex(0, 0, 10);
        flex: 0 0 10em;
    }

    .current-period {
        // flex: 0 1 50%;
        flex: 0 0 calc(50% - 5em);
        max-width: calc(50% - 5em);
    }

    .product-detail-row {
        .item-md.pef-item ion-label {
            order: 1;
            padding-left: 1.25em;
            width: 3.5em;
            margin: 0;
            font-size: 1em;
            color: $outer-space;
            opacity: 0.95;
        }
        .item-md.pef-item ion-input input {
            width: 100%;
            text-align: right;
        }
    }

    .product-detail-row.row-1 {
    }
    .product-detail-row.row-2 {
        .last-period {
            .last-period-price, .last-period-quantity {
                display: flex;
                justify-content: flex-end;
                font-weight: 500;
                align-items: center;
                @include set-padding-bottom(1);
            }

            .number {
                font-size: 1.25em;
            }

            .unit {
                opacity: 0.95;
                width: 3.5em;
                padding-left: 1.25em;
            }

            .last-period-bottom-row {
                display: flex;
            }

            .code {
                flex: 1;
                display: flex;
                font-size: 1.25em;
                font-weight: 500;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-bottom: 5px;
            }

            .box-container {
                flex-direction: column;
            }
        }

        .middle-section {
            .box-container {
                padding-top: 2.75em;
            }
        }

        .current-period {
            display: flex;

            .data-input-area {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .reduction-radio-group-list, .code-button-list, processing-code {
                @include set-padding-top(0.5);
            }
        }
    }

    .product-detail-row.row-3 {
        .middle-section-container-wrapper {
            display: flex;
            justify-content: center;
        }
        .box-container {
            margin-top: -13px;
            flex: 0;
            flex-direction: column;
        }
        .current-period {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            button {
                align-self: flex-end;
            }
        }
    }

    .product-detail-row.row-4 {
        display: none;
        .current-period {
            display: flex;
            justify-content: flex-end;
        }
    }

    .save-button {
        margin-bottom: 0;
        &.with-top-margin {
            @include set-margin-top(2);
        }
    }

    .data-input-area {
        background-color: $wild-sand;
        @include set-padding(1, 1, 1, 1);
    }
}


@media screen and (min-height: 800px) {
    product-detail-preismeldung {
        .product-detail-row.row-3 {
            .current-period > button {
                display: none;
            }
        }
        .product-detail-row.row-4 {
            display: flex;
        }
    }
}
