<preismeldung-readonly-header [preismeldung]="preismeldung$ | async" [priceCountStatus]="currentPriceCountStatus$ | async"></preismeldung-readonly-header>

<div class="detail-tab-bottom-part">
    <h5 class="large">{{ 'heading_information-about-preismeldung' | translate }}</h5>

    <div class="info-table">
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Preis vor Reduktion
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.preisVorReduktion | pefFormatNumber: numberFormattingOptions }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Menge vor Reduktion
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.mengeVorReduktion }} {{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Anzahl Fehlende Preis R
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.fehlendePreiseR.length }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Basispreis
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.basisPreis | pefFormatNumber: numberFormattingOptions }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Basismenge
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.basisMenge }} {{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
            <div class="info-table-cell-heading">
                Preis geführt seit
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.refPreismeldung.preisGueltigSeitDatum }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
        <div class="info-table-row">
            <div class="info-table-cell-heading">
                Internetlink
            </div>
            <div class="info-table-cell-value">
                {{ (preismeldung$ | async)?.preismeldung.internetLink }}
            </div>
            <div class="info-table-cell-heading">
            </div>
            <div class="info-table-cell-value">
            </div>
        </div>
    </div>
    <button ion-button class="reset-button" (click)="resetClicked$.emit()">{{ (!(preismeldung$ | async)?.refPreismeldung ? 'btn_pm-delete' : 'btn_pm-reset') | translate}}</button>
</div>
