@import "../../../../../theme/imports.scss";

preismeldung-info {
    display: flex;
    flex-direction: column;
    background-color: $alto;

    .info-table {
        display: table;
        width: 100%;
    }

    .info-table-row {
        display: table-row;
    }

    .info-table-cell-heading {
        display: table-cell;
        width: 30%;
        max-width: 30%;
        border-bottom: 2px solid $alto;
        padding: 5px 0;
    }

    .info-table-cell-value {
        display: table-cell;
        width: 20%;
        max-width: 20%;
        font-weight: 500;
        border-bottom: 2px solid $alto;
        padding: 5px 0;
    }
}
