<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="header">
        <h3>{{ 'heading_login' | translate }}</h3>
    </div>
    <ion-input
        labelPlacement="stacked"
        [label]="'label.login.benutzername' | translate"
        type="text"
        #username
        formControlName="username"
        autofocus
        autocapitalize="none"
        (keyup.enter)="login()"></ion-input>
    <ion-input
        labelPlacement="stacked"
        [label]="'label.login.passwort' | translate"
        type="password"
        formControlName="password"
        (keyup.enter)="login()"></ion-input>
    <div class="actions">
        <a routerLink="/settings" (click)="navigateToSettings()">
            {{ 'dialog.login.zu_den_einstellungen' | translate }}
        </a>
        <ion-button type="submit">{{ 'btn_login' | translate }}</ion-button>
    </div>
</form>
