<preismeldung-readonly-header [preismeldung]="preismeldung$ | async" [preismeldestelle]="preismeldestelle$ | async"></preismeldung-readonly-header>

<ion-content pef-perfect-virtualscroll-scrollbar [enabled]="isDesktop$ | async">
    <div class="detail-tab-bottom-part">
        <div pef-perfect-scrollbar [enabled]="isDesktop$ | async">
            <h5 class="large">{{ 'heading_information-about-warenkorbposition' | translate }}</h5>

            <div class="info-warenkorb-table">
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_standardmenge' | translate }} </div>
                    <div class="info-warenkorb-cell value">
                        {{ (preismeldung$ | async)?.warenkorbPosition.standardmenge }} {{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit
                        | pefPropertyTranslate }}
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_info' | translate }} </div>
                    <div class="info-warenkorb-cell value" [innerHTML]="(preismeldung$ | async)?.warenkorbPosition.info || '&ndash;'"></div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_beispiele' | translate }} </div>
                    <div class="info-warenkorb-cell value" [innerHTML]="((preismeldung$ | async)?.warenkorbPosition.beispiele | pefPropertyTranslate) || '&ndash;'"></div>
                </div>
                <div class="info-warenkorb-row" *ngIf="!!(preismeldung$ | async)?.refPreismeldung">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_erfassungszeitraum' | translate }} </div>
                    <div class="info-warenkorb-cell value">
                        Von {{ (preismeldung$ | async)?.refPreismeldung?.erhebungsAnfangsDatum }} <br/> bis {{ (preismeldung$
                        | async)?.refPreismeldung?.erhebungsEndDatum }}
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_periodizitaet' | translate }} </div>
                    <div class="info-warenkorb-cell value">
                        {{ 'label_info-warenkorb_preismeldung-wird-erhoben-im' | translate }}:
                        <ul class="month-list">
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 0)">{{ 1 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 1)">{{ 2 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 2)">{{ 3 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 3)">{{ 4 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 4)">{{ 5 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 5)">{{ 6 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 6)">{{ 7 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 7)">{{ 8 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 8)">{{ 9 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 9)">{{ 10 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 10)">{{ 11 | pefMonthTranslate }}</li>
                            <li *ngIf="ifMonth((preismeldung$ | async)?.warenkorbPosition.periodizitaetMonat, 11)">{{ 12 | pefMonthTranslate }}</li>
                        </ul>
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_position-im-warenkorb' | translate }} </div>
                    <div class="info-warenkorb-cell value">
                        <div>TOTAL (100)</div>
                        <div *ngFor="let warenkorbInfo of (parentHierarchy$ | async); let i = index" [style.paddingLeft]="'calc(' + (i + 1) + 'em)'">
                            {{ warenkorbInfo.warenkorbItem.positionsbezeichnung | pefPropertyTranslate }} ({{ warenkorbInfo.warenkorbItem.gliederungspositionsnummer
                            }})
                        </div>
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_erlaubte-normalpreisentwicklung' | translate }}</div>
                    <div class="info-warenkorb-cell value">
                        -{{ (preismeldung$ | async)?.warenkorbPosition.negativeLimite }}%&nbsp;/&nbsp;+{{ (preismeldung$ | async)?.warenkorbPosition.positiveLimite
                        }}%
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_erlaubte-normalpreisentwicklung' | translate }} ({{ 'label_info-warenkorb_code'
                        | translate }}&nbsp;1) </div>
                    <div class="info-warenkorb-cell value">
                        -{{ (preismeldung$ | async)?.warenkorbPosition.negativeLimite_1 }}%&nbsp;/&nbsp;+{{ (preismeldung$ | async)?.warenkorbPosition.positiveLimite_1
                        }}%
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_erlaubte-normalpreisentwicklung' | translate }} ({{ 'label_info-warenkorb_code'
                        | translate }}&nbsp;7) </div>
                    <div class="info-warenkorb-cell value">
                        -{{ (preismeldung$ | async)?.warenkorbPosition.negativeLimite_7 }}%&nbsp;/&nbsp;+{{ (preismeldung$ | async)?.warenkorbPosition.positiveLimite_7
                        }}%
                    </div>
                </div>
                <div class="info-warenkorb-row">
                    <div class="info-warenkorb-cell heading"> {{ 'label_info-warenkorb_anzahl-preismeldungen' | translate }} </div>
                    <div class="info-warenkorb-cell value">
                        ({{ (preismeldung$ | async)?.priceCountStatus.numActivePrices }}&nbsp;/&nbsp;{{ (preismeldung$ | async)?.priceCountStatus.anzahlPreiseProPMS
                        }})
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
