<preismeldung-readonly-header [preismeldung]="preismeldung$ | async"></preismeldung-readonly-header>

<div class="detail-tab-bottom-part">
    <h5 class="large">{{ 'heading_information-about-warenkorbposition' | translate }}</h5>

    <div class="info-warenkorb-table">
        <div class="info-warenkorb-row">
            <div class="info-warenkorb-cell heading">
                Standardmenge
            </div>
            <div class="info-warenkorb-cell value">
                {{ (preismeldung$ | async)?.warenkorbPosition.standardmenge }} {{ (preismeldung$ | async)?.warenkorbPosition.standardeinheit | pefPropertyTranslate }}
            </div>
        </div>
        <div class="info-warenkorb-row">
            <div class="info-warenkorb-cell heading">
                Info
            </div>
            <div class="info-warenkorb-cell value" [innerHTML]="(preismeldung$ | async)?.warenkorbPosition.info || '&ndash;'"></div>
        </div>
        <div class="info-warenkorb-row">
            <div class="info-warenkorb-cell heading">
                Beispiele
            </div>
            <div class="info-warenkorb-cell value">
                {{ (preismeldung$ | async)?.warenkorbPosition.beispiele | pefPropertyTranslate }}
            </div>
        </div>
        <div class="info-warenkorb-row">
            <div class="info-warenkorb-cell heading">
                Periodizität
            </div>
            <div class="info-warenkorb-cell value">
                Preismeldung wird ehoben im:
                <ul class="month-list">
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 0)">{{ 1 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 1)">{{ 2 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 2)">{{ 3 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 3)">{{ 4 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 4)">{{ 5 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 5)">{{ 6 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 6)">{{ 7 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 7)">{{ 8 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 8)">{{ 9 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 9)">{{ 10 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 10)">{{ 11 | pefMonthTranslate }}</li>
                    <li *ngIf="ifMonth((preismeldung$ | async).warenkorbPosition.periodizitaetMonat, 11)">{{ 12 | pefMonthTranslate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
