@import "../../../../../theme/imports.scss";

preismeldung-info-warenkorb {
    display: flex;
    flex-direction: column;
    background-color: $alto;

    ion-content.content-md {
        flex: 1;
    }

    .info-warenkorb-table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .info-warenkorb-row {
        display: table-row;
    }

    .info-warenkorb-cell {
        display: table-cell;
        border-bottom: 2px solid $alto;
        line-height: 1.5em;
        padding: 5px 0;

        &.heading {
            width: 30%;
            padding-right: 1em;
        }

        &.value {
            width: 70%;
            font-weight: 500;
        }
    }

    .month-list {
        margin-top: 0;
        margin-bottom: 0;
    }
}
