cockpit-report {
    display: flex;
    flex-direction: column;

    .load-data {
        align-self: flex-start;
        margin-bottom: 1em;
    }

    .container-wrapper {
        flex: 1;
        display: flex;

        .container {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 1em;

            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }

    form.stacked-form {
        flex: 0 0 auto;
        margin-bottom: 1em;

        select {
            height: 2.5em;
        }
    }

    .list-header {
        background-color: $alto;
        margin-bottom: 0.5em;
        padding-left: 8px;
        .labels {
            display: flex;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        .summary {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            display: flex;
        }
        .name {
            flex: 0 0 40%;
        }
        .heruntergeladene {
            flex: 0 0 15%;
        }
        .offen-nicht-erfasst {
            flex: 0 0 15%;
        }
        .offen-erfasst {
            flex: 0 0 15%;
        }
        .hochgeladene {
            flex: 0 0 15%;
        }
    }

    .status-number {
        display: inline-block;
        padding: 0.25em 0.5em;
        font-weight: 500;
        &.good {
            background-color: $emerald;
        }
    }

    pef-virtual-scroll {
        flex: 1;
    }

    ion-item.pef-advanced-item ion-label.label.label-md {
        display: flex;
        .pef-item-description {
            flex: 0 0 40%;
        }
        .preiserheber-summary {
            flex: 1;
            display: flex;
        }
    }

    .preiserheber-summary {
        .heruntergeladene {
            flex: 0 0 25%;
        }
        .offen-nicht-erfasst {
            flex: 0 0 25%;
        }
        .offen-erfasst {
            flex: 0 0 25%;
        }
        .hochgeladene {
            flex: 0 0 25%;
        }
    }

    ion-item.pef-advanced-item.cockpit-preiserheber:first-of-type {
        margin-bottom: 1.5em;
    }

    .last-synced-at {
        margin-bottom: 1em;
    }
}
