<form [formGroup]="form" class="stacked-form" [class.show-validation-hint]="showValidationHints$ | async">
    <h1 class="large" [ngSwitch]="isEditing$ | async">
        <div *ngSwitchCase="true">Editieren</div>
        <span *ngSwitchDefault>Erfassen</span>
    </h1>
    <ion-list no-lines>
        <ion-item class="pef-item">
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
    </ion-list>
    <button type="button" ion-button (click)="cancelClicked$.emit($event)">Abbrechen</button>
    <button type="button" ion-button color="blue-chill" (click)="saveClicked$.emit($event)">Speichern</button>
</form>
