status-report {
    display: flex;
    flex-direction: column;

    .load-data {
        align-self: flex-start;
        margin-bottom: 1em;
    }

    .container-wrapper {
        flex: 1;
        display: flex;

        .container {
            flex: 1;
            flex-direction: column;
            padding: 1em;

            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }

    form.stacked-form {
        flex: 0 0 auto;
        margin-bottom: 1em;

        select {
            height: 33px;
        }
    }

    .list-header {
        padding-left: 8px;
        > div {
            display: flex;
            margin: 1em 0 1em 0;
        }
        .name { flex: 0 0 50%; }
        .todo { flex: 0 0 16.6%; }
        .done { flex: 0 0 16.6%; }
        .new-preismeldungen { flex: 0 0 16.6%; }
    }

    .status-number {
        padding: 0.25em 0.5em;
        font-weight: 500;
        &.good {
            background-color: $emerald;
        }
    }

    pef-virtual-scroll {
        flex: 1;
    }

    ion-item.pef-advanced-item ion-label.label.label-md {
        display: flex;
        .pef-item-description {
            flex: 1;
        }
        .preiserheber-summary {
            flex: 1;
            display: flex;
        }
    }

    .preiserheber-summary {
        .todo { width: 33.3%; }
        .done { width: 33.3%; }
        .new-preismeldungen { width: 33.3%; }
    }

    .last-synced-at {
        margin-bottom: 1em;
    }
}
