form.stacked-form {
    .item-md.pef-item {
        .input-wrapper {
            height: auto;
        }

        &.item-checkbox {
            margin-top: 1em;

            ion-checkbox {
                margin-right: 0.3em;
            }
            ion-checkbox + .item-inner ion-label {
                font-weight: 500;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 1em;
                color: $outer-space;
            }
        }
    }

    .help-text {
        color: $oslo-gray;
        font-size: 0.8em;
        p { margin: 0; }
    }

    .error-text {
        color: $alizarin-crimson;
        font-size: 0.8em;
        p { margin: 0; }
    }

    ion-input, ion-textarea {
        background-color: $white;
        border-bottom: 2px solid $hit-gray;
        padding-left: 8px;
        padding-right: 8px;
    }

    ion-textarea > textarea {
        height: 4.8em;
    }
}

form {
    &.form-show-validation-hints ion-item.ng-invalid .input-wrapper {
        ion-label {
            color: $flamingo !important;
        }
    }
    &.form-show-validation-hints ion-list[radio-group].ng-invalid {
        .input-wrapper ion-label {
            color: $flamingo !important;
        }
        ion-radio .radio-icon {
            border-color: $flamingo;
        }
    }
    &.form-show-validation-hints .pef-item {
        ion-label.target-ng-invalid {
            color: $flamingo !important;
        }
        select.ng-invalid {
            border-left: 2px solid $flamingo;
        }
    }

    button[color='blue-chill'].button.button-md:hover:not(.disable-hover) {
        background-color: $surfie-green;
    }
}

button.danger.button.button-md {
    background-color: $alizarin-crimson;

    &.button.button-md:hover {
        background-color: $flamingo;
    }
}
