<div class="pms-section" *ngIf="(preiserheber$ | async); let preiserheber">
    <div class="list-header">
        <div class="labels">
            <div class="name">
                <div>
                    {{ preiserheber.erheber.firstName }} {{ preiserheber.erheber.surname }}
                    <ng-container *ngIf="!!preiserheber.erheber.erhebungsregion"
                        >, {{ preiserheber.erheber.erhebungsregion }}</ng-container
                    >
                </div>
                <div
                    [title]="!preiserheber.lastSyncedAt ? '&ndash;' : (preiserheber.lastSyncedAt |
                date: 'medium')">
                    {{'cockpit.detail.synchronisiert' | translate}}
                    <b> {{ !preiserheber.lastSyncedAt ? '&ndash;' : (preiserheber.lastSyncedAt | date: 'medium') }} </b>
                </div>
            </div>
            <div class="heruntergeladene" title="#{{'cockpit.list.anzahl_heruntergeladene' | translate}}">
                <pef-icon name="download"></pef-icon>
            </div>
            <div class="offen-nicht-erfasst" title="#{{'cockpit.list.anzahl_nicht_erfasste' | translate}}">
                <pef-icon name="todo"></pef-icon>
            </div>
            <div class="offen-erfasst" title="#{{'cockpit.list.anzahl_erfasste' | translate}}">
                <pef-icon name="checkmark"></pef-icon>
            </div>
            <div class="hochgeladene" title="#{{'cockpit.list.anzahl_hochgeladene' | translate}}">
                <pef-icon name="upload"></pef-icon>
            </div>
        </div>
    </div>
    <div class="viratual-scroll-wrapper">
        <cdk-virtual-scroll-viewport itemSize="60" minBufferPx="1200" maxBufferPx="1600" class="virtual-scroll">
            <ion-item
                class="pef-advanced-item pms-summary-row"
                *cdkVirtualFor="let pmsSummary of pmsSummaryList$ | async"
                (click)="navigateToPmsEdit(pmsSummary.pms.pmsNummer)">
                <ion-label>
                    <div class="pef-item-description">
                        <div class="text pms-name" title="[{{ pmsSummary.pms.pmsNummer }}] {{ pmsSummary.pms.name }}">
                            [{{ pmsSummary.pms.pmsNummer }}] {{ pmsSummary.pms.name }}
                        </div>
                        <div class="artikel-text">{{ pmsSummary.pms.erhebungsregion }}</div>
                    </div>
                    <div class="entry-summary">
                        <div class="heruntergeladene">
                            <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].synced">
                                {{ pmsSummary.summary[erhebungsZeitpunktKey].total }} / {{
                                pmsSummary.summary[erhebungsZeitpunktKey].newPreismeldungen }}
                            </span>
                        </div>
                        <div class="offen-nicht-erfasst">
                            <span
                                class="status-number"
                                [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].nothingTodo">
                                {{ pmsSummary.summary[erhebungsZeitpunktKey].todo }}
                            </span>
                        </div>
                        <div class="offen-erfasst">
                            <span
                                class="status-number"
                                [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].nothingToUpload">
                                {{ pmsSummary.summary[erhebungsZeitpunktKey].doneButNotUploaded }}
                            </span>
                        </div>
                        <div class="hochgeladene">
                            <span
                                class="status-number"
                                [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].uploadedAll">
                                {{ pmsSummary.summary[erhebungsZeitpunktKey].uploaded }}
                            </span>
                        </div>
                    </div>
                </ion-label>
            </ion-item>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
