@import '../../../../theme/imports.scss';

:host {
    display: flex;
    flex-direction: column;
    background-color: $mercury;
    @include set-padding(0.625, 0.5, 0.625, 0.5);

    .preismeldung-list-flex-container {
        flex: 1;
        background-color: $mercury;
        display: flex;
        flex-direction: column;

        // ion-content.md {
        //     flex: 1;
        //     background-color: transparent;
        // }

        pef-virtual-scroll {
            display: block;
            flex: 1;
        }
    }

    ion-item {
        --inner-padding-end: 0;
        background-color: #{$white};
    }

    ion-button.icon-only {
        --box-shadow: none;
        --border-radius: 2px;
    }

    .preismeldung-list-filter {
        display: flex;
        .pms-search {
            flex: 1;
            margin-left: 5px;
        }
    }

    .preismeldung-list-filter,
    .preismeldung-list-check-filter {
        @include set-margin-bottom(0.5);
    }

    .preismeldung-list-check-filter {
        display: flex;
        align-items: center;
        ion-button {
            @include set-margin-right(1);
            flex: 0 0 2.25em;
        }
    }
    .filter-actions {
        display: flex;
        flex: 0;
        .sort-one {
            position: absolute;
            top: 0.1em;
            right: 0.1em;
        }
    }

    .pms-name {
        flex: 1;
        span {
            @include crop-text();
            white-space: normal;
            text-align: right;
        }
    }

    // .adv-preismeldung-item-draggable is defined in global reorder.scss

    .preismeldung-list-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include set-padding-top(0.625);
    }

    .preismeldung-list-completed-count {
        text-align: center;
    }

    .preismeldung-list-functions,
    .preismeldung-list-arrows {
        ion-button {
            @include set-margin-right(1);
        }
    }

    .record {
        fill: $alizarin-crimson;
    }
}
