@import '../../../theme/imports.scss';
@import '../list-styles.scss';

:host {
    display: flex;
    flex-direction: column;

    .cockpit-actions {
        align-self: flex-start;
        margin-bottom: 1em;

        ion-text {
            padding-left: 10px;
            vertical-align: sub;
        }
    }

    .container-wrapper {
        flex: 1;
        display: flex;
        min-height: 0;

        .container {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 1em;

            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }

    form.stacked-form {
        display: flex;
        flex: 0 0 auto;
        margin-bottom: 4px;
        gap: 20px;
        ::ng-deep ion-input {
            .label-text-wrapper {
                padding: 0;
            }
            .input-wrapper {
                padding: 3px 4px 4px 4px;
                background-color: white;
            }
            min-height: auto !important;
        }
    }

    .last-synced-at {
        margin-bottom: 1em;
    }

    .text {
        @include crop-text();
        vertical-align: sub;
    }

    @include list-styles();
}
