@import '../../../theme/imports.scss';
@import '../list-styles.scss';

:host {
    display: flex;
    flex-direction: column;

    .cockpit-actions {
        align-self: flex-start;
        margin-bottom: 1em;

        ion-text {
            padding-left: 10px;
            vertical-align: sub;
        }
    }

    .container-wrapper {
        flex: 1;
        display: flex;
        min-height: 0;

        .container {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 1em;

            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }

    form.stacked-form {
        display: flex;
        flex: 0 0 auto;
        margin-bottom: 4px;
        justify-content: space-between;

        .spacer {
            flex: 0 0 20px;
        }
        ion-item {
            flex: 1;
        }

        select {
            height: 2.5em;
            margin-bottom: 0;
        }

        .item.md.pef-item ion-label.label-stacked.sc-ion-label-md-h {
            margin-top: 0;
        }
        ion-input {
            height: 2.5em;

            ::ng-deep input {
                height: 100%;
            }
        }
        pef-search-input {
            height: 2.5em;
            width: 100%;
        }
    }

    pef-virtual-scroll {
        flex: 1;
    }

    .last-synced-at {
        margin-bottom: 1em;
    }

    .text {
        @include crop-text();
        vertical-align: sub;
    }

    @include list-styles();
}
