<div class="toolbar toolbar-md" [class.danger-zone]="dangerZone$ | async">
    <ion-buttons class="hidden-on-smaller-screen">
        <ion-button
            *ngFor="let entry of (pages$ | async); trackBy: trackByPageName"
            fill="clear"
            (click)="navigateToPage(entry.page)"
            [id]="'page_' + entry.name"
            [class.active]="entry.active"
        >
            {{ entry.name }}
        </ion-button>
        <ion-button fill="clear" (click)="navigateToPage('settings')" [class.active]="isCurrentPage('settings')">
            <pef-icon name="settings"></pef-icon>
        </ion-button>
        <ion-button size="large" fill="clear" class="fullscreen" (click)="toggleFullscreenClicked$.emit()">
            <pef-icon [name]="(isFullscreen$ | async) ? 'collapse' : 'expand'"></pef-icon>
        </ion-button>
    </ion-buttons>

    <ion-title>
        LIK PreisAdmin
    </ion-title>
    <ion-button class="on-off-line with-shadow" (click)="onOffLineClicked$.emit()">
        {{ (isOffline$ | async) ? 'OFF-LINE' : 'ON-LINE' }}
    </ion-button>
    <ion-button
        class="write-permission with-shadow"
        [disabled]="!(canToggleWritePermission$ | async)"
        (click)="writePermissionClicked$.emit()"
    >
        {{ (hasWritePermission$ | async) ? '✓' : '✗' }} 🖉
    </ion-button>
    <ion-button class="reload with-shadow" (click)="reloadClicked$.emit()">Login <span>&nbsp;↻</span></ion-button>
    <ion-button
        class="save-status icon-only"
        title="Prüfungs-Status speichern"
        (click)="savePreismeldungStatuses$.emit()"
    >
        <pef-icon name="save"></pef-icon>
    </ion-button>
    <pef-icon
        item-right
        name="wifi"
        class="connectivity"
        [class.error]="(canConnectToDatabase$ | async) === false"
        [class.ok]="(canConnectToDatabase$ | async) === true"
    ></pef-icon>
    <div class="shown-on-smaller-screen placeholder"></div>
    <ion-menu-button class="shown-on-smaller-screen" [autoHide]="false">
        <pef-icon name="menu"></pef-icon>
    </ion-menu-button>
</div>

<ion-menu side="end" contentId="content1" type="overlay">
    <ion-content>
        <ion-list>
            <ion-item
                *ngFor="let entry of pages"
                (click)="navigateToPage(entry.page)"
                [class.active]="isCurrentPage(entry.page)"
                >{{ entry.name }}</ion-item
            >
            <ion-item (click)="navigateToPage('settings')" [class.active]="isCurrentPage('settings')">
                Einstellungen
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
