<div class="toolbar toolbar-md" [class.danger-zone]="dangerZone$ | async">
    <ion-buttons>
        <a *ngFor="let entry of pages" ion-button clear href="javascript:" (click)="navigateToPage(entry.page)" [class.active]="isCurrentPage(entry.page)">
            {{ entry.name }}
        </a>
        <a ion-button clear href="javascript:" (click)="navigateToPage('SettingsPage')" [class.active]="isCurrentPage('SettingsPage')">
            <pef-icon name="settings"></pef-icon>
        </a>
    </ion-buttons>

    <ion-title>
        LIK PreisAdmin
    </ion-title>
    <button ion-button class="on-off-line" (click)="onOffLineClicked$.emit()">{{ (isOffline$ | async) ? 'OFF-LINE' : 'ON-LINE' }}</button>
</div>
