.toolbar {
    background-color: $java;
    .toolbar-title {
        color: $white;
    }
    a[ion-button] > span.button-inner {
        color: $white;
    }
}
&.danger-zone {
    .toolbar {
        background-color: $alizarin-crimson;
    }
}
