header {
    .toolbar {
        background-color: $java;
        margin: 0;
        padding: 0;
        min-height: initial;

        &.danger-zone {
            background-color: $alizarin-crimson;
        }
    }

    .toolbar-title {
        color: $white;
    }

    ion-title {
        flex: 0;
    }

    .on-off-line {
        margin-left: 1em;
    }

    ion-buttons {
        flex: 1;
        height: 3em;
        margin: 0;
        padding: 0;
        text-align: right;

        a.button.button-md.button-clear {
            margin: 0;
            height: 100%;

            &.active {
                background-color: $blue-chill;
            }
            &:hover:not(.disable-hover) {
                background-color: $scooter;
            }
            span.button-inner {
                color: $white;
            }
            &.disabled {
                opacity: 0.4;
                &:hover:not(.disable-hover) {
                    background-color: transparent;
                }
            }
        }
    }

    .fullscreen {
        pef-icon {
            width: 1.7em;
            height: 1.7em;
        }
    }

    pef-icon.connectivity {
        margin: 0 0 0 0.5em;
        stroke: transparent;
        fill: $white;
        &.error {
            fill: $alizarin-crimson;
        }
        &.ok {
            fill: $emerald;
        }
    }

    pef-icon {
        stroke: $white;
    }
}
