.export-completed {
    margin-top: 0.8em;
}

ion-content.content-md {
    background-color: transparent;
}

.container {
    padding: 0.2em;
}

.error-messages {
    user-select: text;
    max-height: 110px;
    overflow-y: auto;
    margin-bottom: -25px;
}

form {
    font-size: 16px;
}
