<div class="pef-dialog-message">
    <h3>
        <pef-icon name="info"></pef-icon>
        Passwort zurücksetzen
    </h3>
    <form [formGroup]="form" class="stacked-form">
        <p>
            <ion-list no-lines>
                <ion-item class="pef-item">
                    <ion-label stacked>Passwort</ion-label>
                    <ion-input type="password" formControlName="password" maxlength="35"></ion-input>
                </ion-item>
            </ion-list>

            <span class="error" *ngIf="!!(resetError$ | async)">
                {{resetError$ | async}}
            </span>
        </p>
        <div class="pef-dialog-button-row">
            <button ion-button (click)="viewCtrl.dismiss('ABBORT_RESET')" color="primary">Abbrechen</button>
            <button type="submit" ion-button (click)="resetPasswordClicked$.emit($event)" color="secondary">Zurücksetzen</button>
        </div>
    </form>
</div>

