@import '../../theme/imports.scss';

:host {
    .pef-toolbar {
        flex: 0 0 5.25em;
        max-width: 5.25em;
        background-color: $java;
        order: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .toolbar-title {
        display: flex;
    }

    .app-title {
        font-weight: bold;
        padding-right: 2em;
    }

    ion-content.md {
        background-color: transparent;
    }

    .dashboard-content {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .app-info-container {
        flex: 0 0 auto;
    }

    .app-name {
        font-weight: bold;
        letter-spacing: 1px;
        @include set-padding-top-bottom(2.25, 1.25);
        display: flex;
        justify-content: center;
    }

    .person-button {
        width: 100%;
    }

    .person-icon {
        height: 3em;
        width: 3em;
        border-radius: 1.5em;
        background-color: $scooter;
        fill: white;
        pef-icon {
            margin-top: 6px;
            margin-left: 6px;
        }
    }

    .settings-buttons-container {
        display: flex;
        flex-direction: column;
        @include set-padding-bottom(1.5);
    }

    ion-button.pef-toolbar-button {
        height: 3em;
        border-radius: 0;
        margin: 0;
        padding: 0;
        --background: transparent;
        --box-shadow: none;
        transition-property: background-color, color;
        fill: white;
        color: white;
        &:hover {
            background-color: transparent;
        }
    }

    .work-area {
        flex: 1;
        display: flex;
        background-color: $alto;
        @include set-padding-vert-horiz(1, 1.5);
    }

    .preismeldestellen {
        display: flex;
        flex-direction: column;
        flex: 0 1 66.6%;
        @include set-margin-right(0.75);
        @include set-padding(1.5, 1, 1, 1);
        background-color: $mercury;
    }

    .header-line {
        display: flex;

        h3 {
            flex: 1;
        }
    }

    .current-time {
        align-self: flex-end;
        font-weight: 500;
        line-height: 1.25em;
        margin: 0 0 1em 0;
    }

    .pms-search {
        @include set-margin-bottom(1.25);
    }

    .preismeldungen-scroll {
        flex: 1;
    }

    .pms-scroll-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .pms-header-table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .pms-header-row {
        display: table-row;
    }

    .pms-header-cell {
        @include set-height(3.5);
        display: table-cell;
        @include set-padding-bottom(0.25);
        position: relative;

        &.pms-nummer {
            width: 7.5em;
        }
        &.pms-name {
            width: calc(100% - (3 * 7.5em + 3.5em + 6em + 6.25em));
            .pms-header-cell-content {
                @include set-padding-left(1);
            }
        }
        &.pms-flag {
            width: 3.5em;
        }
        &.pms-open-unsaved {
            width: 3.5em;
        }
        &.pms-open-saved {
            width: 3.5em;
        }
        &.pms-uploaded {
            width: 6em;
        }
        &.pms-actions {
            width: 6.25em;
        }
    }

    .pms-header-cell-content {
        position: absolute;
        top: 0;
        background-color: $alto;
        height: calc(100% - 4px);
        width: 100%;
        display: flex;
        align-items: center;
        color: $trout;
        fill: $oslo-gray;
    }

    .pms-detail-link {
        margin: 0;
        padding: 0;
        font-size: 1em;
        .button-inner {
            justify-content: flex-start;
        }
        pef-icon {
            width: 30px;
            @include set-margin-right(1);
        }
        pef-floating-icon {
            right: 0.95rem;
        }
    }

    .pms-table {
        display: block;
        width: 100%;
        table-layout: fixed;
    }

    .pms-row {
        display: flex;
        right: 0;
        @include set-height(3.5);
    }

    .pms-cell {
        height: 100%;
        position: relative;

        &.pms-nummer {
            flex: 0 1 7.5em;
            .pms-cell-content {
                @include set-padding-left(1);
                font-weight: 500;
            }
        }
        &.pms-name {
            flex: 1;
            .pms-cell-content {
                font-weight: 500;
            }
        }
        &.pms-flag {
            flex: 0 1 3.5em;
        }
        &.pms-open-unsaved {
            flex: 0 1 3.5em;
        }
        &.pms-open-saved {
            flex: 0 1 3.5em;
        }
        &.pms-uploaded {
            flex: 0 1 6em;
        }
        &.pms-actions {
            flex: 0 0 6.25em;
            .pms-cell-content {
                @include set-padding-right(1);
                justify-content: flex-end;
            }
            ion-button {
                --background: #{$scooter};
                &[disabled] {
                    opacity: 0.5;
                }
            }
        }
    }

    .pms-cell-content {
        background-color: white;
        position: absolute;
        top: 0;
        height: calc(100% - 4px);
        padding-left: 8px;
        width: 100%;
        display: flex;
        align-items: center;

        a:first-of-type {
            margin-right: 0.5em;
        }

        &.completed-pms {
            color: $sea-green;
        }
    }

    .pms-name-text {
        @include crop-text();
    }

    ion-button.price-entry-button {
        @include button-color($scooter, white);
    }

    .preismeldungen {
        display: flex;
        flex-direction: column;
        flex: 0 1 33.3%;
        @include set-margin-left(0.75);
        @include set-padding-vert-horiz(1.5, 1);
        background-color: $mercury;
        padding-bottom: 0.5em !important;

        .header-line h3 {
            margin-bottom: 0.5em;
        }

        .row {
            display: flex;
            flex-direction: row;

            .number {
                flex: 0 1 4.5em;
                font-weight: 500;
                text-align: right;
                padding-right: 1em;
            }
            .text {
                flex: 1;
            }
        }
        .statistics {
            flex: 1;
            margin-top: 2em;

            .row {
                margin: 0.625em 0;
                align-items: center;

                pef-icon {
                    fill: $oslo-gray;
                }
            }
        }
        .actions {
            background-color: $white;
            padding: 0.75em 1em;
            margin: 0 -0.5em;
            display: flex;
            flex-direction: column;
            align-content: flex-start;

            .row {
                margin: 1em 0;
            }

            .status {
                display: flex;
                align-self: flex-end;

                span.error {
                    flex: 1;
                    align-self: center;
                    padding: 0 0.5em;
                    color: $alizarin-crimson;
                    fill: $alizarin-crimson;
                }

                pef-icon {
                    flex: 0;
                    flex-basis: 2em;
                    &.syncing {
                        fill: $oslo-gray;
                    }
                    &.connectivity {
                        fill: $emerald;
                        &.error {
                            fill: $alizarin-crimson;
                        }
                    }
                }
            }

            .buttons {
                align-self: flex-end;
            }
        }
    }
    .info {
        flex: 1;
    }

    h2 {
        font-size: 1em;
        margin: 0 0 1em 0;
    }
}

@media print {
    dashboard .dashboard-content {
        display: none;
    }
    dashboard.ion-page {
        position: static;
        height: initial;
    }
}
