@import "../../../../theme/imports.scss";

dialog-choose-percentage-reduction {

    .percentage-button-row {
        &.first-row {
            margin-left: 4em;
        }
        button {
            width: 4em;
        }
    }

    .separator {
        border-top: 1px solid $mercury;
        margin: 1.5em 0;
    }

    .input-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        ion-item {
            width: 15em;
        }
    }

    ion-input {
        max-width: 6em;
    }

}
