<div class="row">
    <form [formGroup]="form">
        <div formArrayName="kontaktpersons">
            <div class="column" [formGroupName]="0">
                <h5>1. Kontaktperson</h5>
                <ion-list>
                    <ion-item class="pef-item">
                        <ion-label stacked>Vorname</ion-label>
                        <ion-input type="text" formControlName="firstName"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Name</ion-label>
                        <ion-input type="text" formControlName="surname"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Funktion</ion-label>
                        <ion-input type="text" formControlName="personFunction"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Telefon</ion-label>
                        <ion-input type="text" formControlName="telephone"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Mobile</ion-label>
                        <ion-input type="text" formControlName="mobile"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Fax</ion-label>
                        <ion-input type="text" formControlName="fax"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>E-Mail</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-list>
            </div>
            <div class="column" [formGroupName]="1">
                <h5>2. Kontaktperson</h5>
                <ion-list>
                    <ion-item class="pef-item">
                        <ion-label stacked>Vorname</ion-label>
                        <ion-input type="text" formControlName="firstName"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Name</ion-label>
                        <ion-input type="text" formControlName="surname"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Funktion</ion-label>
                        <ion-input type="text" formControlName="personFunction"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Telefon</ion-label>
                        <ion-input type="text" formControlName="telephone"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Mobile</ion-label>
                        <ion-input type="text" formControlName="mobile"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>Fax</ion-label>
                        <ion-input type="text" formControlName="fax"></ion-input>
                    </ion-item>
                    <ion-item class="pef-item">
                        <ion-label stacked>E-Mail</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h5>Erhebungsart</h5>
                <ion-list radio-group class="padding-to-header" formControlName="erhebungsart">
                    <ion-item>
                        <ion-label>Vor Ort mit Tablet</ion-label>
                        <ion-radio value="tablet"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Telefon</ion-label>
                        <ion-radio value="telefon"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Internet</ion-label>
                        <ion-radio value="internet"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Papierliste (persönlich)</ion-label>
                        <ion-radio value="paper-in_person"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Papierliste (an Preismeldestelle abgegeben)</ion-label>
                        <ion-radio value="paper_x"></ion-radio>
                    </ion-item>
                </ion-list>
            </div>
            <div class="column">
                <h5>Erhebungshäufigkeit</h5>
                <ion-list radio-group class="padding-to-header" formControlName="erhebungshaeufigkeit">
                    <ion-item>
                        <ion-label>Monatlich</ion-label>
                        <ion-radio value="monthly"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Quartalsweise</ion-label>
                        <ion-radio value="quarterly"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Halbjährlich</ion-label>
                        <ion-radio value="half-yearly"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Jährlich</ion-label>
                        <ion-radio value="yearly"></ion-radio>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="double-column">
            <h5>Bemerkungen zur Erhebungsart</h5>
            <ion-list class="padding-to-header">
                <ion-item class="pef-item">
                    <ion-textarea formControlName="erhebungsartComment"></ion-textarea>
                </ion-item>
            </ion-list>
        </div>
    </form>
</div>
