<div class="pms-section" *ngIf="!!(preiserheber$ | async)">
    <h3>
        <span>{{ (preiserheber$ | async).erheber.firstName }} {{ (preiserheber$ | async).erheber.surname }}</span>
        <span *ngIf="!!((preiserheber$ | async).erheber.erhebungsregion)">, {{ (preiserheber$ | async).erheber.erhebungsregion }}</span>
    </h3>
    <div class="last-synced-at">Zuletzt synchronisiert am:
        <b>{{ !(preiserheber$ | async).lastSyncedAt ? '&ndash;' : ((preiserheber$ | async).lastSyncedAt | date: 'medium') }}</b>
    </div>
    <div class="pms-summary-header">
        <div class="name"></div>
        <div class="todo">todo</div>
        <div class="done">done</div>
        <div class="new-preismeldungen">neu</div>
    </div>
    <pef-virtual-scroll [items]="(pmsSummaryList$ | async)" (update)="pmsSummaryList = $event" pef-perfect-scrollbar [enabled]="true"
        [scrollToTop]="(pmsSummaryList$ | async)">
        <ion-item class="pef-advanced-item pms-summary-row" *ngFor="let pmsSummary of pmsSummaryList" (click)="navigateToPmsEdit(pmsSummary.pms.pmsNummer)"
            tappable>
            <div class="pef-item-description name">
                <div class="text pms-name">[{{pmsSummary.pms.pmsNummer}}] {{ pmsSummary.pms.name }}</div>
                <div class="artikel-text">{{ pmsSummary.pms.erhebungsregion }}</div>
            </div>
            <div class="todo">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].todo == pmsSummary.summary[erhebungsZeitpunktKey].todoSynced">{{ pmsSummary.summary[erhebungsZeitpunktKey].todo }}</span>
            </div>
            <div class="done">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].doneUploaded == pmsSummary.summary[erhebungsZeitpunktKey].todo">{{ pmsSummary.summary[erhebungsZeitpunktKey].done }}</span>
            </div>
            <div class="new-preismeldungen">
                <span class="status-number" [class.good]="pmsSummary.summary[erhebungsZeitpunktKey].doneUploaded == pmsSummary.summary[erhebungsZeitpunktKey].todo">{{ pmsSummary.summary[erhebungsZeitpunktKey].newPreismeldungen }}</span>
            </div>
        </ion-item>
    </pef-virtual-scroll>
</div>
