cockpit-report-detail {
    flex: 1;
    display: flex;

    h3 {
        word-spacing: -0.25em;
        span {
            word-spacing: normal;
        }
    }

    .pms-section {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .pms-summary-header,
    .pms-summary-row {
        display: flex;
        .name {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 0;
            .pms-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }
        .heruntergeladene {
            flex: 0 0 15%;
        }
        .offen-nicht-erfasst {
            flex: 0 0 15%;
        }
        .offen-erfasst {
            flex: 0 0 15%;
        }
        .hochgeladene {
            flex: 0 0 15%;
        }
    }

    .pms-summary-header {
        background-color: $alto;
        div {
            padding: 1em 0 1em 0;
        }
    }

    .pms-summary-row {
        border-bottom: 1px solid $hit-gray;
        &:first-of-type {
            margin-top: 1em;
            border-top: 1px solid $hit-gray;
        }
        > div {
            padding: 0.5em 0;
            display: flex;
            align-items: center;
        }
    }

    .pms-name {
        font-weight: 500;
        color: $blue-chill;
    }

    .status-number {
        padding: 0.25em 0.5em;
        font-weight: 500;
        &.good {
            background-color: $emerald;
        }
    }
}
