<form>
    <div class="header">
        <h3>{{ 'heading_login' | translate }}</h3>
    </div>
    <ion-item>
        <ion-label position="stacked">{{ 'label_login_username' | translate }}</ion-label>
        <ion-input
            type="text"
            [(ngModel)]="username"
            [ngModelOptions]="{ standalone: true }"
            autocapitalize="none"
        ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">{{ 'label_login_password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }"></ion-input>
    </ion-item>
    <div class="actions">
        <a (click)="navigateToSettings()" href="javascript:">
            {{ 'a_navigate-to-settings' | translate }}
        </a>
        <ion-button type="submit" (click)="login()">{{ 'btn_login' | translate }}</ion-button>
    </div>
</form>
