.ion-page preismeldung-list {
    .preismeldung-list-container {
        flex: 0 1 calc(50% - 8px);
        display: flex;
        flex-direction: column;
        @include set-margin(0, 0.5, 0, 0);
        @include set-padding(1, 1, 1, 1);

        .header h1 {
            flex: 1;
            display: flex;
            justify-content: space-between;
            div {
                flex: 0 1 auto;
                .close {
                    cursor: pointer;
                }
            }
        }

        h2 {
            margin: 0;
            margin-top: 16px;
        }
        h2:first {
            margin-top: 0;
        }

        .stacked-form {
            select {
                box-shadow: none;
            }
            ion-input {
                padding: 0;
                border-bottom: none;
            }
            ion-list > {
                .pef-item,
                pef-typeahead {
                    display: block;
                    margin-bottom: 8px;
                }
            }
        }
        .item-md.item-block .item-inner {
            padding-right: 0;
        }
    }
    select.item-md {
        width: 100%;
        @include set-margin-bottom(1.25);
        height: 48px;
        border: 1px;
        border-radius: 2px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .preismeldung-status-done {
        max-width: 5em;
        flex: 0 0 5em;
        display: flex;
        flex-direction: column;
        .code {
            margin-right: 8px;
            text-align: right;
            color: orange;
            font-weight: bold;
        }
        .percentage {
            margin-right: 8px;
            text-align: right;
        }
    }

    .pef-advanced-item {
        .pef-item-description {
            width: calc(100% - 9em);
            max-width: calc(100% - 9em);
        }
        &[tappable]:hover:not(.selected) {
            .percentage {
                color: $white;
            }
        }
        .pef-item-status {
            margin-left: 1em;
        }
    }
    pef-search-input .pef-search .item-inner {
        padding-right: 0;
    }
}
