<div class="pef-advanced-item-flex-container">
    <select (change)="preismeldestelleNummerSelected$.emit($event.target.value)" class="item-md">
        <option [selected]="!!(resetSelectedPreismeldestelle$ | async)" value="">Preismeldestelle auswählen</option>
        <option *ngFor="let preismeldestelle of preismeldestellen$ | async" [selected]="(selectedPreismeldestelleNummer$ | async) === preismeldestelle.pmsNummer"
            [value]="preismeldestelle.pmsNummer">{{preismeldestelle.pmsNummer}}&nbsp;&nbsp;&nbsp;{{preismeldestelle.name}}</option>
    </select>
    <pef-search-input class="pms-search" (valueChanges)="filterTextValueChanges$.emit($event)"></pef-search-input>
    <div *ngIf="!!(status$ | async)">{{ status$ | async }}</div>
    <ion-content pef-perfect-virtualscroll-scrollbar enabled="true">
        <ion-list [virtualScroll]="filteredPreismeldungen$ | async" approxItemHeight="50px" [class.hidden]="(filteredPreismeldungen$ | async).length === 0">
            <ion-item class="pef-advanced-item" *virtualItem="let bag" (click)="selectPreismeldung$.emit(bag)" [class.selected]="bag.pmId == (currentPreismeldung$ | async)?.pmId"
                tappable>
                <div class="pef-item-title">
                    {{ bag.preismeldung.epNummer }}
                    <br/>&nbsp;
                </div>
                <div class="pef-item-description">
                    <span class="text">{{ bag.warenkorbPosition.positionsbezeichnung.de }}</span>
                    <span class="artikel-text" [innerHTML]="bag.preismeldung.artikeltext || '&ndash;'"></span>
                </div>
                <div class="preismeldung-status-done" *ngIf="bag.preismeldung.istAbgebucht">
                    <div class="code" [innerHTML]="bag.preismeldung.bearbeitungscode == 99 ? '&nbsp;' : getBearbeitungscodeDescription(bag.preismeldung.bearbeitungscode)"></div>
                    <div class="percentage" [innerHTML]="formatPercentageChange(bag.preismeldung)"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
