<div class="container-wrapper" *ngIf="reportData">
    <div class="container">
        <ng-container *ngIf="reportData">
            <table class="report-table">
                <thead>
                    <tr>
                        <th>{{'reporting.lik_monatsbericht' | translate}}</th>
                        <th>{{'reporting.pms_probleme.titel' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'text_erhebungsmonat' | translate }}</td>
                        <td>{{ reportData.zeitpunkt.erhebungsmonat }}</td>
                    </tr>
                    <tr>
                        <td>{{'reporting.erstellungsdatum' | translate}}</td>
                        <td>{{ reportData.zeitpunkt.erstellungsdatum }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>{{'reporting.pms_probleme.pms_geschlossen' | translate}}</th>
                        <th>{{'reporting.pms_probleme.grund' | translate}}</th>
                        <th>{{'reporting.pms_probleme.zusatzinfo' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pmsGeschlossen of reportData.pmsGeschlossen">
                        <td>{{ pmsGeschlossen.name }}</td>
                        <td>{{ pmsGeschlossen.grund }}</td>
                        <td class="no-wrap">{{ pmsGeschlossen.zusatzinfo }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>
