<div class="header">
    <h1 class="large">{{'label.pm.titel' | translate}}</h1>
</div>
<ion-row>
    <ion-col>
        <label>{{'import.pm_import' | translate}}</label>
    </ion-col>
    <ion-col>
        <input
            *ngIf="(hasWritePermission$ | async)"
            class="file-select-btn"
            type="file"
            (change)="preismeldungenSelected$.emit($event)"
            [value]="(resetInputValue$ | async)?.value"
            required />
    </ion-col>
</ion-row>
<div class="actions">
    <ion-text *ngIf="(arePreismeldungenImported$ | async)" color="primary"
        >{{'import.pm_erfolgreich' | translate}}. {{'import.anzahl_erfolgreich' | translate: { count:
        preismeldungenImportedCount$ | async } }}</ion-text
    >
</div>
