controlling-page {
    .page-wrapper {
        flex-direction: column;
    }
    stichtage {
        display: flex;
    }
    controlling-report {
        display: flex;
        margin-top: 30px;
    }
}
