@import "../../theme/variables.scss";

price-entry {
    .price-entry-container {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .product-details-container {
        flex: 2;
        display: flex;
        padding: 12px 12px 12px 24px;
    }
    .product-list-container {
        flex: 1;
        display: flex;
        padding: 12px 24px 12px 12px;
    }

    .product-details {
        flex: 1;
        background-color: $athens-gray;
    }

}
