@import "../../theme/imports.scss";

price-entry.ion-page {
    .price-entry-content {
        height: 100%;
        width: 100%;
        display: flex;
    }

    product-toolbar {
        flex: 0 0 5.25em;
        max-width: 5.25em;
        // order: 1;
    }

    .work-area {
        flex: 1;
        display: flex;
        background-color: $alto;
        @include set-padding-vert-horiz(1, 1.5);
    }

    .product-details-container {
        flex: 0 1 66.6%;
        display: flex;
        @include set-padding-right(0.75);

        .content-md {
            background-color: $mercury;
        }
    }

    .product-list-container {
        flex: 0 1 33.3%;
        display: flex;
        @include set-padding-left(0.75);
    }

    product-list {
        flex: 1;
    }
}
