<h3>price entry</h3>
<!--<a ion-button clear [href]="'#/price-entry/10025?position-number=' + product.erhebungspositionsnummer" *ngFor="let product of products$ | async" style="display: block;">{{ product.erhebungspositionsnummer }} - {{ product.text}} - {{ product.laufnummer }}</a>-->
<a ion-button clear href="javascript:" (click)="navigate(product._id)" *ngFor="let product of products$ | async" style="display: block;">{{ product.erhebungspositionsnummer }} - {{ product.text}} - {{ product.laufnummer }}</a>
