<div class="price-entry-content">
    <product-toolbar
        [product]="selectedProduct$ | async"
        (selectedTab)="selectTab$.emit($event)"
        (buttonClicked)="toolbarButtonClicked$.emit($event)"
        ></product-toolbar>
    <div class="work-area">
        <div class="product-details-container">
            <ion-content>
                <product-detail-messages
                    *ngIf="(selectedTab$ | async) == 'MESSAGES'"
                    [product]="selectedProduct$ | async"></product-detail-messages>
                <product-detail-preismeldung
                    *ngIf="(selectedTab$ | async) == 'PREISMELDUNG'"
                    [product]="selectedProduct$ | async"></product-detail-preismeldung>
            </ion-content>
        </div>
        <div class="product-list-container">
            <product-list
                [products]="products$ | async"
                (selectedProduct)="selectProduct$.emit($event)"
                [isDesktop]="isDesktop$ | async"></product-list>
        </div>
    </div>
</div>
