<div class="edit-preismeldung-wrapper" *ngxLet="(currentPreismeldung$ | async); let currentPreismeldung">
    <ion-button size="large" fill="clear" class="close-button" color="white" (click)="_closeClicked$.emit($event)">
        {{ 'btn_close' | translate }}
        <pef-icon name="close_screen"></pef-icon>
    </ion-button>
    <div class="edit-wrapper">
        <preismeldung-toolbar
            *ngIf="!!currentPreismeldung"
            [preismeldung]="currentPreismeldung"
            [selectedTab]="selectedTab$ | async"
            (selectTab)="selectTab$.emit($event)"
            [isAdminApp]="true"
            (buttonClicked)="toolbarButtonClicked$.emit($event)"
            [disableQuickEqual]="quickEqualDisabled$ | async"
        >
        </preismeldung-toolbar>
        <div class="tab-container" *ngIf="!!currentPreismeldung">
            <preismeldung-info-warenkorb
                [class.display-none]="(selectedTab$ | async) != 'INFO_WARENKORB'"
                [isDesktop]="true"
                [preismeldung]="currentPreismeldung"
                [preismeldestelle]="preismeldestelle"
                [warenkorb]="warenkorb$ | async"
                [isAdminApp]="true"
            >
                <ng-container *ngTemplateOutlet="additionalActions"></ng-container>
            </preismeldung-info-warenkorb>
            <preismeldung-info
                [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG_INFO'"
                [isDesktop]="true"
                [preismeldung]="currentPreismeldung"
                [preismeldestelle]="preismeldestelle"
                (resetClicked)="resetPreismeldung$.emit()"
                [isAdminApp]="true"
            >
                <ng-container *ngTemplateOutlet="additionalActions"></ng-container>
            </preismeldung-info>
            <preismeldung-attributes
                [class.display-none]="(selectedTab$ | async) != 'PRODUCT_ATTRIBUTES'"
                [preismeldung]="currentPreismeldung"
                [isDesktop]="true"
                [preismeldestelle]="preismeldestelle"
                (preismeldungAttributesPayload)="updatePreismeldungAttributes$.emit($event)"
                [isAdminApp]="true"
            >
                <ng-container *ngTemplateOutlet="additionalActions"></ng-container>
            </preismeldung-attributes>
            <preismeldung-messages
                [class.display-none]="(selectedTab$ | async) != 'MESSAGES'"
                [isActive]="(selectedTab$ | async) == 'MESSAGES'"
                [preismeldung]="currentPreismeldung"
                [preismeldestelle]="preismeldestelle"
                [isDesktop]="true"
                (preismeldungMessagesPayload)="updatePreismeldungMessages$.emit($event)"
                (kommentarClearClicked)="kommentarClearClicked$.emit()"
                [isAdminApp]="true"
            >
                <ng-container *ngTemplateOutlet="additionalActions"></ng-container>
            </preismeldung-messages>
            <preismeldung-price
                [class.display-none]="(selectedTab$ | async) != 'PREISMELDUNG'"
                [preismeldung]="currentPreismeldung"
                [isDesktop]="true"
                [preismeldestelle]="preismeldestelle"
                [requestPreismeldungQuickEqual]="requestPreismeldungQuickEqual$ | async"
                (preismeldungPricePayload)="updatePreismeldungPreis$.emit($event)"
                (duplicatePreismeldung)="duplicatePreismeldung$.emit()"
                (requestSelectNextPreismeldung)="requestSelectNextPreismeldung$.emit({})"
                (requestThrowChanges)="requestThrowChanges$.emit({})"
                [isAdminApp]="true"
                (save)="savePreismeldungPrice$.emit($event)"
                (disableQuickEqual)="disableQuickEqual$.emit($event)"
            >
                <ng-container *ngTemplateOutlet="additionalActions"></ng-container>
            </preismeldung-price>
            <div class="pe-details">{{ preiserheber?.firstName }} {{ preiserheber?.surname }}</div>

            <ng-template #additionalActions>
                <div class="additional-actions">
                    <pef-pm-status
                        [disabled]="currentPreismeldung.exported"
                        [preismeldungStatus]="preismeldungenStatus[currentPreismeldung.pmId]"
                        (setPreismeldungStatus)="
                            setPreismeldungStatus$.emit({ pmId: currentPreismeldung.pmId, status: $event })
                        "
                    ></pef-pm-status>
                </div>
            </ng-template>
        </div>
    </div>
</div>
