<div class="content">
    <div class="work-area">
        <div class="help"></div>
        <div class="right-side">
            <div class="function-buttons">
                <button ion-button color="wild-sand" [class.active]="multiSelectMode$ | async" (click)="multiSelectClick$.emit()">
                    <pef-icon name="sortierung_zahlen"></pef-icon>
                </button>
                <button ion-button color="wild-sand" [disabled]="!(multiSelectMode$ | async)" (click)="multiSelectResetClick$.emit()">
                    {{ 'btn_reset-selection' | translate }}
                </button>
            </div>
            <div class="pm-container">
                <pef-virtual-scroll [items]="preismeldungen$ | async" (update)="scrollList = $event" pef-perfect-scrollbar [enabled]="isDesktop$ | async">
                    <div *ngFor="let bag of scrollList" class="preismeldung-item-draggable" [attr.data-pmid]="bag.pmId" [class.multi-select]="!!(multiselectIndexes$ | async)[bag.pmId]">
                        <div class="when-dragging">
                            <div class="inner-part">
                                <div class="message">
                                    Many Preismeldungen
                                </div>
                                <button class="drag-handle">
                                    <pef-icon name="stroke"></pef-icon>
                                </button>
                            </div>
                        </div>
                        <div class="when-not-dragging">
                            <button ion-button class="selection-button active" [class.visibility-hidden]="!(multiSelectMode$ | async)" (click)="selectForMultiselect$.emit(bag.pmId)">{{ (multiselectIndexes$ | async)[bag.pmId] }}</button>
                            <div class="box-part">
                                <div class="preismeldung-position-number">
                                    {{ bag.preismeldung.epNummer }}<br/>&nbsp;
                                </div>
                                <div class="preismeldung-description">
                                    <span class="text">{{ bag.warenkorbPosition.positionsbezeichnung | pefPropertyTranslate }}</span>
                                    <span class="artikel-text" [innerHTML]="bag.preismeldung.artikeltext || '&ndash;'"></span>
                                </div>
                                <button class="drag-handle" [disabled]="(multiSelectMode$ | async) && !(multiselectIndexes$ | async)[bag.pmId]">
                                    <pef-icon name="stroke"></pef-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </pef-virtual-scroll>
            </div>
        </div>

    </div>
    <div class="button-container">
        <button ion-button color="primary" (click)="save$.emit()" [disabled]="!(isModified$ | async)">{{ 'btn_order-save' | translate }}</button>
        <button ion-button color="secondary" (click)="cancel$.emit()">{{ 'btn_cancel' | translate }}</button>
    </div>
</div>
