// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @import "../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.css";
@import "../theme/variables.scss";

// .gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../assets/fonts/Roboto-Medium.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../assets/fonts/Roboto-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, ion-app.md {
    font-family: 'Roboto', sans-serif !important;
    background-color: $outer-space;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3, h4 {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 500;
    margin: 0 0 1em 0;
    &.large {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

h5, h6 {
    font-size: 0.75em;
    line-height: 1em;
    font-weight: 500;
    margin: 0 0 0.5em 0;
}

.app-root.pef-desktop {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

ion-content[no-scroll] {
    >.scroll-content {
        overflow-y: hidden;
    }
}

// Button overrides

.button[icon-only] {
    min-width: calc(2.25em + 4px);
}

.button-md {
    text-transform: none;
    transition: opacity 150ms;
    &:hover:not(.disable-hover) {
        opacity: 0.7;
    }
    &.align-right {
        padding-right: 0;
        margin-right: 0;
    }
}

.button-large-md {
    font-size: 1.6rem;
    height: 3.6rem;
}

.button-clear-md:hover:not(.disable-hover) {
    background-color: initial;
}

.pef-toolbar {
    flex: 0 0 5.25em;
    max-width: 5.25em;
    background-color: $java;
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pef-scroll-container {
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 1280px) {
    html {
        /*font-size: 0.78125vw;*/
        font-size: 0.85vw;
    }
}
