@import '../../../theme/imports.scss';

controlling-report {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top-section {
        display: flex;
        flex: 0 0 auto;

        .filter {
            display: flex;
            align-self: flex-start;
            flex-direction: column;

            .status {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ion-list {
                    display: flex;
                    ion-item {
                        width: auto;
                    }
                }
            }
            .controlling {
                align-self: flex-start;
            }
        }
        .actions {
            display: flex;
            align-self: flex-end;
        }
    }

    .btn-execute,
    pef-zoom {
        margin: 0 0 0 20px;
    }

    .controlling-selected {
        padding: 6px 8px;
    }

    .table-wrapper {
        margin-top: 20px;
        overflow: auto;
        flex: 1;
        user-select: text;
    }

    .report-table {
        min-width: 100%;

        .align-right {
            text-align: right;
        }

        tr:nth-child(odd) {
            background-color: darken($alto, 3%);
        }
        th {
            background-color: $alto;
            position: sticky;
            top: 0;
            white-space: nowrap;
            text-align: left;
            padding-right: 10px;
            padding-bottom: 8px;
            &.collapsable {
                cursor: pointer;
            }
        }

        td {
            white-space: nowrap;
            padding-right: 10px;
        }

        .collapsed {
            min-width: 15px;
            padding: 0;
            font-size: 0;
            border: 0px solid $trout;
            border-left-width: 1px;
            border-right-width: 1px;
            background-color: lighten($trout, 50%);

            & + td,
            & + th {
                padding-left: 10px;
            }
        }
    }

    .edit-pm {
        fill: white;
        margin: 2px 0;
        padding: 1px;
        height: auto;
    }
    .additional-actions {
        margin-left: 20px;
    }
}
